[2021-07-12 08:42] erombouts commented on #2012
Changes via a PR submitted.

[2021-07-12 08:42] #2012 closed

[2021-07-14 07:33] john-fk opened #2015 "Email trailing period was considered valid"
### Describe the problem
Email address accepts something@somehing.

### What was the expected behavior?
Should not be processed if it ends with a trailing period.

Running on Auth0 11.30.3
https://cdn.auth0.com/js/lock/11.30.3/lock.min.js

[2021-07-16 21:45] stevehobbsdev commented on #2015
Thanks for the report @john-fk. Are you seeing this on the login pane or the sign-up pane?

[2021-07-17 13:07] john-fk commented on #2015
Hi! Both in Login & Sign up pane, (while typing invalid emails are still blocked before submitting).. also double @ symbol, but I think the trailing period is a more probable typo for a user to perform.

[2021-07-20 14:36] stevehobbsdev commented on #2015
Thanks. So Lock today employs either strict or loose validation on the signup page on the client. You can set `signUpFieldsStrictValidation: true` (it's `false` by default) and email addresses into the signup page will use [`validator`](https://www.npmjs.com/package/validator) to validate email addresses. When set to `false` or left as default, [a _much_ looser validation method](https://github.co

[2021-07-20 17:57] #2015 closed

[2021-08-03 19:41] chmac opened #2017 "Failed Silent Auth in Chrome & Safari, not Firefox"
### Describe the problem

Users can login via Firefox and Chrome **but not Safari or Chrome in Incognito**

An attempt to login in Chrome produces the error `WE'RE SORRY, SOMETHING WENT WRONG WHEN ATTEMPTING TO LOG IN.` Our tenant logs show 2 errors in sequence `Failed Silent Auth` then `Failed Cross Origin Authentication`.

But if we login via Firefox, then we see 2 times `Success Cross Origin Au

[2021-08-05 15:50] thduttonuk commented on #1999
We are getting this upgrading to Angular 12. @frederikprijck what are the simple changes to make this work with `@angular-builders/custom-webpack`

[2021-08-06 09:10] thduttonuk commented on #1999
We are getting this upgrading to Angular 12. I feel auth0 need to fix this without the need for `@angular-builders/custom-webpack`

[2021-08-06 09:45] stevehobbsdev commented on #1999
@thduttonuk We will look at addressing it in the future if this issue becomes more widespread. In the meantime, the short steps mentioned above should get you moving.

[2021-08-06 10:59] stevehobbsdev commented on #2017
@chmac Thanks for reporting this. Cross-origin login requires the use of third-party cookies, which are unfortunately blocked in all the non-working browsers that you mention. This is an issue that's a but out of our control, and you're absolutely correct that it's related to browsers blocking those cookies.

We don't have a fallback for embedded Lock other than using a [custom domain](https://aut

[2021-08-06 10:59] #2017 closed

[2021-08-15 05:08] spyderdsn opened #2026 "Backspace or Deleting text from the inputs not always work"
### Describe the problem

Unable to use Backspace or Delete the text entered in the inputs. I'm able to authenticate and get user details, log out. The only thing which does not work is Backspace.

### What was the expected behaviour?

I should be able to delete text.

### Example

https://notionsite.xyz
[code]

### Environment

Loaded inside Cloudflare Worker

[code]

[2021-08-17 14:43] zimejin commented on #1999
This is an issue for us as well.

[2021-08-19 20:58] seanaye opened #2027 "Cannot verify passwordless code: Missing required property: client_id"
### Describe the problem

There appears to be a problem with this library sending to the `/passwordless/verify` endpoint.
This library will not send the `client_id` to the endpoint even though it is defined on the class at initialization. The `client_id` is also properly sent on the request to `passwordless/start`
I am using the current Auth0 template for passwordless login from the dashboard at t

[2021-08-23 14:52] stevehobbsdev commented on #2026
@spyderdsn this sounds really odd. I can reproduce it on the page you linked, but I can't reproduce it in an instance of Lock outside your environment. Looks like there's a `keydown` handler being attached that is overriding the backspace key, do you know where it's coming from? Perhaps something in the included JavaScript from Notion?

Can you reproduce it in the [Lock SDK playground](https://git

[2021-08-23 15:00] stevehobbsdev commented on #2027
@seanaye sounds odd - I will debug it this week and see what I can see.

[2021-08-23 15:08] seanaye commented on #2027
@stevehobbsdev thanks very much, this is a blocker for us. I have started a fork to fix, but would prefer a "real" resolution

[2021-08-23 16:03] stevehobbsdev commented on #2027
It sounds odd; I would have expected to hear more about this if there is actually a problem in the SDK.

A potential fix would probably reside in Auth0.js as that's what Lock uses to interact with the auth API.

[2021-08-23 17:34] seanaye commented on #2027
I suspect it might have something to do with the environment the code is running in. Its a `loginWithRedirect` in an electron window. What's stumping me is that the `passwordless/start` call actually has the client_id defined properly in the request body but the subsequent `passwordless/verify` does not. Either way this is not intended behaviour. I will open an issue in Auth0.js as well

[2021-08-23 17:55] stevehobbsdev commented on #2027
Don't worry about the auth0.js issue, I'd rather not have duplicate issues dotted around as it makes investigation harder.

Let me have a look this week - but this is running inside Electron? Where does `loginWithRedirect` come into play?

[2021-08-23 18:22] seanaye commented on #2027
loginWithRedirect is a function call from the actual react app, from the auth0-react library. AFAIK his function just loads the universal login window with the correct url parameters. Will follow up with repro link of the issue.

[2021-08-23 18:33] stevehobbsdev commented on #2027
A repro would be great, thanks.

[2021-08-23 18:41] seanaye commented on #2027
https://github.com/seanaye/auth0-passwordless-repro

Usage:
1. clone
2. `yarn`
3. `yarn start`

[2021-08-23 21:36] spyderdsn commented on #2026
@stevehobbsdev to reproduce this issue you need:

1. Notion (share your test page publically)
2. Cloudflare Account
3. Auth0
4. Fruition Setup (https://fruitionsite.com/)

I used Fruition to generate Cloudflare worker with my demo Notion page. Then I added the scripts above in the custom script section to generate Auth0 lock. I was unable to replicate the issue on my local without a Cloudflare wor

[2021-08-24 15:27] seanaye commented on #2027
You were right the issue is in the auth0.js package, my fork has fixed the issue with the following line of code https://github.com/coparse-inc/auth0.js/blob/27507bffc6d7514cb39b43fddc7b111113160ab4/src/authentication/passwordless-authentication.js#L205

[2021-08-25 12:11] stevehobbsdev commented on #2027
Makes sense 👍🏻 feel free to raise a PR against auth0.js and we'll get it in.

Thanks

[2021-08-25 12:11] #2027 closed

[2021-08-25 12:15] stevehobbsdev commented on #2026
Unfortunately, like with every JavaScript library, we can't guarantee compatibility with other scripts and libraries that you are using together. It looks like something you are using with the Notion or Cloudflare ecosystem is capturing input on those login boxes and causing you problems. There might be a way to stop that from happening within the tools you are using.

If you can show that there i

[2021-08-25 12:15] #2026 closed

[2021-08-31 13:39] cscleison commented on #1999
@frederikprijck Not a very solid argument, isn't it? From what I read, webpack provided polyfills for compatibility reasons only. If the library is meant to run in node, then I agree you can depend on "node things". If the lib is meant to run in the browser, it's the lib's responsibility to declare it's own dependencies - and not expect node core modules to be present at runtime, right?

[2021-09-01 12:42] frederikprijck commented on #1999
We will look into what we can do to avoid the changes in Webpack 5 that are causing the mentioned problems.

[2021-09-01 13:43] Nadeembhat commented on #1979
i am having the same issue
Android Google Pixel- Emulator API 29
Google Chrome Browser
Steps to reproduce is same as above mentioned by @a5e

[2021-09-01 15:58] stevehobbsdev commented on #1979
@Nadeembhat In the case of @a5e, their issue was do with removing a class after the page was rendered, are you in a similar situtation where something is modifying the button rendered by Lock?

[2021-09-01 16:24] Nadeembhat commented on #1979
@stevehobbsdev let me gather more information about this.
I am not using lock in android, and loginbutton is clickable more than once.if you can help me how can i lock the UI element for login button so that i can click only once .
Thanks

[2021-09-01 16:52] stevehobbsdev commented on #1979
@Nadeembhat  once you have done your own research into your problem, please raise a new issue rather than adding to this one so that it doesn't get lost 👍

[2021-09-01 16:54] Nadeembhat commented on #1979
@stevehobbsdev  Sure thanks for the quick response

[2021-09-01 17:42] KostaD02 commented on #1999
Hi guys , whole day trying to fix  , any solution ?

BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default.
This is no longer the case. Verify if you need this module and configure a polyfill for it.

If you want to include a polyfill, you need to:
        - add a fallback 'resolve.fallback: { "https": require.resolve("https-browserify") }'
        - install 'h

[2021-09-03 14:43] stevehobbsdev commented on #1999
Hi all, I've raised #2030 which should fix this - we chose to just inline the function. I've tested it against the repo app from the original post and it now appears to work fine, but please test against your own case if you get the chance.

[2021-09-07 15:23] #1999 closed

[2021-09-10 04:04] hanjeahwan commented on #1999
Hi, when this fix will get release ? I see latest version ^11.30.4 tag source code same using required util instead of inline function

[2021-09-10 06:13] stevehobbsdev commented on #1999
Hoping to get a release out today, I was just waiting for a couple of bits to drop in 👍

[2021-09-13 17:54] johnnyrwest commented on #1838
Hey, appreciate reading through everyone's comments here.

Our team just had a user report something like this on their end as well—any help would be greatly appreciated.

### Description
- User is able to view our Auth0 Lock
- User is not able to successfully sign up
- We created an account for them in Auth0 directly and are able to log in using credentials we created for them via the Lock
- User

[2021-09-13 17:59] ariasf commented on #1838
Does anyone know if this issues would go away by just using the nextJS  server side SDK instead of lock ? @stevehobbsdev wdyt?

[2021-09-15 15:25] bradchoate opened #2036 "Build regression for the 11.30.5 release"
### Describe the problem

It appears the 11.30.5 release is missing the "build" directory. I suspect this has been discovered already, but just wanted to formally report it. 11.30.4 is fine.

### What was the expected behavior?

The build tree should exist with minified, localized assets.

### Reproduction

[code]

### Environment

- Version 11.30.5

[2021-09-15 16:16] stevehobbsdev commented on #2036
Thanks for the report @bradchoate, a fix is in progress. Will report back once it's out but please pin to 11.30.4 for now until a resolution is in place 👍🏻

[2021-09-16 09:30] stevehobbsdev commented on #2036
Sorry @bradchoate, I had gotten confused with a separate issue. It's expected that the build folder is not included here. If follow your steps and do:

[code]

I don't get a build folder there, which is expected since it's ignored in the `.npmignore` folder. Rather, bundlers should be pointed to `lib/index.js` by [our package.json file](https://github.com/auth0/lock/blob/eccda0000dc1644e575e017b00

[2021-09-16 14:23] bradchoate commented on #2036
Sorry, I didn't provide the right reproduction steps. I did notice the release .zip files differ in this regard. A "build" directory in 11.30.4, but none in 11.30.5, so I assumed a `yarn add` command would include one for 11.30.4. Here's our actual dependency:

    "@bower_components/auth0-lock": "auth0/lock#^11.30.2"

I think that kind of reference causes it to pull the package via GitHub rather

[2021-09-16 15:01] stevehobbsdev commented on #2036
Thanks. The fact you're using Bower makes a difference and yes, I'm aware that the source code asset attached to the release no longer includes the `build/` folder. Again, thanks for reporting.

Can I ask about your use case for using Bower - what is the blocker to using the NPM package or even the CDN to include this library? I'm asking because one of the things we're looking at is whether to con

[2021-09-16 15:23] bradchoate commented on #2036
We aren't actually using Bower for packages now. We were, but using yarn now and just using this convention to clearly delineate the modules that are front-end versus back-end.

[2021-09-16 15:37] Luiz-Faleiro opened #2038 ""Forgot password" e-mail input gets wiped out when a connectionResolver is configured"
**Describe the problem**
The e-mail input on the "Forgot password" page is wiped out if a connectionResolver is configured.

**What was the expected behavior?**
Once the user enters the e-mail address on the "Login" page, this e-mail address should be copied to the e-mail input on the "Forgot password" page.

**Reproduction**

- Without connectionResolver:
![Without connectionResolver](https://use

[2021-09-17 14:42] stevehobbsdev commented on #2038
Thanks for reporting this @Luiz-Faleiro, let me look into it 👍🏻

[2021-09-23 12:57] nitzanma opened #2043 "App crashes when long tapping on phone number field"

[2021-09-23 13:31] #2043 closed

[2021-09-28 09:56] #2036 closed

[2021-09-28 10:01] stevehobbsdev commented on #2036
@bradchoate This should now be fixed in the 11.30.6 release, if you'd like to give it a try and report back if you're still having issues.

[2021-09-28 11:29] Ewan-S opened #2045 "# replacing page in URL when switching between Sign up and Login tabs"
We’re using Lock.js to overlay our website with a login box, meaning that that users can see our page underneath while signing in, instead of directing away to auth0’s domain. This works well, but there are a couple things not quite as we want and I could do with some guidance on how best to tackle them.

Version of this library used:
 **11.30** (https://cdn.auth0.com/js/lock/11.30/lock.min.js)

W

[2021-09-28 19:04] bradchoate commented on #2036
Looks great! Thank you.

[2021-09-29 09:02] nitzanma opened #2046 "Text selection on login screen results in application crash"
Hi,
We're using your login widget, in a web app that is shown as a WebView object as part of a mobile app.
(for more info on Webviews:  https://searchsecurity.techtarget.com/definition/Android-Webview)

On all android versions, we view this issue:
Steps to reproduce:
1. During login, while in phone number screen
2. Long press on the phone number field or long press on any text marked in the red sq

[2021-10-01 09:15] stevehobbsdev commented on #2045
Thanks for reporting @Ewan-S. I just edited your issue to make the code sample easier to read, FYI.

I can see the issue happening on your site but I unfortunately can't reproduce it using [the playground app](https://github.com/auth0/lock/blob/master/DEVELOPMENT.md#the-sdk-playground) that ships with Lock. I can do anything to the URL (include a new hash, for example) and it doesn't get overwritt

[2021-10-01 09:29] stevehobbsdev commented on #2046
I'm afraid this isn't a familiar issue, no, and I'm not sure what to suggest. If you're able to supply a reproduction app that I can run and test, I can take a look.

[2021-10-01 09:54] stevehobbsdev commented on #2038
@Luiz-Faleiro looking into this today. Do you have an example of how `connectionResolver` is configured in your case?

Having said that, I'm immediately running into issues just by having one configured. It's just taking some time to pick apart.

[2021-10-01 11:07] stevehobbsdev commented on #2038
This is the culprit:

https://github.com/auth0/lock/blob/e62888617426c3b5b2373b36416f8daa49b9d3d7/src/connection/database/login_pane.jsx#L39

Looking back at it, this was intentional; as the comment says, the rules around connection and validation could change by the time you hit the submit button if you're using a custom resolver, so we assume what you enter is a username.

However, that doesn't

[2021-10-01 18:28] Luiz-Faleiro commented on #2038
@stevehobbsdev I just sent you a DM on the Auth0 community with the Universal Login page we are using on our project. Let me know if you need anything!

[2021-10-03 06:37] nitzanma commented on #2046
Hi,
Thanks for your response.
You may download the app from google play:
https://play.google.com/store/apps/details?id=com.tg17.ud&hl=en&gl=US

[2021-10-04 05:42] hungweng opened #2047 "SMS login: Country code undefined after reopening widget"
### Describe the problem

From my understanding, the only way to allow the user to choose between email/password login and passwordless sms login is having two buttons as suggested here: [https://community.auth0.com/t/lock-sms-or-email/6979](https://community.auth0.com/t/lock-sms-or-email/6979)

However, if I close the Lock dialog without logging in, and click the button again to show the login wi

[2021-10-04 11:48] stevehobbsdev commented on #2046
@nitzanma just to confirm, are you using this SDK for Lock.js, or are you using [Lock.Android](https://github.com/auth0/Lock.Android/)?

This SDK is for JavaScript applications, we don't do anything to handle long press or anything of that nature. Just wondering if this issue has been raised in the right place.

[2021-10-04 11:55] nitzanma commented on #2046
@stevehobbsdev  correct.
inside the app, when you reach the login page - this is a js web application that is loaded via WebView.

[2021-10-04 12:01] stevehobbsdev commented on #2046
@nitzanma Thanks for that context.

Thanks for pointing me to the Play Store earlier to get your app. What I'll need in order to reproduce this is a sample that I can run locally in an emulator rather than a finished app. From the stack trace you posted it looks as though something is happening outside the bounds of the SDK itself. Not being a native SDK, we of course can't interact ourselves with

[2021-10-04 12:10] stevehobbsdev commented on #2047
Hi @hungweng,

Are you able to reproduce this in the [Lock SDK Playground](https://github.com/auth0/lock/blob/master/DEVELOPMENT.md#the-sdk-playground)? I'm unable to reproduce it but you can let me know if I'm performing the steps wrong.

https://user-images.githubusercontent.com/766403/135848723-557c5022-0fba-45b8-9b5b-05f443c68ab5.mov

If you're unable to reproduce it there, can you supply a sm

[2021-10-04 13:03] hungweng commented on #2047
Thank you @stevehobbsdev

In the SDK Playground, when you click the button it creates a new instance of Auth0LockPasswordless each time: `new Auth0LockPasswordless(clientId, domain, defaultOptions)`, this creates a new `div` in the body each time which isn't ideal..

You can reproduce the issue by using the same instance and just call the `show` method.

The author of that community post get aroun

[2021-10-05 14:39] stevehobbsdev commented on #2038
Thanks @Luiz-Faleiro, I opened #2048 which should fix the issue 👍🏻

[2021-10-05 14:51] stevehobbsdev commented on #2047
Ohh yep 😄  can definitely reproduce it now - thanks for the additional context.

[2021-10-06 14:17] stevehobbsdev commented on #2047
I've had a look at this and I can see what's happening - the country code widget relies on some field data that is being cleared when Lock closes, but then the way it's set up at the moment it doesn't rehydrate those when the same instance of Lock is re-opened, as it doesn't run all the pre-init hooks.

It's not just for passwordless though, there's other data in there that might mess up the exper

[2021-10-06 14:17] #2047 closed

[2021-10-08 11:33] zackdotcomputer opened #2051 "Release v11.30.5 breaks ability to use in NextJS and other SSR contexts"
### Describe the problem

Release 11.30.5 included PR #2030. This did a project-wide find-replace, removing `global` and replacing it with `window`. In the context of running inside of a browser, this works fine. However, because this find-replace included references in code that is executed when the file itself is loaded (e.g. [here in browser.js](https://github.com/auth0/lock/pull/2030/files#dif

[2021-10-08 11:50] zackdotcomputer opened #2052 "Move React and React DOM to peer dependencies"
### Describe the problem

Because react and react-dom packages are added as direct dependencies with compatible versions, adding this project in a react17 context causes a second, older version of react to be installed specifically for this project.

### What was the expected behavior?

The expected behavior would be for this project to reference react and react-dom as peer dependencies (and use a

[2021-10-22 10:29] #2052 closed, assigned to nobody

[2021-10-23 13:44] criticalsoft opened #2058 "ReferenceError: window is not defined"
ReferenceError: window is not defined
    at Object.<anonymous> (D:\FrontEnd\node_modules\auth0-lock\lib\utils\cdn_utils.js:13:1)
    at Module._compile (internal/modules/cjs/loader.js:1085:14)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1114:10)
    at Module.load (internal/modules/cjs/loader.js:950:32)
    at Function.Module._load (internal/modules/cjs/loader.js:790:12)

[2021-10-23 14:00] #2058 closed, assigned to nobody

[2021-10-26 10:26] jlek opened #2059 "When using as a container rather than a modal, z-index should not be 1,000,000"
### Describe the problem

Hello,

We are using Lock on Classic Universal Login, setting the [`container`](https://auth0.com/docs/libraries/lock/lock-configuration#container-string-) property to the ID of empty div, so that lock renders in that div, instead of as a pop-up modal.

We added a "support" pop-up widget on the page, but the Lock widgets overlays the support widget, because it has a reall

[2021-10-27 14:59] lusarz opened #2061 "Error during gatsby server side rendering"
### Describe the problem
We are getting:
[code]

![Screenshot from 2021-10-27 16-50-44](https://user-images.githubusercontent.com/10059264/139090647-b75ff2e1-684d-4830-9b2f-55ea26d75d4e.png)

### Proposed solution
Wrap code that uses `window` with:
[code]

### Environment
Gatsby

[2021-11-02 10:30] stevehobbsdev commented on #2061
Thanks for @lusarz, I have a fix for this in #2057 and looking to put out a release this week.

[2021-11-02 14:57] #2051 closed

[2021-11-02 14:57] #2061 closed

[2021-11-02 16:09] stevehobbsdev commented on #2051
We've tried to resolve this in [v11.31.1](https://github.com/auth0/lock/releases/tag/v11.31.1) - please try it out and let us know if this is now working for you.

[2021-11-02 16:09] stevehobbsdev commented on #2061
We've tried to resolve this in [v11.31.1](https://github.com/auth0/lock/releases/tag/v11.31.1) - please try it out and let us know if this is now working for you.

[2021-11-12 16:59] tjrobinson commented on #1936
https://stackoverflow.com/a/68735254/12124

[2021-11-19 12:59] Abdulla1995 opened #2066 "Authenticated event is not thrown on /users page. Only works on / route."
### Describe the problem

When I login on` "/"`  URL authenticated event has been thrown . But when I go to `"/users"` and try to login by auth0, the `authenticated `event is not thrown. I use `lock.show()` method to show the login popup.

### What was the expected behavior?
Expected `authenticated `event to be thrown nevertheless the login page `URL`.

### Reproduction

- In the lock options obje

[2021-11-24 19:18] Abdulla1995 commented on #1446
@Alex61NN5  is there any answer on this ?

[2021-11-25 15:00] shaneagibson opened #2067 "No 'id' attribute on password input or login button"
### Describe the problem

The Password input and Login button do not contain **id** attributes.

This attribute was previously added to the Email input in v11.12.0. It would be valuable to have the same added to the Password input and Login button.

Without this, SaaS cookie consent tooling such as OneTrust are unable to perform a login as they rely solely on the ID attribute.

### What was the ex

[2021-11-26 15:00] KohutYan opened #2068 "Google auth returns "Not found""
In auth activity after Google auth (doesn't matter Log in or Sign in) in-app browser returns page with "Not found" message on it. All the Auth0 credentials are added and set up as it shown in a doc.

-  *v. 3.2.0*

[2021-11-29 09:48] #2068 closed

[2021-12-03 15:14] nishantr4p opened #2070 "Object null issue in sync.js file"
### Describe the problem
Please check the image attached for error

### What was the expected behavior?

### Reproduction
![Capture](https://user-images.githubusercontent.com/81556432/144626029-dc23b1f2-b696-4977-b137-7b1953a5ec0a.PNG)

1. Login to Auth0 Lock on React
2. Login successfully  but in console i see this error
3. in Production it does not break anything but in local the application bre

[2021-12-06 12:10] stevehobbsdev commented on #2070
Thanks for reporting. This is not something I'm able to reproduce with the instructions given. If you're able to supply a small reprodicable sample that demonstrates the error, I'll be happy to take a look.

[2021-12-13 19:35] stevehobbsdev commented on #2066
Thanks for your patience here @Abdulla1995. Can you tell me about the intended use case here? Are you trying to store a path to redirect your users to after login?

If so, the recommended way to do this is to store that value in some kind of transaction cookie or local/session storage for retrieval in the `authenticated` event, rather than pass it to the authentication server via the `state` param

[2021-12-13 19:35] #2066 closed

[2021-12-13 20:28] stevehobbsdev commented on #2067
Thanks for your patience here @shaneagibson , I've raised #2072 to fix this.

[2021-12-14 10:20] #2067 closed

[2021-12-17 10:20] stevehobbsdev commented on #2070
Closing this for now but if you manage to come up with a repro, please reply here and I'll take a look.

[2021-12-17 10:20] #2070 closed

[2021-12-17 11:24] stevehobbsdev commented on #2059
Thanks for your patience with this @jlek, it's been a busy quarter.

Are you just able to override the z-index style to remove it in your case, or provide a more appropriate value? Something like:

[code]

My only concern with doing something depending if `container` is set that it might inadvertently break people who rely n this behaviour. We could add an option to control it but we don't want to

[2021-12-17 11:38] jlek commented on #2059
Yes, we managed to get it to work like this:

[code]

Works fine, but it's a shame we had to use `!important`. It's not very intuitive either - maybe the documentation for the container property can be updated to let users know about this?

[2021-12-20 12:00] JohnnyTMD opened #2074 "Can't log in in firefox."
Hi, I have an angular 12 project which uses latest version of auth0 lock, everything works fine for other browsers except firefox. I'm using firefox 95.0.2.
I have noticed this event never gets triggered.
` this.lock.on('authenticated', (authResult) => { `
Because of that I can't log in.
Please investigate. Happens on all platforms, linux, mac, windows.

[2021-12-21 15:52] stevehobbsdev commented on #2074
Hi @JohnnyTMD,

If you're able to supply a small repro that demonstrates the issue I'd be happy to take a look. We haven't otherwise seen any specific issues with Lock + Firefox 95 thus far.

Cheers

[2021-12-21 15:53] stevehobbsdev commented on #2059
Thanks @jlek, that would be the recommende workaround for now, I appreaciate it's not pretty though. I will add something internally to look at the docs around this when we come back from the holidays 👍🏻

[2021-12-21 15:53] #2059 closed

[2021-12-22 15:36] miguel-krasamo opened #2075 "Self hosted files"
Greetings,

If I host the language files can we add a string in the lang files to  localize an item added in `additionalSignUpFields` or what is the recommended way to achieve this if that new field has to be localized in different languages?

[2021-12-26 12:08] obsd commented on #61
We are using the paid version, we really need it.

[2021-12-27 14:30] BastienLedon opened #2076 "Update react dependency"
Hello,
### Describe the problem
auth0-lock package needs react v15, it's an issue by itself cause it wasn't updated since 2017, but it use core-js v1 wich creates a performance issue.

`core-js@<3.4 is no longer maintained and not recommended for usage due to the number of issues. Because of the V8 engine whims, feature detection in old core-js versions could cause a slowdown up to 100x even if no

[2022-01-10 14:53] #2074 closed

[2022-01-10 15:10] stevehobbsdev commented on #2075
Thanks for your patience here @miguel-krasamo. Currently there is no built-in support for localization of the `additionalSignupFields` and any localizations would have to be given by you when specifying the fields in the config. I'm not sure we have a canonical way to achieve this that I can recommend, but you'd need to know the language you're interested in, and also access to the localised strin

[2022-01-10 15:10] #2075 closed

[2022-01-10 15:11] stevehobbsdev commented on #2076
Thanks for your patience here @BastienLedon. This is a topic that recurs so let me open up that conversation internally again. The `core-js@1` angle is interesting and potentially worth investigating.

[2022-01-10 16:19] Ewan-S opened #2080 "Prefill the password box"
### Describe the problem

We would like a way to prefill the password as well as the username/email. We are logging guest users into our site, and we don't want them to sign up, so we create a temporary user using the Auth0 management API, and then want to automatically log that user in.

Prefill allows us to populate the email box, but we cant populate the password box. I've tried using javascrip

[2022-01-11 10:57] stevehobbsdev commented on #2080
👋🏻As you've deduced, Lock does not allow prefilling the password, and you're unable to set it using JavaScript - what's more likely getting in the way here is React. It won't be picking up changes to the DOM and incorporating that into its state management, so any changes you make are lost the next time the component redraws.

For this use case, I would look into using [auth0.js](https://github.co

[2022-01-11 11:20] Ewan-S commented on #2080
HI Steve, thanks for getting back to me so quickly!

That makes a lot of sense actually! And auth0.js sounds along the right lines, definitely given us something to think about. Thanks for your input! One thing I'd like to clarify:

"This will not initialize a SSO session at Auth0, hence can not be used along with silent authentication."

Does that mean that we wouldn't be able to silently renew a

[2022-01-14 12:46] stevehobbsdev commented on #2080
Yes, unfortunately you're correct with that one. This may need some deeper thought as to how you want to allow this guest user to be allowed into your application. Is there a backend involved in this architecture somewhere? You could use the client credentials flow to gain new access tokens while keeping your users logged in using a normal cookie session. A common pattern for this (if it applies)

[2022-01-14 12:46] #2080 closed

[2022-01-14 13:04] Ewan-S commented on #2080
Thanks for your reply Steve!
Honestly, that is the outcome I expected from this line of thinking, but I thought I may as well ask. I completely understand the reasoning and it makes a lot of sense.

That's actually really reassuring though, since we've been busy knocking this together and essentially came up with the exact same architecture that you outlined in your first paragraph. So I'm really

[2022-01-18 21:17] brossi2 opened #2086 "Issues with language files"
Our company uses Auth0's translations for some parts of our sign in / sign up flows but they are showing up in English because the language files in https://github.com/auth0/lock/tree/master/src/i18n are missing translations. I've noticed this issue for pt-BR locale but may be happening for other locales as well.

Also there are incorrect capitalizations. For example in the fr.js file the key forg

[2022-01-19 19:00] brossi2 commented on #2086
Hi Steve, the Lock version the team is using is 11.31.1.
Thanks for looking into this issue for us!
Bruno

On Wed, Jan 19, 2022 at 7:53 AM Steve Hobbs ***@***.***>
wrote:

--

*WeWork | Bruno Rossi **(he/him)*

Localization Program Manager

wework.com <http://www.wework.com/>

[2022-01-19 19:12] fern-we commented on #2086
Actually, it looks like we're using version 11.27.2. I wonder if the
translations are fixed from that verison. We'll look to upgrade.

On Wed, Jan 19, 2022 at 11:00 AM Bruno Rossi ***@***.***>
wrote:

[2022-01-19 19:46] fern-we commented on #2086
@stevehobbsdev And sorry steve, but we are forced to keep using the classic/lockjs, because the new login does not have enough customization/js capabilities. So LockJs will have to live on much longer. 🤞

[2022-01-27 10:05] stevehobbsdev commented on #2086
@fern-we Did the upgrade fix your issue here?

[2022-01-31 20:43] brossi2 commented on #2086
Hey Steve, thanks for the follow up. I'm still seeing the strings in English when logging in. I wonder if the version wasn't the issue?

![IMG_6898](https://user-images.githubusercontent.com/56123748/151869984-d6272022-7502-44dd-a576-ac28f7f3dc73.PNG)
![IMG_6897](https://user-images.githubusercontent.com/56123748/151869985-2a4f5f74-7395-4cf8-b39b-492c22e1712e.PNG)
![IMG_6896](https://user-images.g

[2022-02-01 16:35] Camsteack commented on #2076
Hi ! Any update on this ? This is a big problem as not only it uses an outdated version of react but it means it loads a second renderer if you are not using this version so your application ends up with running multiple versions of react at the same time.

This library is great, would love to see it fixed.

Cheers

[2022-02-04 09:52] karlhorky commented on #1522
@stevehobbsdev @evansims Still no plans to implement async validation functions, I take it?

[2022-02-04 12:03] zcui-coremont commented on #2076
This is causing security vulnerability, `react-dom@15` depends on `node-fetch`, which is similar to https://github.com/auth0/lock/pull/2088

https://deps.dev/npm/auth0-lock

[2022-02-04 13:33] stevehobbsdev commented on #2076
Thanks @zcui-coremont, it has been noted and we are currently working out a path forward. Will keep you posted.

[2022-02-04 13:35] stevehobbsdev commented on #2076
@Camsteack Regarding the multiple versions of React, this is something we'd like to be able to fix but is a tricky one. The obvious one would be to make `react` a peer dependency but that doesn't work out great for those users pulling this library into something that doesn't use React. Given that, even an upgrade might likely mean you'd still be using two different versions. However, great to hear

[2022-02-15 10:33] stevehobbsdev commented on #1522
@karlhorky No plans currently

[2022-03-03 08:23] provivek2124 commented on #1936
iPhone devices on Browser Stack does not show the password you are typing in password box.
Simple Resolution to this issue is:
1) Select Password box.
2) Enter Password by typing(Password box will remain blank when you are typing)
3) Click on Login button.

It will work

[2022-03-09 11:21] avinesse opened #2106 "Impossible to type in reset password field when custom connection resolver is defined (>= 11.31)"
### Describe the problem

Starting on v 11.31 :
When clicking "forgot password?" on the lock, it's impossible to type in the email field when a connectionResolver is defined in lockOptions.
Our connection resolver is defined as follows :
[code]
Reverting to v11.30 works fine

### What was the expected behavior?

Users should be able to type an email.

### Environment

- v11.31 or 11.32
- In Univer

[2022-03-15 16:16] stevehobbsdev commented on #2086
@brossi2 Thanks for your patience here. Is this still an issue or did you manage to get to the bottom of it? I couldn't reproduce this before but can take another look if you're having issues.

[2022-03-15 16:17] stevehobbsdev commented on #2106
Thanks for the report @avinesse, let me take a look this week.

[2022-03-24 19:28] nichita-pasecinic opened #2107 "Incompatible with vitejs"
### Describe the problem

Using vitejs `"vite": "^2.8.6"` and auth0-lock latest and seems like auth0-lock is not yet compatible
Error:
[code]

The issue is here
[code]

### What was the expected behavior?
To work with vitejs as client side bundler (react environment)

[2022-03-25 00:44] xinghengwang opened #2108 "Error: Can't find element with id auth0-lock-container-8"
### Describe the problem

Exception of can't find element with id auth0-lock-container-1 -> 2.

The lock isn't even shown. This is after user already successfully logged in.

<img width="1225" alt="Screen Shot 2022-03-24 at 5 40 42 PM" src="https://user-images.githubusercontent.com/6666687/160032752-8ac287ae-b872-43cc-8b9f-0c8aef67207d.png">

### What was the expected behavior?

### Reproduction

[2022-03-31 03:13] ch-angelino opened #2110 "Better error messages for passwordless login"
### Describe the problem

Only a single generic error message is available with passwordless login whereas there are some obvious scenarios for failure that will happen on a regular basis.
This error message is not particularly helpful to the user in some cases.
This error message can be found [here](https://github.com/auth0/lock/blob/master/src/i18n/en.js#L39) and can be statically overridden via

[2022-04-01 09:38] stevehobbsdev commented on #2086
Closing for now but if this still presents an issue for you, feel free to reply and reopen.

[2022-04-01 09:38] #2086 closed

[2022-04-01 09:39] stevehobbsdev commented on #2107
Hi, we don't have any plans to support Vite at this stage, but happy to review and accept a PR that adds this support if it's truly needed.

[2022-04-01 09:39] #2107 closed

[2022-04-01 09:40] stevehobbsdev commented on #2108
Thanks for raising @xinghengwang. If you can provide me with a repro that demonstrates the issue, I'd be happy to take a look.

[2022-04-13 08:14] jonathanadler commented on #1185
Hey @svajoklis-1 did you manage to figure this out?
I'm getting the same issue.

[2022-04-14 16:40] vrmardare opened #2112 "Signup link does not appear to change the rendered signup link"
Hi,
I'm using auth0-lock package within a hybrid application - angular/react. All good so far setting up the auth0 form, but our app routes use hash based routes, which seems to mess up the sign up link. Although I have set the option of `signupLink: "https://yoursite.com/signup"` the sign up `href` still points to `#`, which would trigger a page refresh (not a server side refresh), and I'd still

[2022-04-15 13:03] piwysocki opened #2113 "HTML <main> Tag missing"
### Describe the problem

Page must have means to bypass repeated blocks.
Page is not compliant with WCAG 2.0 level A

[rule details](https://dequeuniversity.com/rules/axe/4.4/bypass?application=AxeChrome)

### What was the expected behavior?

<main> tag should be added to document.

### Reproduction

rendered login page:

![obraz](https://user-images.githubusercontent.com/86244209/163573875-ed71b

[2022-04-19 14:53] #2106 closed

[2022-04-20 08:59] stevehobbsdev commented on #2110
Thanks for the report and your patience here. I'll need to take a deeper look into it as we may be at the whim of what the server is sending back to us in terms of errors.

[2022-04-20 09:12] stevehobbsdev commented on #2112
Hi @vrmardare,

Just purely looking at information you've supplied, you might have a typo. It's `signUpLink` (with a capital "U"), vs `signupLink` as you specified above. However, not sure if that's just a typo in the issue or that typo is actually in your code as well. Can you double check?

I've tested here (albeit not inside an Angular app) and I'm able to set a sign-up link correctly, and the

[2022-04-21 08:43] #2113 closed

[2022-04-21 15:58] vrmardare commented on #2112
Right, it was a typo. The initial issue was around the generated sign up link which pointed to a different route than the one currently in place, therefore causing a refresh which remounted the component and I was never able to get to the sign up view.

[2022-04-21 15:58] #2112 closed

[2022-05-25 18:46] CMLabay opened #2118 "CAPTCHA displays above custom fields"
### Describe the problem

When configuring the lock object for the New Universal login, if both the simple CAPTCHA and additionalSignupFields are enabled,  the CAPTCHA will display above the additionalSignupFields (but below the email and password fields). This is bad looking UI. If there are additional signup fields defined in the additionalSignupFields array, the CAPTCHA should be placed underne

[2022-05-26 12:41] stevehobbsdev commented on #2108
Will close this for now but if you have a repro we can look at, please send it over.

[2022-05-26 12:41] #2108 closed

[2022-06-10 10:53] stevehobbsdev commented on #2118
Thanks for raising @CMLabay. I do agree the UI looks a little off in this case. Let me raise a PR to fix it 👍🏻

[2022-06-13 07:12] #2118 closed

[2022-07-04 09:51] Camsteack commented on #2106
Hi !
Thanks for fixing the issue but there seems to be a new bug following this release. I can now type the email in the reset password field but the connection used for the reset password is not correct anymore. I have the same logic as described above but when using the `cb(null);` callback it's not selecting the default connection anymore ?
Thanks

[2022-07-04 10:21] Camsteack commented on #2106
So I managed to pinpoint the behavior:
- If I try to reset the password directly then the wrong connection is being used.
- If I try to first login with the user, it fails because I can't remember the password then I trigger the password change flow, it is using the correct connection.

[2022-07-22 07:33] avinesse commented on #2106
Hi @Camsteack I've tried reproducing your problem with the new version but it seems to work fine on my end.
Can you share you connectionResolver to see if anything is different?

[2022-08-08 03:51] janat08 opened #2158 "Replicate Firebase behavior of prompting SSO association with account"
### Describe the problem
When user tries to sign in under email that already has account using different SSO then you just let him in instead of prompting him to sign in with sso with which account was create after which the new SSO is associated with the account like in firebase auth.

### What was the expected behavior?
For any new SSO to be associated with other email based accounts.

### Repro

[2022-08-10 14:07] ebasic opened #2159 "Incorrect success message from auth-lock options displayed (`logIn` message shown instead of `signUp`)"
### Describe the problem

Auth lock options are set correctly according to this example on [github](https://github.com/auth0/lock/blob/master/src/i18n/en.js).
In `success` part, I have both `logIn` and `signUp` messages defined as stated above in example. On `signUp success`, message for `logIn success`  is shown.

### What was the expected behavior?

Correct message for `signUp success` is shown.

[2022-08-12 16:33] stevehobbsdev commented on #2158
Thanks for raising @janat08. We don't link accounts automatically, but you're able to do this using our APIs. Please read [Account Linking](https://auth0.com/docs/manage-users/user-accounts/user-account-linking) for more details.

You can also submit this type of product feedback to our [feedback page](https://auth0.com/feedback).

[2022-08-12 16:33] #2158 closed

[2022-08-12 16:34] stevehobbsdev commented on #2159
👋🏻 Is the link to the example correct? I'm just getting one of the i18n translation files. Did you mean to link to a workable example?

[2022-08-15 22:36] ebasic commented on #2159
Link is correct, I posted example of i18n translation files which is part of `auth0lock` config under `languageDictionary` key and we use almost the same dictionary in our project. There is nothing more to do with this config, it is just passed to auth-lock instance according to documentation:

`const lock = new Auth0Lock(clientId, domain, options)`

And as mentioned, `options` object is:

`const

[2022-08-16 08:53] Klaasvaak opened #2162 "Disable form translate/opacity animation"
This is a feature request, https://community.auth0.com/ told me to open an issue on the corresponding GitHub repo.

### Describe the problem

The login form has a translate and opacity animation. This animation has a delay of 0.5s and the animation itself takes 0.6s. For our implementation of Lock we would like to be able to disable this animation to save 1.1s of loading time before we can click o

[2022-08-19 10:38] stevehobbsdev commented on #2162
Thanks for raising @Klaasvaak.

Unfortunately we are no longer taking feature requests for this library. However, as we've realised, this isn't obvious when you come to the repo (but we mention it on [our library support page](https://auth0.com/docs/libraries#:~:text=Github-,Lock%20SDK%20Libraries,-Do%20you%20use)).

So I'm unable to accommodate this request. However, you should be able to solve t

[2022-08-19 10:38] #2162 closed

[2022-08-19 10:58] stevehobbsdev commented on #2076
Hi all,

Just to let you know that we will be providing an update to React in the coming weeks. We're busy on other internal initiatives at this moment in time but I will be focussing on this once they are out of the way. There'll be a very short discovery phase where we'll plan out how the update will happen, and where I also want to answer questions like how we can support any version of React b

[2022-08-19 10:58] #2076 closed

[2022-09-09 12:19] stevehobbsdev commented on #1855
Thanks for your patience here! I appreciate there's been a long time since we looked into this issue.

I can reproduce this with a custom database. I've noticed from the client setting file that is downloaded when Lock initialized, that the validation rules around username are only transmitted to us if the "Username length" settings are enabled in the dashboard. And to enable those, you have to tu

[2022-09-09 15:26] stevehobbsdev commented on #1855
I heard back from the team internally; this is in fact expected behaviour, but is something they plan on improving. Once they implement that on the server, those validation rules should be picked up by Lock.

I'll close this for now and thanks again for your patience.

[2022-09-09 15:26] #1855 closed

[2022-10-04 15:02] #2159 closed

[2022-10-05 14:18] ewanharris commented on #2110
@ch-angelino thanks for raising this issue!

I took a deeper look and as @stevehobbsdev indicated we're limited here by the response from the server, for the scenarios you listed the error codes are too generic for us to distinguish specific errors and report better messages back to the user.

I'm going to close this issue as we can't improve on this right now, however I've queried internally to s

[2022-10-05 14:18] #2110 closed

[2022-10-06 16:27] Commandtechno opened #2181 "getUserInfo not returning user_metadata"
:warning: **Note:** We are no longer supporting requests for new features. Only requests for bug fixes or security patches will be considered.

### Describe the problem

I added registration fields using additionalSignupFields, and the metadata shows up in the dashboard

![image](https://user-images.githubusercontent.com/68407783/194366209-2b937c88-6d77-456a-8775-b85ab1362741.png)

But calling get

[2022-10-07 16:02] stevehobbsdev commented on #2181
So there is a very subtle thing in [the documentation](https://auth0.com/docs/manage-users/user-accounts/metadata#use-rules) that I'm suspecting you're missing when trying to access `user_metadata` from either Lock or NextJS Auth0:

I could reproduce your issue, and creating a rule with the following content then allowed me to access `user_metadata` in the exact way you've described in your issue:

[2022-10-07 16:02] #2181 closed

[2022-10-14 13:12] asim-blueprintprep opened #2185 "RequireJS - Unclosed String at position: 780174 / Uncaught SyntaxError: missing ) after argument list"
### Describe the problem

I have auth0 lock in magento, via requireJS. The way I have this working is by using the unminified version (as magento in production mode minifies it). I have been using lock v11.30.4. I have tried to use every lock.min.js file in the repo history (goes back to 11.30.6) and use PHPStorm to unminify, and then let magento minify as it compiles. However, every revision of t

[2022-10-26 23:33] gido3823 opened #2188 "Iamsudan@hotmail.de"
:warning: **Note:** We are no longer supporting requests for new features. Only requests for bug fixes or security patches will be considered.

### Describe the problem

### What was the expected behavior?

### Reproduction

- Step 1..
- Step 2..
- ...

### Environment

- **Version of this library used:**
- **Which framework are you using, if applicable:**
- **Other modules/plugins/libraries that

[2022-10-26 23:48] gido3823 opened #2189 "https://github.com/auth0"
https://github.com/auth0

[2022-10-27 07:42] #2188 closed

[2022-10-27 07:43] #2189 closed

[2022-10-27 17:23] sumant-turlapati commented on #61
+1 . How is this still not there?

[2022-10-27 22:45] BryanA2T commented on #61
+1.
Signup and login pages are only subtly different visually, and our users are continuously confused by this, to the extent we are considering doing custom pages to solve this one issue.  A "confirm password" box is a global convention for signup, and would eliminate 90% of user confusion. For a simple fix, this is a no-brainer. C'mon Auth0 - let's get this done please.

[2022-10-28 15:54] gido3823 opened #2191 "الإعدادات. تأمين | مطورو Android"
https://developer.android.com/reference/android/provider/Settings.Secure#ANDROID_ID

[2022-10-28 18:29] #2191 closed

[2022-10-30 19:36] nostick commented on #61
+1.

[2022-10-31 21:27] gido3823 opened #2192 "Dan"
https://community.auth0.com/t/auth0-community-forum-scheduled-maintenance-november-3rd-5-00-pm-6-00-pm-pdt/93266

[2022-10-31 21:29] #2192 closed

[2022-11-04 20:43] gido3823 opened #2193 "Table of Contents What is Identity Management? Signs You Need to Move From DIY to an IAM Solution Business Case for Purchasing IAM Top Considerations for Evaluating an IAM Solution Case Studies Schneider Electric ...................................................................................................................... Bluetooth .................................................................................................................................... Conclusion We Can Help Resources 3 6 9 14 16 16 17 18 1"
http://www.prnewswire.com/news-releases/ponemon-institutes-2015-global-cost-of-data-breach-study-reveals-average-cost-of-data-breach-reaches-record-levels-300089057.html

[2022-11-05 08:48] mountain2016 opened #2194 "Please hide the value of input type="password" in the Form form"
### Describe the problem

Under normal circumstances, when input type="password", the value attribute of the input can not be seen in the browser console elements, but can be directly seen in the login and signup form

### What was the expected behavior?

I hope the value attribute can be hidden

<img width="584" alt="image" src="https://user-images.githubusercontent.com/17536946/200111658-8260150

[2022-11-06 21:39] #2193 closed

[2022-11-08 20:36] abunch commented on #61
+1

[2022-11-16 13:20] piwysocki opened #2202 "FAQ link in Readme is incorrect"
:warning: **Note:** We are no longer supporting requests for new features. Only requests for bug fixes or security patches will be considered.

### Describe the problem

in README.md:

`[FAQs](https://github.com/auth0/lock/blob/master/FAQ.md) - frequently asked questions about lock.`

this link goes to 404 page

### What was the expected behavior?

remove FAQ in readme or add correct link

### Rep

[2022-11-16 13:47] frederikprijck commented on #2202
Thanks for reporting!

[2022-11-16 13:53] #2202 closed

[2022-11-17 08:04] mountain2016 commented on #2194
I upgraded lock to 11.34，but can still see the value on the console, will this problem be modified?

[2022-11-25 15:50] Axel-Hatem-HV commented on #1122
Hi there, I know this has been closed and I understand we need to do a manual i18n on this.
But I can't find the values inside the `dict: {...}` for this:
![image](https://user-images.githubusercontent.com/97127188/204019683-db19fc9e-46e2-4b0b-ad14-b26195550319.png)
Any idea on how to change this one the correct way?
Thanks.