[2014-08-12 20:24] cristiandouce opened #1 "rememberLastLogin: false should not make SSO Request for login"
Right?
/cc @jfromaniello @woloski @pose @siacomuzzi

[2014-08-15 17:27] cristiandouce opened #2 "Add real tests"

[2014-08-15 17:29] cristiandouce opened #3 "Complete documentation on Readme.md and wiki"

[2014-08-20 20:06] cristiandouce opened #4 "Move extraParams from the main options object"
to `options.extraParams` as its on docs (or was, or should be...)
- [x] test it fails when wrongly passed #2
- [x] document all allowed extra parameters #3 @mgonto
- [x] move extra parameters array to it's own file/module under options-manager

[2014-08-20 20:16] mgonto opened #5 "Show alert if no callbackURL is defined and a callback is set"
Right now, we show the World Domination message when the callback is missing and the user is trying a Social IdP. However, if the user tries to do a regular Username/Password Auth, a CORS error is thrown.

We should parse the `s3` information to see if there`s a callbackURL. If there's not and no callback is set to handle the success of the login, then we should show a message saying`Please add cu

[2014-08-20 20:38] #5 closed, assigned to nobody

[2014-08-23 02:03] cristiandouce opened #6 "Improve SPA wiki documentation"
https://github.com/auth0/lock/wiki/Single-Page-Applications

@pose we should add the alternatives with redirect, like the customer who required to set `state` instead of opening in `popup mode`.

I'm might be too sleepy and wrong about this :dancers:

But either way documentation about the topic should be improved and you are THE guy for this.
:trollface:

cc @mgonto

---

**EDIT:**

@mgonto creat

[2014-08-23 02:05] cristiandouce opened #7 "Improve UI customization wiki documentation"
https://github.com/auth0/lock/wiki/UI-Customization

@gravityonmars anything could be better than that.

Also a few screenshots might be awesome! :dancer:

[2014-08-23 02:49] #1 closed, assigned to nobody

[2014-08-23 02:49] #3 closed, assigned to nobody

[2014-08-23 02:51] cristiandouce opened #8 "Document all supported authParams"
https://github.com/auth0/lock/wiki/Sending-authentication-parameters#supported-parameters

cc @mgonto @siacomuzzi

[2014-08-23 02:53] #4 closed, assigned to nobody

[2014-08-24 05:16] eugeniop opened #9 "email placeholder text doesn't display on IE11"
![](https://i.cloudup.com/P-QI7v_y71.png)

Please notify: kbennet@mindjet.com

Update ticket:
https://auth0.groovehq.com/groove_client/mailboxes/5383/filters/56251/tickets/2596749

[2014-08-26 02:38] pose opened #10 "Tests are not testing"
We are using `expect.js` for our tests. Many of our tests are using the following type of assertion:

[code]

But if you take a closer look at [expect.js repo](https://github.com/LearnBoost/expect.js/), I cannot find a single mention of the keyword `exist` (I suspect `exist` could be part of `chai` assertion framework) . Lots of tests are passing without asserting the required behavior.

[2014-08-27 02:13] #10 closed, assigned to nobody

[2014-08-27 12:31] pose opened #11 "Implement password strength"
- [x] add i18n messages to widget
- [x] widget design ready?
- [x] tried on ie9
- [x] tried on ie10 (thx @rolodato)
- [x] tried on ie11 (thx @rolodato)
- [x] tried on iOS
- [x] tried on Android
- [x] end documentation with widget screenshots (https://github.com/auth0/docs/issues/185)
- [x] add reusable components to style guide (if any)
- [x] test cases
  - [x] signup
  - [x] change password
### I

[2014-08-27 20:19] pose opened #12 "Widget + Phonegap does not look good (Android)"
This is how the widget inside phonegap looks on Samsung Galaxy S3:

![widget_s3](https://cloud.githubusercontent.com/assets/419703/4066791/5cf7e224-2e27-11e4-8560-194c569c2703.png)

[2014-08-28 15:43] #9 closed, assigned to cristiandouce

[2014-08-28 16:07] pose opened #13 "HRD Support for AD Connectors"
_WIP_

The user story will be:
1. User writes their email.
2. While the user press enter or clicks on signin, we search throughout the connections if there is one of them registered with the email suffix and its type is AD Connector (for instance, `@mydomain.com`).
3. lock launches new mode (`adldap`) (or shall we re-use `signin` mode @cristiandouce ?)
4. This new state has `username` instead of e

[2014-08-28 19:01] pose opened #14 "If connections: [] then Lock is rendered weird"
![screen shot 2014-08-28 at 16 00 32](https://cloud.githubusercontent.com/assets/419703/4081218/ae9a6be2-2ee5-11e4-9030-9a86c1eaff9d.png)

[2014-08-29 16:26] pose opened #15 "Move _findConnectionByDomain to somewhere else"
Currently, it's located in `index.js`. `OptionsManager` is an option but I'm not convinced.

[2014-08-29 17:50] pose opened #16 "When popup: true => responseType: token should be default"
Use the following snippet:

[code]

**What should happen?** When using the widget and clicking in a social connection popup must be shown. When closing the popup `err` should be printed (`responseType: token` is set implicitly).

**What happens instead?** As `responseType: code` is the default the callback is not being executed.

[2014-08-29 20:56] cristiandouce opened #17 "Update CSS for submit inputs when focus"
When tab focus you can't notice.

[2014-08-29 20:59] pose opened #18 "Add warning when using connection instead of connections"
If we have the following code:

[code]

**What should happen?** A warning should displayed because `connection` field **does not exist** as a lock option. The warning should say that what the user must type is `connections`.

**What happens instead?** The parameter is silently ignored and you may think that the `connection` parameter works but it does not.

[2014-08-29 21:14] #17 closed, assigned to cristiandouce

[2014-08-29 22:13] pose opened #19 "Validate Options parameters strictly"
As shown in this issue: #18 it may be a good idea to perform validations on options parameters in order to avoid typos and Lock not working as expected.

As @jfromaniello suggests:
[code]

[2014-08-29 22:14] #18 closed, assigned to nobody

[2014-08-30 13:56] pose opened #20 "Add livereload to grunt"
Add livereload to `grunt build example` so it refreshes each time a change is made.

[2014-08-30 18:48] jfromaniello opened #21 "handle require_username"
When the connection has `requires_username: true`, lock should work as follows:
1. **Sign in**:  Ask for "Username or email" + "password". TWO FIELDS.
2. **Sign up**:  Ask for "Username" + "Email" + "password". THREE FIELDS.
3. **Password reset**: Ask for "Username or email" + "password". TWO FIELDS.

The regex we will use to validate usernames is `/^[a-zA-Z0-9_]{1,15}$/`

[2014-09-01 14:59] pose opened #23 "Add JSHint validation to the build process"

[2014-09-02 02:38] pose opened #24 "Improve build speed for development settings"
* [ ] See if `prefix-css` (the grunt custom task we use to add `a0-` to the css classes) can be replaced with a faster alternative (what about https://www.npmjs.org/package/prefix-css-node ?)
* [ ] Cache steps or results on grunt process?
* [ ] Creating library bundle for browserify, so it only goes through the Auth0 files (and not resolving dependencies' requires).
* [ ] Configure `watch` paramet

[2014-09-02 14:56] pose opened #25 "With emails 30 characters long or more input goes out of control!"
![omg](https://cloud.githubusercontent.com/assets/419703/4120301/4079c872-32b1-11e4-9fd0-8f48e65a274d.gif)

[2014-09-02 16:50] #25 closed, assigned to pose

[2014-09-02 17:04] mgonto opened #26 "Last used by should take into account active IdPs"
I've previously logged in with Github so the following is shown. However, I just deactivated that service, so it shouldn't be shown at all as "Last signed in"

![Image](https://cloudup.com/clFB9IcvGg6+)
![image2](https://cloudup.com/c_zMxzLOp_s+)

[2014-09-02 17:07] pose opened #27 "Remove from repo generated css files"
(translated from chat conversation, please correct if wrong)

---

We must make sure that npm/browserify still works:

[2014-09-02 18:54] mgonto opened #28 "When clicking `Last login with` I'm getting a `widfet is undefined` Typo"
https://cloudup.com/cPsK4E3th_K

[2014-09-02 19:04] mgonto opened #29 "If no `callbackURL` is provided, we should default to `responseType: token`"
When we use `responseType: code` it means that we usually want to get the code in the server and then from that get the accessToken to get info from the user.

When we don't set a callbackURL, it will default to `location.href` which usually will be the same page, not a callback. That will happen mostly in SPAs. Therefore, I think that if `callbackURL` isn't provided, we should default to `respons

[2014-09-02 19:17] mgonto opened #30 "If first argument of show is a function, makes option be null and callback be first param"
Sometimes you don't want to set any option but you do want to set a callback. For those cases, we could make that if first param is a function, it's a callback not an option.

[2014-09-02 21:24] #29 closed, assigned to nobody

[2014-09-02 21:24] #30 closed, assigned to nobody

[2014-09-04 12:39] #13 closed, assigned to nobody

[2014-09-05 13:34] #15 closed, assigned to pose

[2014-09-05 13:37] #20 closed, assigned to nobody

[2014-09-05 13:38] #28 closed, assigned to nobody

[2014-09-05 19:09] #16 closed, assigned to nobody

[2014-09-05 22:13] #26 closed, assigned to nobody

[2014-09-08 13:34] pose opened #34 "Migration Guide"
Create a migration guide form Auth0 Widget.

Topics to include:
- [x] Changes in the initialization.
- [x] Changes in `show` parameters.
- [x] Changes in `events`.

---

It can be found here: https://github.com/auth0/lock/wiki/Migration-Guide
- [x]  Get work reviewed by @cristiandouce

[2014-09-08 17:28] #34 closed, assigned to pose

[2014-09-09 21:35] pose opened #35 "Add a build check that asserts that options match documented options"
Add to `grunt cdn` send warnings of source code options that don't match documented options in wiki. On that way, we can keep documentation updated.

[2014-09-09 21:36] pose opened #36 "Deprecate Auth0 Widget"
Once Auth0 Lock is finally officially released:
  * [x] Add deprecation notice to Auth0 Widget (latest release).
  * [x] Add to Auth0 Widget README a link to Auth0 Lock migration docs.
  * [x] Deprecate auth0-widget.js npm
  * [x] Deprecate auth0-widget.js bower

[2014-09-11 19:10] rolodato opened #37 "Resend confirmation emails when attempting to re-register an unconfirmed user"
Confirmation emails should be resent (or at least prompted) when users try to register a preexisting account with an unconfirmed email, only when email verification is turned on for that application.

[2014-09-11 19:12] #37 closed, assigned to nobody

[2014-09-12 20:58] mnoecc opened #38 "Auth0 Widget/Lock redundant home realm discovery"
When an app only has a single enterprise connection, it should show a button to redirect the user to the login page rather than to ask them for their email address, since there is no need for it to discover the home realm.

[2014-09-12 23:17] pose opened #39 "Add user gravatar image when user types email"
- [x] login ready
  - [x] Add transition (fade-in)
  - [x] Border radius round (like blog)
  - [x] if no picture, do show the previous icon
  - [x] add new parameter to show: `gravatar` by default it will be true.
  - [x] signup
- [x] design ready
  - [x] tried on ie9
  - [x] tried on ie10*
  - [x] tried on iOS
  - [x] tried on Android Chrome
- [x] documented?
  - [x] added to lock docs
- [x] desc

[2014-09-15 16:08] cristiandouce opened #40 "Should not make multiple calls to client config if 1 is in process"
![image](https://cloud.githubusercontent.com/assets/367429/4274277/527cbef8-3cf2-11e4-897a-eea43e18a0b3.png)

[2014-09-15 17:39] #40 closed, assigned to nobody

[2014-09-17 13:14] pose opened #42 "Restore TOC order in Lock Wiki"

[2014-09-17 13:17] #42 closed, assigned to pose

[2014-09-17 13:20] pose opened #43 "Move ImageView out of HeaderView"

[2014-09-17 13:21] pose opened #44 "Create unit test for gravatar appearing"

[2014-09-17 13:26] pose opened #45 "Gravatar animation fixes"
- [x] move `500` to a constant and align it to the `.animation.fast`'s `animation-duration`.
- [x] Add a `_.debounce` to `onemailinput` handler.
  - [x] signin
  - [x] signup
- [x] ~~Make the change of logo only when succeeding loading the image (probably, preload it somewhere else) when `{icon: 'http://....'}`~~ This has been solved by the `_.dobounce`
- [x] ~~ When erasing the whole email in som

[2014-09-17 17:11] #39 closed, assigned to pose

[2014-09-17 19:22] pose opened #46 "Gravatar image not being displayed on HRD mode"

[2014-09-17 19:28] pose opened #47 "On HRD take input email and use the first part as suggested username"

[2014-09-17 19:31] #46 closed, assigned to pose

[2014-09-17 19:31] #47 closed, assigned to pose

[2014-09-19 18:17] rolodato opened #48 "Handle request errors and timeouts gracefully"
When any of these requests fail or time out, Lock will never finish loading and no error message is shown:
- https://TENANT.auth0.com/user/ssodata?ldaps=1&client_id=CLIENT_ID&cbx=__auth0jp0
- https://s3.amazonaws.com/assets.auth0.com/client/CLIENT_ID.js?t1411149795204

This situation should be handled and appropriate error messages should be shown.

[2014-09-19 20:30] #43 closed, assigned to pose

[2014-09-19 20:30] #44 closed, assigned to nobody

[2014-09-19 21:37] pose opened #49 "Gravatar animation fixes: Part II"
* [ ] [Animation support](http://msdn.microsoft.com/en-us/library/ie/dn632679(v=vs.85).aspx) on IE
* [ ] Check if there is an `animation cancel` so we don't need the fallback timer.

[2014-09-19 21:38] #45 closed, assigned to nobody

[2014-09-19 22:16] pose opened #50 "Listing two ad/enterprise connections should display email for HRD"
Use the following snippet:

[code]

**What should happen?** An email and password lock should be displayed where user can enter their emails. Then deciding on the email domain that the user has input, it should display the HRD mode.

**What happens instead?** The following screenshot:
![screen shot 2014-09-19 at 19 16 04](https://cloud.githubusercontent.com/assets/419703/4342813/91ed112c-404a-11e4

[2014-09-20 01:36] #48 closed, assigned to nobody

[2014-09-22 17:54] cristiandouce opened #51 "Fix gravatar tests for IE10/11"
Timing out...

[2014-09-23 18:43] #51 closed, assigned to nobody

[2014-09-26 17:21] rolodato opened #52 "PhoneGap "last time you signed in with" is broken"
It always goes back to the same state. For example:

Logging in for the first time:

![screen shot 2014-09-26 at 2 14 08 pm](https://cloud.githubusercontent.com/assets/829698/4424566/b88f9772-45a0-11e4-93ce-9737edf0a73b.png)

Going back to showing the widget again:
![screen shot 2014-09-26 at 2 14 23 pm](https://cloud.githubusercontent.com/assets/829698/4424568/b8bbf9fc-45a0-11e4-8104-b896fdd284e9

[2014-09-29 20:24] pose opened #53 "Show gravatar picture on "last time you signed in with""
Do `lock.showSignin`. Log into an email associated with a gravatar picture. Then logout and the _last time you signed in with_ message should appear when doing `lock.showSignin`.

**What should happen?** Gravatar picture should be displayed when _last time you signed in with_ message is displayed.
**What happens instead?** No Gravatar picture is displayed at all.

[2014-10-01 11:43] #53 closed, assigned to pose

[2014-10-02 20:06] #52 closed, assigned to pose

[2014-10-03 09:30] nelix opened #54 "Webpack"
I tried to load this using webpack but I did not very very far due to not knowing what loaders it would require...
Any advice?

[2014-10-03 13:57] dschenkelman opened #55 "Provide hooks for validation before submit"
Useful to validate some signup conditions for example: https://ask.auth0.com/t/prevent-the-creation-of-a-user-in-a-rule/115

[2014-10-07 22:20] woloski opened #57 "Add option to turn off using the first part of the email as username"
right now for ad connectors we are copying the email first part as the username. hipaachat doesn't want that.

[2014-10-09 18:37] mgonto opened #58 "Remove domain from constructor"
Having the clientId we don't really need the domain in the constructor.

We should remove it from here and from the APIs as well

[2014-10-12 20:08] pose opened #59 "Spike on Background Check for Lock"
Can we use [Background Check](http://www.kennethcachia.com/background-check/) ([github](https://github.com/kennethcachia/Background-Check)) to detect whether the background is dark or light and style it properly with a matching theme?

See [slider](http://www.kennethcachia.com/background-check/slider.html) example for instance.

[2014-10-15 19:05] #57 closed, assigned to nobody

[2014-10-16 11:47] jfromaniello opened #61 "Repeat password on sign up"
Currently we ask for the password twice on reset but only once on sign up.

I think this is a good default but we should have an option to ask twice for the password on sign up.

This will depends on the target audience for the application.

[2014-10-16 22:21] mgonto opened #62 "Call callback on successful/failed Reset Password"
Right now, after password is reseted, callbacks aren't being called. We need to implement this.

Thanks!

[2014-10-17 13:21] jensoleg opened #63 "css customization"
HI guys
 I want to customize the widget and have created a style sheet file which I include in the html header but  auth0 lock injects its styles at the end of the header and seems to over rule my custom css. Any hints how to solve this ?

[2014-10-17 14:23] #63 closed, assigned to nobody

[2014-10-17 18:27] #62 closed, assigned to cristiandouce

[2014-10-20 12:03] mgonto opened #64 "Sometimes when installing via bower, `build` folder is missing"
Sometimes, when we install `Lock` with Bower the build folder is missing. It has happend to 2 customers. It should work since the `build` folder exists in the tags.

https://app.intercom.io/a/apps/5543b80da436916e2d7fb2a94b5cd014b92f6b86/inbox/conversation/560157951

[2014-10-20 12:08] #64 closed, assigned to nobody

[2014-10-22 13:14] pose opened #66 "Reduce font size (in kb)"
Fonts when gzipping lock minified version take about ~50kb. What can we do to keep using the font but reducing its size?

Some links to research:

* [ ] http://graphicdesign.stackexchange.com/questions/12765/how-to-reduce-the-size-of-a-chinese-ttf-font-file
* [ ] http://stackoverflow.com/questions/2635423/way-to-reduce-size-of-ttf-fonts
* [ ] http://www.labnol.org/internet/reduce-google-fonts-size

[2014-10-23 18:59] pose opened #68 "Social providers should be focuseable"
Given the following Lock configuration:

[code]

**What should happen?** As there is no user input focus should be obtained by social providers. Also, if the `rememberLastLogin` option is `true`, it should focus that by default.
**What happens instead?** Focus remains in the page and is never acquired by Lock. The same happens when `rememberLastLogin` option is `true`.

[2014-10-23 19:00] pose opened #69 "Social providers should work with keybindings"
Given the following Lock configuration:

[code]

and forcing focus on a social provider:

[code]

**What should happen?** By pressing <kbd>return</kbd> I should be able to pick that provider.
**What happens instead?** Nothing happens.

[2014-10-24 16:17] mgonto opened #70 "Remove `build` from `.gitignore` when tagging"
We need to change the deploy script to remove `build` from `.gitignore` when tagging.

Otherwise all ionic builds fail.

[2014-10-24 21:53] #70 closed, assigned to cristiandouce

[2014-10-26 02:11] #7 closed, assigned to rickyrauch

[2014-10-27 18:25] hzalaz opened #71 "Pop-up mode in iOS 8 does not close pop-up window"
From [intercom](https://app.intercom.io/a/apps/5543b80da436916e2d7fb2a94b5cd014b92f6b86/inbox/conversation/570318741)

[2014-10-27 23:17] PatrickJS opened #72 "missing changelog or history file"

[2014-10-31 19:10] #72 closed, assigned to nobody

[2014-11-05 18:19] #21 closed, assigned to nobody

[2014-11-06 10:18] pose opened #74 "Make Lock fetch Auth0 information from CDN"

[2014-11-07 17:12] #74 closed, assigned to pose

[2014-11-07 20:19] whyvez opened #80 "auth0-lock causing issues when used in a build process"
relates to original issue I filled here: https://github.com/auth0/auth0-angular/issues/107

In this specific project we are using grunt to build all our vendor dependencies into a minified js file. In development everything works fine. When we build the production code and run it we get an `Error: `ClientID` required as first parameter.` error in the browser.

In dev when I look at the aut0-lock s

[2014-11-09 19:33] #80 closed, assigned to nobody

[2014-11-12 21:27] PatrickJS opened #81 "missing Forgot Password feature"

[2014-11-12 21:47] #81 closed, assigned to nobody

[2014-11-14 15:57] cristiandouce opened #82 "Add more events for analytics purpose"
**source:** https://ask.auth0.com/t/analytics-event-on-lock/299

[2014-11-15 13:22] pose opened #83 "Password should appear in red while is invalid"
Now:
![now](https://cloud.githubusercontent.com/assets/419703/5057745/0c3dd8ac-6cb1-11e4-9cee-1b874949709f.gif)

How it should work (notice the color in the password field):
![proposal](https://cloud.githubusercontent.com/assets/419703/5057750/15b7818a-6cb1-11e4-9025-547d69190a05.gif)

Although this change should be easy (just altering styles), it would be great if Auth0Lock provides an API for it

[2014-11-18 18:44] cristiandouce opened #84 "Better handling of script load/error events for client's configuration"
There are no `removeListener`s neither the script get's removed from the DOM, making it hard to debug whether there actually was a network error or just a network timeout. And be able to handle it better.

The current behavior is the following:

![image](https://cloud.githubusercontent.com/assets/367429/5093750/bb5c644a-6f39-11e4-84ed-56519f2aadb2.png)

Where it is obvious that the timeout was exe

[2014-11-28 19:45] rolodato opened #85 "Improve error handling when signup fails because of a Rule or login error"
It can be confusing to see a login error message when the user has signed up:

![1cz3zhbxh7](https://cloud.githubusercontent.com/assets/829698/5231767/cbbf8236-771d-11e4-9a5c-e77f2261f738.gif)

Maybe send the user back to the login screen or show a different error message?

[2014-11-28 20:21] rolodato opened #86 "Add feature to display custom error messages from rules"
To reproduce, create a rule with the following content:

[code]

Custom error message is being returned but not shown:

![screen shot 2014-11-28 at 5 20 19 pm](https://cloud.githubusercontent.com/assets/829698/5232004/e486270c-7722-11e4-8e58-1d081a83d542.png)

Also, the error message being displayed is "Wrong email or password", which is incorrect.

[2014-12-16 02:36] #11 closed, assigned to nobody

[2014-12-17 17:24] mgonto opened #94 "Problems when minifying Lock concatenated with other files"
Please refer to https://github.com/auth0/auth0-angular/issues/96

[2014-12-18 08:28] mlhch opened #95 "Auth0-lock is not working with requirejs"
Hi, obviously it is better to load auth0-lock.min.js(595k) dynamically when needed other than integrate it in SPA's index.html, so I'd like to get requirejs involved, then issues come:

Debug env: .../bower_components/auth0-lock/build/auth0-lock.js in Chrome

Error 1:
[code]
This is because below context wants to use the md5 function
[code]
But since I used requirejs to load auth0-lock.js, the 'if

[2014-12-25 22:26] alexsorokoletov opened #97 "Playground page is not working in IE11"
http://auth0.github.io/playground/
![shot_141225_172528](https://cloud.githubusercontent.com/assets/1788581/5555042/1535ae66-8c5b-11e4-932a-0fd518b69dda.png)

[2014-12-29 16:21] #97 closed, assigned to nobody

[2014-12-30 15:35] mgonto opened #99 "Lock is having issues when using Popup in Android with Chrome"
Let's say that person also wants to publish that app as a Website that uses Popup mode from Lock. If you try that website on Chrome for Android you'd get an error. That's because when Chrome tries to open the authentication URL in the popup, Chrome will see there're more than one app registered for that URL (Facebook's authenticate URL for example) and will open the `IntentChooser` form. Once that

[2015-01-05 14:03] abgit commented on #86
:+1:

[2015-01-05 15:32] crrobinson14 commented on #66
Is it really necessary to use custom fonts at all? This seems like something that, if people really wanted a bespoke option, they'd be overriding themselves anyway to match their site. Or at the very least themes could be an optional additional load.

This is like 10% of the entire plugin's compiled size, and it seems so unnecessary. If this was put to a vote, I'd vote to eliminate the whole "zoci

[2015-01-05 16:16] mgonto commented on #94
Related also to https://github.com/auth0/auth0-angular/issues/121

[2015-01-05 17:56] mgonto commented on #94
Hey @kevinob11,

we're working on tackling this issue. Can you provide us a sample project to reproduce it?

Thanks!

[2015-01-05 18:32] kevinob11 commented on #94
Yep, I'll need to pull it out of my private repo. I'll be working on that Wednesday, I'll try to get it to you then!

[2015-01-05 21:16] mgonto commented on #94
Awesome thanks for the help :D

[2015-01-05 23:02] johnstontrav commented on #94
Hey @mgonto,

Here is a seed project:

https://bitbucket.org/Johnstontrav/auth0-seed-issue-94

It is built with https://github.com/Swiip/generator-gulp-angular

Once cloned, run steps:

1. npm install && bower install

2. edit file: src/app/index.js

3. update the Auth0 settings.

4. gulp serve - firebug should report "Client configuration loaded"

5. gulp serve:dist - should report the error.

Le

[2015-01-05 23:38] kevinob11 commented on #94
That looks right to me, generator-gulp-angular is the exact generator I used, though I think you will need to run gulp:build so you have the dist folder before running gulp serve:dist.

[2015-01-06 02:38] mgonto commented on #94
Awesome thanks for the seed project reproducing it. @cristiandouce can you now check this out :)?

[2015-01-06 14:31] mgonto commented on #85
https://ask.auth0.com/t/custom-error-message-in-login-popup/436/3 Notify here

[2015-01-06 17:06] cristiandouce commented on #94
After debugging this a while, I've come with the problem... not yet the solution though.

Using chrome dev tools I've found this:

![image](https://cloud.githubusercontent.com/assets/367429/5632324/90ed563a-95ac-11e4-967a-f1a81e58dcac.png)

Which, as we can see... `auth0-angular` isn't parsing the variables according to Auth0Lock spec.

This is because of some resolve `auth0-angular` does on the c

[2015-01-06 18:22] cristiandouce commented on #94
Closing now, since it's confirmed a bug in how `auth0-angular` resolves `fnName`s for Constructors.

![image](https://cloud.githubusercontent.com/assets/367429/5633559/8d418db6-95b7-11e4-9bde-d40b05ceb7c0.png)

Here, in Chrome's devtools console you can type:
[code]

But, the `fnName` is `r` which is not equal to `Auth0Lock` :dart:

[2015-01-06 19:00] mgonto commented on #94
At all, it has been fixed with version `4.0.1` of `auth0-angular` :).

I've also submited a PR to the sample proving it's working now :).

https://bitbucket.org/Johnstontrav/auth0-seed-issue-94/pull-request/1/fix-with-auth0-angular-401

Cheers!

[2015-01-06 20:11] kevinob11 commented on #94
Should 4.0.1 be v4.0.1 or am I missing something in the tag naming convention?

[2015-01-07 00:42] johnstontrav commented on #94
@cristiandouce thanks for the fix.  I possible have another issue, it seems the minify dist fails to pass the authParams.

auth.signin({
            showIcon: false,
            closable: false,
            disableSignupAction: true,
            authParams: {"app_id": "blah"}
        }, function (profile, token) { .....})

I have a custom Rule like this:

function (user, context, callback) {

[2015-01-07 00:49] cristiandouce commented on #94
@johnstontrav how do you notice the failure? is there some error message? Can you print fully or partially the content of `the context.request.body`?

[2015-01-07 01:09] johnstontrav commented on #94
@cristiandouce I wasn't sure of the best way to do that, but i have tried this:

 return callback(new UnauthorizedError('No access - '+JSON.stringify(context.request.body)));

No Minify
------------
Whilst this works with correct data, the screenshot shows error when bad data is passed via authParams.

![screen shot 2015-01-07 at 12 03 57 pm](https://cloud.githubusercontent.com/assets/7200330/5639

[2015-01-07 02:17] cristiandouce commented on #94
@mgonto Any clue why the promise may not be recognized?

If there is a function, Auth0Lock should post the request and wait for reponse, and then call it.

[2015-01-07 02:30] alexsorokoletov commented on #97
Now it's working! :) Is this fix applicable to login pages based on lock script?

[2015-01-07 02:39] cristiandouce commented on #97
It was not a lock issue, but with the playground itself... if that's what you ask @alexsorokoletov

[2015-01-07 17:57] alexsorokoletov commented on #97
I see. Let me check our login page in IE (that was the reason I came for the playground) and maybe report another issue. Thank you.

[2015-01-07 20:32] mgonto opened #102 "Make i18n language vs custom dict as separate variables"
Right now the `dict` field can accept either a language name (`es` or `en` for example) or a custom dictionary object with custom translations.

It'd be awesome to have them both separated into separate configuration variables.

Thanks!

[2015-01-08 22:33] johnstontrav commented on #94
@mgonto @cristiandouce hey guys, any news on the minify authParams issue?

[2015-01-09 14:22] mgonto commented on #94
@kevinob11 it's the same. I used to make it with npm patch but I don't like the `v` to be honest :P so I changed it. However, both work with bower and npm :).

[2015-01-09 14:25] mgonto commented on #94
@johnkors  Angular version doesn't  use promises either, it just gets the callback from Lock and passes it through. However, when you're sending `authParams` they should part of the Query String,not the body of the request. Have you checked getting it from `context.request.query`?

Can you again put this in a sample repository so that I can take a look?

Thanks!

[2015-01-10 11:48] johnkors commented on #94
Guessing that comment was for another John :) @johnstontrav

[2015-01-11 23:32] johnstontrav commented on #94
@cristiandouce @mgonto het guys im trying to update the demo code to reproduce this issue, but I am having some more login issues.  I have emailed support queue with details as it may not be a public related issue.

[2015-01-12 00:39] johnstontrav commented on #94
@mgonto your correct with "query".  i can access via:

app_id = context.request.query && context.request.query.app_id;

I was also missing this in my code:

jwtInterceptorProvider.tokenGetter = ['store', function (store) {
            return store.get('token');
        }];

It now appears to be working via the minify.  Yay!

[2015-01-12 01:59] cristiandouce commented on #94
@johnstontrav glad you could solve this out!

[2015-01-12 01:59] #94 closed

[2015-01-14 03:39] crrobinson14 opened #103 "Add the ability to change the user's password (authenticated user)"
Feature request: Some workflows provide an option where a user, on his/her account details screen, as a "change password" option. In Auth0 this is currently only possible during login, which requires the user to log OUT and then back in to reset it. Typically there is some sort of "old, new, confirm" dialog that can be triggered in an auth flow to do this for users without forcing them to sign out

[2015-01-14 12:40] jfromaniello commented on #103
:+1: indeed.

This requires a new endpoint at the api level as well.

I think the main issue is that we have the "forget passwod" flow , but we don't have yet the "change password" flow. This is "I know what's my current password but I want to change it", the main different is that this flow doesn't need a verification email, it should use a token/jwt.

[2015-01-21 09:09] dixso opened #106 "console.log"
Hi,
Is necessary this?
https://github.com/auth0/lock/blob/master/index.js#L212
Regards.

[2015-01-21 11:32] pose commented on #106
Hi dixso,

How are you? It's important from a troubleshooting point of view. Can you describe a bit what problem are you experiencing with that?

Thanks in advance,

[2015-01-21 11:59] dixso commented on #106
Hi,
In my application I'm using:
- angular-jwt
- angular-storage
- auth0-angular
- auth0-lock

And my console show this message.
I think you could put a debug flag and prevent the message from being displayed.
Thanks!

[2015-01-21 12:35] pose commented on #106
Hi @dixso,

We've decided that we will remove all `console.log` from the code and use instead [visionmedia/debug](https://github.com/visionmedia/debug). I'll let you know when the change has been made.

Thanks again,

[2015-01-21 18:22] mgonto opened #107 "Lock looks bad on iPhone"
When openning Lock on iPhone, it looks bad. The header is always on top of the time.

![bad](http://d.pr/i/18Zkn+)

[2015-01-22 16:13] #107 closed

[2015-01-28 03:55] alexsorokoletov commented on #97
Hi! Should I open related issue or reopen this one if my auth0 lock login page (basically default one, almost without customizations) renders wrong in IE10+?
https://hipaachat.auth0.com/login?client=xlgC789SYNCN1NMxQcfgT2CFQE8zLK4g&redirect_uri=https://hipaachat.auth0.com/mobile&scope=openid+profile&response_type=token

[2015-01-28 11:30] pose commented on #97
Hi @alexsorokoletov,

Can you open a new issue? Also, can you send us an screenshot that shows how the render is wrong on IE10+?

Thanks in advance,

[2015-01-28 21:13] chelzwa opened #111 "Uncaught Error: Cannot find module 'undefined' in auth0-lock's standalone.js file"
Our site is working fine when it's served locally by gulp, but fails with an "Uncaught Error: Cannot find module 'undefined'' on line 17 (the last line) of auth0-lock's standalone.js file when we build and serve the concatenated version.

Here's the file:
[code]

Let me know if there's any more information I can provide which would be helpful.

[2015-01-28 21:16] pose commented on #111
What version of Lock are you using? Are you using requireJS? How are you including Auth0 Lock in your project? Thanks!

[2015-01-28 21:42] chelzwa commented on #111
Auth0-lock version 7.0.0, we are not using requireJS, and we're using bower to install auth0-lock, and gulp inject and gulp useref to include it. It seems likely that useref is the problem here, because gulp inject is being run when we serve the site locally, and that's working just fine.

[2015-01-29 13:20] pose commented on #111
@chelzwa can you show me how are you including Auth0 Lock in the html file you are applying useref to? Thanks

[2015-01-29 13:27] pose commented on #111
Also, if you have a small sample where we can take a look it would be great. Thanks!

[2015-01-29 16:52] chrisronline opened #112 "Upgrading from 6.12.1 to 7.0.0 breaks apps loaded off file://"
https://ask.auth0.com/t/auth0-and-chromium-apps-node-webkit/471/8

That happens when we upgrade (and happened on a previous version of auth0-lock too).

Any thoughts?

[2015-01-29 20:04] chelzwa commented on #111
Here's a small project which demonstrates the issue: https://github.com/chelzwa/auth0-lock-example
And here's a link to the above project deployed: http://githubexample.test.dokku.praece.com/

Gulp automatically injects all of the bower scripts into index.html when the project is built or served, so if you check out .tmp/serve/index.html, you can see where auth0-lock is being added using the follo

[2015-01-30 03:12] IvanRave opened #113 "Find a way to reduce the 556KB minified version"

[2015-01-30 05:00] cristiandouce commented on #113
yes.

[2015-01-30 05:04] cristiandouce commented on #113
Related:

auth0/lock#66
auth0/lock#102

[2015-01-30 13:01] pose commented on #111
Hi @chelzwa,

It seems to be an AngularJS issue (not a Auth0 Lock one):

![screen shot 2015-01-29 at 18 07 01](https://cloud.githubusercontent.com/assets/419703/5966260/a8f36552-a7e1-11e4-8429-adc7ded0c061.png)

I cannot find the reference to the standalone.js file you mention.

Thanks in advance,

[2015-01-30 17:12] chelzwa commented on #111
Hey, I've removed uglifying and minifying from gulp build so you can see what's going on more clearly. Let me know if the console is still not showing standalone.js as the issue (you can double check that your browser hasn't cached the site by checking that the vendor file in /scripts shows human-readable code). http://githubexample.test.dokku.praece.com/

Let me know how that goes!

[2015-01-30 17:58] chelzwa commented on #111
Tried pulling auth0-lock out of the vendor scripts block, which prevents auth0-lock from being concatenated with the other vendor scripts, and that fixed the problem. Gulp is automatically injecting all of our vendor scripts, so we don't have the ability to change the order that the scripts are added to our index.html file, but I'm curious whether the problem is that the auth0-lock script must be

[2015-01-30 18:31] cristiandouce commented on #111
@chelzwa to answer the order of the scripts, this tutorial marks the order the scripts should be included in the DOM:

https://auth0.com/docs/quickstart/spa/angular/no-api

[code]

[2015-01-30 21:03] chelzwa commented on #111
Alright, we'll look into fixing the order gulp is injecting those then. Thank you so much for your help!

[2015-01-30 21:04] #111 closed

[2015-01-31 23:01] jfromaniello opened #115 "wrong error message on sign up with sso domain"
![](https://dl.dropbox.com/s/umvn3mi92bs4ujp/ss-2015-01-31T19-58-57.png?dl=0)

It should show this message instead:
https://github.com/auth0/lock/blob/master/i18n/en.json#L45

[2015-01-31 23:01] jfromaniello commented on #115
It seems we are missing an error code from server

[2015-02-03 12:37] #115 closed

[2015-02-04 08:19] katrotz opened #117 "Auth0 Lock ES6 module compatibility"
Does the ES6 module loader compatibility feature exist in the library roadmap?

**Use Case**: I am using the systemJS which currently provides ES6 module loader API. It can load modules written in CJS and AMD format, but as the lock library is using server side dependencies ```var fs = require('fs');```, the loading of lock is impossible:
[code]

[2015-02-05 22:55] pose commented on #112
Hi @NetEvolutions,

Can you send us an example project to support@auth0.com so we can reproduce the bug?

Thanks,

[2015-02-05 22:56] pose commented on #112
@chrisronline Need to get back to you on that using the node-webkit to reproduce the error, I think these are two different issues but I'll research both first. Thanks.

[2015-02-06 14:55] sandrinodimattia opened #119 "Lock showSignup does not show the signup labels"
[code]

Results in:

![image](https://cloud.githubusercontent.com/assets/655409/6081246/6abb260c-ae18-11e4-90a2-4f844f403c00.png)

Looking at the i18n file it should show "Signup with ...":

[code]

[2015-02-07 15:04] alexanderteinum opened #120 "`connections: ['Username-Password-Database-Connection']` shows empty widget"
I’d like to have a widget with only username and password – i.e. without Facebook and Google+. I would assume that the following accomplished that, but it only shows a popup with the avatar and title.

    lock.show({
      connections: ['Username-Password-Database-Connection']
    }, function(err, profile, token) {});

[2015-02-07 15:06] woloski commented on #120
make sure the connection name matches the one in your Auth0 dashboard

On Sat, Feb 7, 2015 at 7:04 AM -0800, "Alexander Teinum" <notifications@github.com> wrote:

I’d like to have a widget with only username and password – i.e. without Facebook and Google+. I would assume that the following accomplished that, but it only shows a popup with the avatar and title.

lock.show({
  connections: ['Userna

[2015-02-07 15:09] alexanderteinum commented on #120
That fixed it. Thank you!

[2015-02-07 15:09] #120 closed

[2015-02-07 23:50] claudiuandrei opened #121 "Seems not to work with webpack"
When trying to use auth0-lock node module with webpack and react I get a bunch of errors

[code]

[2015-02-15 03:04] gdjennings commented on #112
I am also seeing white screen of death on android + cordova + DB connection login + lock-7.1.1

[2015-02-17 14:26] mbeckenbach opened #122 "Corrected german translations"
Your automatic translations for german could not be worse.. :-)
Please update it with the ones below.

[code]

[2015-02-17 21:40] ntotten opened #123 "When using Enterprise Connection (LDAP) and NO Database connection SSO does not work"
Repo steps:

1. Create App
2. Create and enabled LDAP Enterprise Connection, set email address (mit.edu)
3. Disable Database connection
4. Go to lock, type in email address jon@mit.edu
5. Lock will not change from "Access" to "Login with mit.edu"

![screenshot 2015-02-17 13 37 33](https://cloud.githubusercontent.com/assets/282782/6237774/7b7922ba-b6aa-11e4-88a5-e81af5c37c11.png)

[2015-02-17 23:34] eugeniop commented on #122
Ausgezeichnet

Danke @mbeckenbach!  ;-)

[2015-02-18 06:51] mbeckenbach commented on #122
Youre welcome. :)

[2015-02-18 12:53] #122 closed

[2015-02-18 12:54] pose commented on #121
Hi @claudiuandrei,

Do you have a small project where I can reproduce this?

Thanks in advance,

[2015-02-19 13:57] pose commented on #112
Hi,

@gdjennings @NetEvolutions We were able to reproduce the issue and should be fixed in Auth0 7.1.3. If that's not the case, let me know and I'll create a new issue.

@chrisronline Still working on the issue, I think you should be able to make it work with 7.1.3 by disabling by setting  `sso: false` but I need to get back to you on that.

Thanks again,

[2015-02-19 14:50] pose commented on #117
@katrotz What happens if you load the built version? Maybe we can add something here to export it as a ES6 module: https://github.com/auth0/lock/blob/master/standalone.js#L15

[2015-02-19 14:55] pose commented on #95
@mlhch Can you provide a working example that could help us go through your build process? A github repo with a Makefile or Gulpfile or Grunfile or anything will do. Thanks!

[2015-02-19 15:01] #36 closed

[2015-02-20 17:08] pose opened #124 "Add a callback for dialog closure"
Reported here: https://github.com/auth0/widget/issues/103

[2015-02-20 17:57] cristiandouce commented on #124
There is already one!

https://github.com/auth0/lock/blob/master/index.js#L503

The issue there I believe is with auth0-angular api.

[2015-02-21 02:50] gdjennings commented on #112
@pose I can verify that android is working again in 7.1.3

[2015-02-22 13:26] pose commented on #112
@gdjennings Awesome, thanks! Now we only need to wait for the node-webkit part to close the issue.

[2015-02-22 13:43] pose commented on #124
Thanks for the pointer, closing then!

[2015-02-22 13:43] #124 closed

[2015-02-23 04:50] gdjennings opened #125 "Emit an event when network/service is unavailable"
In a cordova app with locally deployed JS, if the network or service is unavailabe/inaccessible there is no event triggered. The first point of failure is in onclientloaderror, it would be nice if an event was emitted from here so the app can gracefully enter an offline mode.

[2015-02-23 09:00] katrotz commented on #117
@pose Not sure it will help, might be it is too early for this feature.

I was trying to load it using the SystemJS (ES6 module loader).
Not sure if the bundled version will work.

Anyway, added it to the page using standard script tag.

[2015-02-23 19:09] gjungb opened #126 "History.md is outdated"
First of all, I want to state that Auth0 is awesome :+1:
Nonetheless the ```History.md``` is totally outdated (last change mentioning version 6.1.3 from Aug. 2014). For a security related project this file should be updated more frequently.

[2015-02-23 19:52] gjungb opened #128 "Why do distribution files contain references to "/home/ubuntu/.strider/data"?"
When running ```bower install auth0-lock``` the downloaded files ```auth0-lock.js``` and ```auth0-lock.min.js``` contain references to ```/home/ubuntu/.strider/data/auth0-lock-54e4dcdcbe8382d10c000657```.
This is strange, especially because ```grunt build``` on a fork of this repo produces references like ```/Users/gerd/WebstormProjects/lock/```.
Is there any reason to have hard coded pathes in th

[2015-02-25 02:20] pose opened #129 "/ro mode not working when called with popup: true and sso: false"
Affected versions: Auth0 Lock 7.1.3

#### Steps to reproduce

The following code:

[code]

#### What should happen?

Provided a database connection exists and the username/password is right (and from an existing user) `/ro` callback should be used to log in.

#### What happens instead?

A popup opens and sets the sso cookie. That's not the intended behavior when `sso: false`.

[2015-02-25 02:21] #129 closed

[2015-02-25 02:26] pose commented on #128
Hi @gjungb,

You are right. It does not look nice.

It's possible those absolute paths are generated in the source map creation process. I agree they should be relative but you shouldn't get any error from that. Feel free to re-open if those paths are making your app or Lock instance fail.

Thanks,

[2015-02-25 02:26] #128 closed

[2015-02-25 02:28] pose commented on #126
Hi @gjungb,

You are definitely right. We will get that updated soon.

Thanks,

[2015-02-25 02:30] pose commented on #125
Yes, that's correct. I think the right name for it would be: `client error` but I don't know if that's going to be too generic: https://github.com/auth0/lock/wiki/Events

[2015-02-25 16:52] pose commented on #117
@katrotz That should do the trick for now. Probably, we will need to revisit that in the future. Feel free to re-open if required.

[2015-02-25 16:52] #117 closed

[2015-02-25 16:52] pose commented on #126
@gjungb This has just been fixed. Thanks!

[2015-02-25 16:52] #126 closed

[2015-02-25 16:59] pose commented on #112
Hi @chrisronline,

Can you try now with `7.1.4` and setting `sso: false` flag on `signin` / `signup`? The problem is that in `7.x` is no longer using by default the `/ro` endpoint and that should be explicitely enabled by setting `sso: false`. Feel free to re open the issue if that does not solve your problem.

Thanks again,

[2015-02-25 16:59] #112 closed

[2015-02-25 17:00] pose commented on #121
Duplicate of #54, let's follow up on that issue.

[2015-02-25 17:00] #121 closed

[2015-02-25 18:48] rtucker88 commented on #95
I have the same issue using Webpack. I'll try to get a minimal test-case going for you.

[2015-02-25 18:50] pose commented on #95
@rtucker88 Awesome, thanks!

[2015-02-25 19:18] rtucker88 commented on #95
Here's a minimal test-case showing the error. If you have any questions please let me know! https://github.com/rtucker88/auth0-md5-bug

[2015-02-26 15:48] jerizm opened #131 "Logging in again with generic oauth2 connection Show All button doesn't show anything else"
I added a custom button for my oauth2 endpoint following these instructions. http://auth0.com/docs/hrd#3

Initial Login shows all connections fine.

![initial login](https://cloud.githubusercontent.com/assets/238119/6394996/69f19360-bda3-11e4-8b14-01db75666bec.png)

If I logout and try to log back in clicking on Show All doesn't do anything. Here's a screenshot and the HTML from inspector.

![lock

[2015-02-26 16:29] jerizm commented on #131
Also noticed when logged in via my oauth2 connection trying to link another account shows nothing at all either.
![link another](https://cloud.githubusercontent.com/assets/238119/6396131/bec3282a-bdaa-11e4-872e-c4b8aa7e226b.png)

[2015-02-26 17:22] woloski commented on #131
@jerizm you can turn off that by using `rememberLastLogin: false` https://github.com/auth0/lock/wiki/Auth0lock-customization#rememberlastlogin-boolean

[2015-02-27 02:21] chrisronline commented on #112
Works. Thanks much!

[2015-02-27 03:47] pose commented on #112
@chrisronline :+1:

[2015-02-27 23:05] mbeckenbach opened #132 "Confusing button name"
The button text "all" is confusing for some users.

When you were already logged in before and see the "Last time you signed in using..." screen it should not say "Show all". Instead something like "Use another account to log in" would be better at this screen.

German translation would be "Mit einem anderen Account anmelden".

[2015-02-27 23:12] mbeckenbach opened #133 "Let users switch language in lock"
There should be a button / dropdown to switch the language of lock at runtime.

The selected language should could also be provided as a property in the user profile.
This would make it a lot easier to set up the user's preferred language in the app.

The available languages should be configurable by the developer.

[2015-02-28 19:49] rtucker88 commented on #95
I came up with a potential fix, but I don't think it's the cleanest solution.

On line 23 of lib/gravatar/index.js add the following:

if(!md5) {
  md5 = require('blueimp-md5');
}

[2015-03-03 14:19] #119 closed

[2015-03-03 15:43] felixinx opened #135 "Can show title in lock fr-FR"
Using WP Extension and Lock 7.1.5.

In the english form, default, we have the `title` option return and show up. In another language (if we configure with `dict`), is `NULL` and this cannot be change (if we change, we will get `NULL`). So we get `Connexion`(fr-FR) or `Iniciar sesión` (es) but not the our choice. The WP extension only show the div.  This should be fix.
*Edit - Screenshot*
In `fr-FR

[2015-03-03 15:48] felixinx commented on #132
Try to make a pull request in the https://github.com/auth0/lock/blob/master/i18n/en.json file. You can also make another pull request for german.
I recommand ```Use another social provider to log in```.

[2015-03-03 15:50] felixinx commented on #133
Maybe a `lock.show` option? This will be nice. I also recommand to use HTACESS to dertermine wich language user is using. This will be more user friendly for the frontend.

[2015-03-03 22:15] cristiandouce commented on #133
I don't see how a dropdown inside the context of the lock's html would make any sense.

If you allow something like that, I'd rather see it at an Application level. Some dropdown on your appliaction which trigger.

As @felixinx says, you can use a pre-polulated language or pass your own dictionary:

- https://github.com/auth0/lock/wiki/Auth0Lock-customization#dict-stringobject
- https://github.com

[2015-03-03 22:15] #133 closed

[2015-03-03 22:19] cristiandouce commented on #132
How about

1. `Show all providers`
2. `See all providers`
3. `Use a different provider`
4. `Use other account`

Let's play to get it shorter in text and as meaninful as possible! :dancers:

[2015-03-03 22:21] cristiandouce commented on #135
Could you confirm what version of the plugin are you using?

Also if you could print how you are initializing the lock, that would be helpful too!

Thanks!

[2015-03-03 22:23] cristiandouce commented on #131
@jerizm Were you able to achieve what you wanted with @woloski's option?

[2015-03-03 22:58] felixinx commented on #135
I use the latest WordPress Plugin from the WP store https://wordpress.org/plugins/auth0/ (todays version) and CDN 7.1.5

[2015-03-03 23:01] felixinx commented on #132
`Use a different provider` sounds good!

I recommend `Utuliser un autre service` for `fr-FR`.

[2015-03-04 00:56] jerizm commented on #131
Yes thanks that worked good enough for me.

On Tue, Mar 3, 2015 at 5:23 PM, Cristian Douce <notifications@github.com>
wrote:

[2015-03-04 02:42] #131 closed

[2015-03-04 06:43] mbeckenbach commented on #132
Use a different provider sounds very technical. I think more end users will understand use a different account.

[2015-03-04 11:10] jfromaniello commented on #132
I agree with @mbeckenbach , "provider" is too technical.

Maybe 4, or "Use a different account"

[2015-03-04 11:46] cristiandouce commented on #132
So we agreed on `account` over `provider`. Not the contest is between 4. and 5. Or another good option! :grinning:

[2015-03-04 14:41] cristiandouce opened #138 "Update all submits through auth0.js client"
... to something like this:

[code]

so we avoid calling the callbacks when the widget has been force to be hidden or removed from DOM manually.

This is a safety check, and it requires auth0/auth0.js#68 to work

[2015-03-04 15:08] tehsis opened #139 "Verify if we can remove "plain bonzo" calls"
We are using a [wrapper around bonzo](https://github.com/auth0/lock/blob/master/lib/bonzo-augmented/index.js) but we are still using the original library on some cases:

https://github.com/auth0/lock/blob/master/index.js#L11
https://github.com/auth0/lock/blob/master/index.js#L14

We need to check if we can just remove the "bonzo duplication"

[2015-03-04 15:56] cristiandouce commented on #139
:+1:

[2015-03-04 19:13] felixinx commented on #135
I just edit the issue with screenshot.

[2015-03-04 19:42] #83 closed

[2015-03-05 14:07] mbeckenbach commented on #132
5 makes it more clear that you log in as another person in my opinion

[2015-03-05 14:16] mbeckenbach commented on #133
@felixinx Why not detect the browserlanguage in javascipt? I do that in all my multi language js apps. Works perfect.

[2015-03-05 14:23] cristiandouce commented on #133
@mbeckenbach Wouldn't it look awkward if you enter a french site, and the lock triggers in japanese (or whatever your browser's locale is...)?

It's better that the lock matches the site's language, and for that it needs to be triggered from the site/application, IMHO

[2015-03-05 19:13] mbeckenbach commented on #133
@cristiandouce No. It would not as long as the french site offers a japanese translation too. :-)

Lots of sites do auto detect your language. Lock should have an option to enable it. It does not have to do it by default.

[2015-03-05 19:13] mbeckenbach commented on #133
@cristiandouce This could also be awesome in registration as i know the users language before he starts using my app.

[2015-03-05 19:47] cristiandouce commented on #133
That's my point.

If your site has an auto detect language, Lock does too:

[code]

If the site does not have a translation for the current browser locale, the Lock should not display in a different language as the site, therefore the default functionality should be to display with the language defined by the running site. The auto discover function here does not make sense, since the lock works w

[2015-03-06 15:15] #106 closed

[2015-03-07 13:23] rogozind opened #141 ""wrong password" message stays on Signup screen"
1. Put wrong email/password and click SignIn
2. Widget displays "Wrong email or password" error message.
3. Click SignUp button. The message is still there but it does not make sense on that screen. It should be hidden on Signup page.

[2015-03-07 17:05] cristiandouce commented on #141
True! Will fix that soon. Thanks!

[2015-03-11 23:43] Maxim-Filimonov opened #142 "Extra fields on signup"
Hi,
I know that current recommendation is to use custom UI for signup if any extra fields required. My problem with that approach is that addition of just one extra field requires us to code multiple custom different things:
- Signup form,
- Reset password (because it's usually part of signup form)
- Backend /signup method
- Validation using password rules specific by auth0 password policy (so tha

[2015-03-12 01:30] Maxim-Filimonov commented on #142
Ok just found a show stopper for this one. It looks like the auth.js is using [dbconnections signup method] (https://auth0.com/docs/auth-api#!#post--dbconnections-signup) instead of POST /users. Which i presume is done for security.
However, the dbConnections signup method does not allow to pass any extra data when user signs up. Is it possible to change ?

[2015-03-12 03:06] cristiandouce commented on #142
Just asking: why don't use auth0.js just for signup and keep using lock for signin, reset password, and keep all the form's validations for those fields?

If the real issue is having to code a sign in form, reset form , and validations... it's not actually an issue as I see it.

As a feature request it would require quite more work than presented. It's still valid, but I don't recall extra_fields

[2015-03-12 03:17] Maxim-Filimonov commented on #142
@cristiandouce Cause auth.js doesn't allow us to signup with extra fields? :\ We are hacking its code now to make it use /users/create instead of dbconnections/signup as no one replied to us why this difference exists.

[2015-03-12 19:17] singularityjay commented on #142
Maxim is asking for a feature request. I've also made this same feature request here:
https://ask.auth0.com/t/customize-sign-up-page/666

A lot of people seems to be interested in this subject. It'll be a GREAT option to have within the default modal login/reg box.

[2015-03-12 20:09] rogozind commented on #141
Any ETA on this fix?

[2015-03-12 20:25] cristiandouce commented on #141
soon :grinning:

[2015-03-13 19:35] mgonto opened #146 "`Signin` button should say `sign in`"

[2015-03-16 13:49] #141 closed

[2015-03-16 14:19] cristiandouce commented on #146
@mgonto Which one? Can't find it! hahaha :dancers:

[2015-03-16 17:37] #146 closed

[2015-03-16 17:38] cristiandouce commented on #141
@rogozind A fix for this was released with the latest `7.2.0` version of __Lock__. Let us know how it goes!

Thanks again for reporting!

[2015-03-16 18:47] cristiandouce opened #148 "wont close if focus isn't in some input"
`'keyup'` event on `'#a0-lock'` wont trigger if focus is in overlay.

[2015-03-17 15:48] cancan101 opened #149 "Source Mapping File for Minimized Source"
http://www.thecssninja.com/javascript/source-mapping

[2015-03-19 16:11] barneycarroll opened #151 "Auth0Lock needs to reinitialise in order to invoke new forms"
[As seen in this fiddle](http://jsfiddle.net/barney/pw226jao/) (go to the sign in page, go back to the home page, _then_ go back to the sign in page), once one of the Auth0Lock `show` methods has been used, you cannot `show` again for the same instance. This is because each Auth0Lock instance binds to a container on its first show, and will then [silently short-circuit the form display function if

[2015-03-19 16:14] barneycarroll commented on #151
This fixes it for me, but I can't vouch for whether the check served any purpose in the first place. This might break other functionality.

[code]

[2015-03-19 16:35] cristiandouce commented on #151
@barneycarroll yes you can. You just have to:

[code]

Which is much easier.

Or you could just create a new instance of the lock, no issues there.

[2015-03-19 16:35] #151 closed

[2015-03-19 16:42] barneycarroll commented on #151
Aha! So correct usage is to explicitly invoke `hide` whenever I'm done with a form?

[2015-03-19 16:49] cristiandouce commented on #151
This is the thing with lock. The idea for that `shortcircuit` is to avoid that you multiply call:

[code]

Because the options of instance are replaced with the ones from the latest invokation. This means that when you submit signin with database in your container `a` it won't recognize the database connections from the configuration.

So, if you want to have multiple locks in the page you can ins

[2015-03-19 17:07] barneycarroll commented on #151
Thanks for the insight. The API makes more sense when you consider edge cases, and I appreciate it's kind of impossible to document these without overwhelming the user.

I've decided to take the approach of explicit hiding on form unload. Thanks again for the explanations.

I assume the reasoning for a hide callback is to cater for outgoing animations?

For posterity, here are two fixed forks of t

[2015-03-19 19:17] cristiandouce commented on #151
Second one is much cleaner. Good examples both! :dancer: Thanks!

[2015-03-20 06:17] sprockow opened #152 "Auth0 Lock uses callbackUrl instead of responseType token"
[code]

This works as expected most of the time, and does not try to redirect my SPA to a callback url. However, if I switch from a social media provider, logout, and then switch to username-password user, I can pretty regularly get a redirect callback from the auth0Lock, which will break my SPA login flow.

Am I doing something wrong? Should I ever a expect auth0Lock to redirect my app with the a

[2015-03-24 09:08] sandrinodimattia opened #153 "Support AD domain in addition to the email suffix for HRD"
So currently the Lock will look at the email suffix (eg: jon@fabrikamcorp.com) and match this to the email domains configured for the different enterprise connections in a subscription.

Now it would make sense to extend this support to also handle domains (in the format of DOMAINNAME\USERNAME).

We now did this by injecting custom logic on events:

[code]

[2015-03-25 09:19] mildfuzz opened #155 "Several syntax issues with IE9"
IE9 is listed as supported, but I am seeing lots of breaking errors when loading auth0lock via bower and script tag:

```<script src="/bower_components/auth0-lock/build/auth0-lock.js"></script>```

![image](https://cloud.githubusercontent.com/assets/196705/6821577/f3a77c64-d2cf-11e4-93f8-acf411100eec.png)

[2015-03-25 09:42] cristiandouce commented on #155
@mildfuzz Do you ge the same using the CDN url? or just from the bower package?

Please try: https://cdn.auth0.com/js/lock-7.1.1.js

I tested on IE9 recently and I don't find those errors.

[2015-03-25 10:04] mildfuzz commented on #155
Same

![image](https://cloud.githubusercontent.com/assets/196705/6822273/5e978a7c-d2d6-11e4-9238-9fcae20444e1.png)

[2015-03-27 02:01] sprockow commented on #152
Ok, so I have some new insight. And this is going to sound like I'm a crazy person.

I run this file through uglify.js as part of my ember-cli build pipeline. After minifying the file, the token response behavior breaks, and I get a callback url in my SPA.

When I disable minification, the behavior works, and my popup communicates with the main window properly.

My resolution has been to import th

[2015-03-27 02:22] jfromaniello commented on #152
What version are you using?

[2015-03-27 04:10] sprockow commented on #152
I'm using version 7.3.0

On Thu, Mar 26, 2015 at 7:22 PM, José F. Romaniello <
notifications@github.com> wrote:

[2015-03-27 12:11] jfromaniello commented on #155
Is your page loading in IE9 as in IE9 mode as shown in this picture?

![](http://support.microsoft.com/library/images/2665906.png)

[2015-03-27 12:24] jfromaniello commented on #152
@sprockow can you try adding `sso: false`:

[code]

Thanks

[2015-03-27 15:53] rolodato opened #156 "Non-compliant passwords for signups or password resets should not make requests to Auth0"
This is the behavior when attempting to log in with an invalid email address (no requests to Auth0 are made):

![image](https://cloud.githubusercontent.com/assets/829698/6871225/eada4178-d47f-11e4-9651-a9446a01b6cc.png)

This is the behavior when attempting to sign up with a password that doesn't comply with the password policy (a request to Auth0 is made, which is unnecessary):

![image](https://

[2015-03-27 17:19] jfromaniello commented on #156
I think this has been implemented on newer versions.

@pose?

[2015-03-27 17:28] rolodato commented on #156
I just tried this on `lock-7`, same behavior.

[2015-03-27 17:38] jfromaniello commented on #156
@rolodato weird, according to #79 you should also see a popup with the password rules.

What Password Strength level are you using?

![](https://dl.dropbox.com/s/tdz745l0jwk86fy/ss-2015-03-27T14-37-57.png?dl=0)

[2015-03-27 17:39] rolodato commented on #156
I'm seeing the popup when typing the password, but it doesn't prevent me from submitting. I was using `excellent` as the policy but it's the same for any policy.

[2015-03-27 17:41] jfromaniello commented on #156
@rolodato oh great.. yes that sounds like a bug definitely.

[2015-03-27 19:04] cristiandouce opened #157 "Add SMS authentication support"
### Expected Flow

1. User is asked for a phone no.

      <img src="https://cloud.githubusercontent.com/assets/367429/6874909/bd245682-d499-11e4-8616-a5c31b7f3703.png" width="250">

2. Taping or clicking over the + 54 9 (shown before) should display a full list of countries to select.
Default could be browser’s locale.

      <img src="https://cloud.githubusercontent.com/assets/367429/6874921/d05

[2015-04-01 09:26] blablapolicja commented on #12
same on
[code]
![screenshot_2015-03-31-22-59-11](https://cloud.githubusercontent.com/assets/7767522/6938201/460e4718-d86a-11e4-82d0-bb9a05fa6029.png)

[2015-04-01 14:50] rolodato opened #158 "Use new v2/logout endpoint"
As documented here: https://auth0.com/docs/logout

A `federated` parameter or similar should be added as well.

[2015-04-01 15:19] rolodato commented on #158
See this issue instead: https://github.com/auth0/auth0.js/issues/74

[2015-04-01 15:19] #158 closed

[2015-04-09 09:35] Maxim-Filimonov opened #159 "Footer logo displayed even for paid account"
I have social+ and startup plans on my account and I still see auth0 logo footer. As far as I understand it should only appear on dev plan

[2015-04-09 12:16] rolodato commented on #159
Try enabling and disabling any connection, it should refresh the client data retrieved by Lock and not show the logo anymore.

[2015-04-10 06:14] Maxim-Filimonov commented on #159
Enable/Disable doesn't work as I can't disable anything in dashboard. When i flip the switch -> refresh the page it comes enabled again. No errors in console

[2015-04-10 12:32] cristiandouce commented on #159
Could you share your initialization setup? (+clientId+domain)

Thanks!

[2015-04-10 21:45] Maxim-Filimonov commented on #159
Fixed by @rolodato. Startup account needed manual fix.

[2015-04-10 21:45] #159 closed

[2015-04-10 22:58] cristiandouce commented on #159
Awesome!

[2015-04-13 16:21] barneycarroll opened #163 "setTimeout loaded state resolution throws error"
The options manager's [asynch 'loaded' resolution](https://github.com/auth0/lock/blob/master/lib/options-manager/index.js#L170) allows for the widget to be destroyed between then and resolution, causing an error when the DOM components [attempt to initialise on elements that are no longer there](https://github.com/auth0/lock/blob/master/lib/header/index.js#L68).

Could this be done some other way

[2015-04-13 16:42] cristiandouce commented on #163
The `ready` async event __should__ actually stop the execution of every DOM rendering as shown in [this line](https://github.com/auth0/lock/blob/master/index.js#L545).

If you follow the call stack, this `ready` event, calls initialize, which calls the `HeaderView` initialization. In that order.

@barneycarroll Could you provide some repro steps?

It could be possible that this occurs if you call

[2015-04-13 16:47] barneycarroll commented on #163
@cristiandouce spot on – my component's 'unload' behaviour was deferred until after the next component had loaded. Moving from distinct login to submit pages caused things to screw up. My mistake, thanks for the insight!

[2015-04-13 16:48] cristiandouce commented on #163
Awesome. Yet, we should prevent that or fail with a better message I think.

I'll keep this open for the time being until I find the time to dig into this.

Thanks!

[2015-04-15 03:11] rolodato opened #164 "Wiki improvement: mention how to use refresh tokens in popup mode"
https://github.com/auth0/lock/wiki/Using-a-Refresh-Token doesn't specify how to access the refresh token in the popup callback.

[2015-04-25 10:18] dhiva commented on #125
+1

[2015-04-25 10:24] dhiva commented on #86
I tried doing the same to check email verification before allowing signin into the application.
[code]
I get "server error" error which is too generic and the message I set in rules doesn't seem to be displayed.

[2015-04-27 21:12] carnevalle commented on #54
I can't get above example to work with webpack. Anyone have a complete working example?

[2015-04-29 17:48] cancan101 commented on #54
I also cannot get the above to work.
Also what `devDependencies` are needed?

[2015-04-30 05:53] nandanrao commented on #111
@chelzwa did you ever get this figured out? I'm having the same exact problem with useref and gulp-angular generator. Gulp-useref keeps the order the same as they are founded in the template, and in the template they are included in the proper order, as it is determined by bower (I install auth0-angular, which installs both auth.js and auth-lock.js, in that order). I've confirmed the order is corr

[2015-05-05 17:20] oskosk commented on #71
I'm still perceiving this issue using [lock 7.4](http://cdn.auth0.com/js/lock-7.4.min.js) on latest Chrome for iOS. How may I report that to the auth0-server maintainers in case it's still an issue?

[2015-05-07 10:13] kpgarrod commented on #54
I'm also having problems with this. Did anybody get it right? I'm getting json errors.

[2015-05-08 09:41] barneycarroll opened #169 "Signup page headerText is inadequate / useless"
The `signup:headerText` is "Please enter your email and password". This text is more suited to the signin context – users don't yet have a password, and besides they need to choose a username. I personally believe it should be removed completely – the title and the inputs themselves are fully self-evident.

[2015-05-11 14:31] cyancdesign opened #171 "508 compliance not valid"
We have clients that need our site to be 508 compliant, and the login widget is failing on a few items.
We have been testing with: https://addons.mozilla.org/en-us/firefox/addon/accessibility-evaluation-toolb/

1) The i element must not be used to italicize text content, instead use heading (h1-h6) elements for heading text or the em element for emphasizing words, phrases or sentences.

[code]

Th

[2015-05-15 16:37] afgallo opened #172 "How to use aut0-lock with requirejs?"
Hi,

I'd like to use auth0-lock with requirejs. Below is my current setup. I basically have my requirejs config and AMD module that requires auth0-lock, I cannot create an instance of Auth0Lock because when I do a console.log as shown below, I get the output of Sizzle.

Any ideas? What am I doing wrong?

[code]

[2015-05-15 16:44] cristiandouce commented on #172
Would you have an example or seed to test that out?
Could you also try requiring auth0-lock first?
Thanks!

[2015-05-15 17:03] afgallo commented on #172
@cristiandouce requiring it first didn't work ! I'll work on an seed and send you asap.

[2015-05-15 17:09] cristiandouce commented on #172
@afgallo thanks!

[2015-05-15 17:50] afgallo commented on #172
There you go @cristiandouce:

https://github.com/afgallo/auth0lock-requirejs

[2015-05-15 17:52] cristiandouce commented on #172
Thanks @afgallo! I'll take a look at that later and ping you back when find a solution.

[2015-05-15 18:35] rcrupp commented on #111
This ordering in bower.json corrected the problem for me:

 "angular-cookies": "~1.3.15",
    "auth0-lock": "~7.5.1",
    "auth0.js": "~6.4.1",
    "auth0-angular": "~4.0.5",
    "a0-angular-storage": "~0.0.10",
    "angular-jwt": "~0.0.7"

[2015-05-19 13:04] afgallo commented on #172
@cristiandouce any news?

[2015-05-19 16:05] cristiandouce commented on #172
@afgallo nope, not yet. I'm not requirejs expert. But I've found some odd behaviors when there are "anonymous" defined "dependencies" (like Sizzle in this case).

http://requirejs.org/docs/errors.html#mismatch

[2015-05-19 16:13] cristiandouce commented on #172
For instance, just to prove the concept I gave a `name` property to all `define(definition)` calls inside dependencies and also `jquery`'s define for `sizzle`.

This was the result:
![image](https://cloud.githubusercontent.com/assets/367429/7707886/b0d281f2-fe28-11e4-8de0-fe2882d394c6.png)

`Auth0Lock` does define itself with a name to avoid this kind of issues. But, I'm not yet sure how to avoid/

[2015-05-19 17:42] #172 closed

[2015-05-19 17:46] jfromaniello commented on #172
Fixed on version 7.5.4.

Thanks for reporting it!

[2015-05-19 17:57] cristiandouce commented on #172
@jose :rose:

[2015-05-19 17:58] cristiandouce commented on #95
Please review this by using the new `7.5.4` version. @jfromaniello implemented a fix for this kind of bugs.

Reopen if still an issue.

[2015-05-19 18:00] jfromaniello commented on #54
Can you guys try with `v7.5.4` just released?

Thanks a bunch

[2015-05-19 20:35] cancan101 commented on #54
@jfromaniello Do you have an example how the webpack file should look?

[2015-05-20 07:06] kpgarrod commented on #54
@jfromaniello I would also like an example please. I tried again today with v7.5.4 but did not succeed.
I did get the app to build using @nelix's loader definitions, however it doesn't run.

I'm not sure if this is still the same issue - I am trying to use Lock with angular and am now getting an error from auth0-angular:

[code]
I see that auth0-angular throws that error if window.Auth0Lock is not

[2015-05-20 14:18] cristiandouce commented on #54
@kpgarrod
1. If you use the `index.js` to load the Auth0Lock, you must build it with all it's browserify transformations. I'd recommend you to just load the build from `auth0-lock/build/auth0-lock.js`
2. What version of `auth0-angular` are you using?

[2015-05-20 14:26] ni-hil commented on #164
Is it possible to use the refresh token in popup mode? How can I get back the refresh_token in the callback?

[2015-05-20 14:51] rolodato commented on #164
Yes, it's possible. Add the following parameters to the callback function:

[code]

`refresh_token` should be present when sending `offline_access` as part of the scopes.

[2015-05-20 15:05] rolodato commented on #164
Added here to wiki: https://github.com/auth0/lock/wiki/Using-a-Refresh-Token/963b892b4a6d2c88a1e82347779592cee08ffcd6

[2015-05-20 15:05] #164 closed

[2015-05-22 05:39] kpgarrod commented on #54
@cristiandouce I don't see a build directory in this repository. I am using auth0-angular 4.0.4.

[2015-05-22 13:17] cristiandouce commented on #54
https://github.com/auth0/lock/tree/v7.5.4/build

The build directory is never pushed to master branch or any development branch, just the releases branches.

What is important is that if you installed lock with bower you should find that build inside your code.

[2015-05-22 13:25] kpgarrod commented on #54
@cristiandouce: ah, that explains it. I'm not using bower anymore. I am installing with npm, but I still want to get the build code.

[2015-05-22 13:26] cristiandouce commented on #54
You should still have that build directory from npm install. Is that not the case?

[2015-05-22 13:30] kpgarrod commented on #54
no

[2015-05-22 13:46] jfromaniello commented on #54
@kpgarrod @cristiandouce the `build` directory is not pushed to npm on purpose, if you install with npm you build with browserify.

If you want to install with npm and at the same time have the build folder in the release tag you can use this and install from github:

[code]

[2015-05-22 13:48] jfromaniello commented on #54
no that doesn't work either because is npm ignored :(

[2015-05-22 16:49] #155 closed

[2015-05-28 11:53] bnhovde commented on #111
@rcrupp This fixed my problem too.

[2015-05-28 19:06] djwait commented on #95
We use Auth0 in our iOS app and are now integrating it into our node/javascript/React app. We use webpack and I've been able to get it to load but couldn't get it working without using the line "23 of lib/gravatar/index.js" fix suggested by @rtucker88 . I'm using 7.5.4 so I think you may need to reopen this issue.

[2015-05-28 19:32] cristiandouce commented on #95
@djwait would you have a repro seed that we could use to debug the issue?
How are you requiring/initializing the app? are you using the build file?

Thanks!

[2015-05-28 19:34] cristiandouce commented on #95
@djwait also take a look at this issue:  #172

and the seed project using requirejs: https://github.com/afgallo/auth0lock-requirejs by @afgallo

[2015-05-28 19:50] djwait commented on #95
Thanks. I'll take a look at these. I’m actually not using RequireJS. We’re using webpack to pull all the modules together for the browser. We use React and Fluxible. I’m not really familiar with RequireJS but I found this issue describes the problem I’m seeing. It’s got to do with the URL generation in the gravatar/index.js not finding the md5() function.

Here's the error from javascript console:

[2015-05-28 19:55] cristiandouce commented on #95
@djwait still, could you provide with a seed project hat reproduces the error?

For example, that reference to `gravatar/index.js` should never appear if you are using the `build/lock.js` on requires. Are you requiring that, or `standalone.js` ?

[2015-05-28 19:57] djwait commented on #95
I understand you need a reproducible case. I'll see what I can do to provide a simple example of the issue. Thanks.

[2015-05-28 20:01] cristiandouce commented on #95
@djwait you too for understanding! :grinning:

[2015-05-29 14:43] djwait commented on #95
@cristiandouce I've setup a stripped down copy of a Yahoo! example that includes my approach to integrating auth0. Their example demonstrates the architecture we're trying to follow. A lot of this is new to me and Javascript isn't my native language so I'm guessing I've done something wrong. Could you take a look at it? If you clone my 'fluxible-auth0-demo' repository you should be able to:

1. do

[2015-05-29 17:12] cristiandouce commented on #95
#### Booted on `http://localhost:3000` with install and run instructions

![image](https://cloud.githubusercontent.com/assets/367429/7885714/e20d934e-05fb-11e5-9892-0ceb4503e4fc.png)

The error appears when it tries to async load the blueimp-md5 module using requirejs syntax (I guess) instead of commonjs I believe (since webpack supports both ways).

I'd recommend to use a built `external` Auth0Lo

[2015-05-29 17:20] djwait commented on #95
Just took a quick look at the webpack docs and it sounds like a good idea. Like I said, I'm not a webpack expert but looks like I'll become one! ;-)

I'll try that approach and let you know how it goes. Thanks for the assistance!

[2015-05-29 17:22] cristiandouce commented on #95
If we get it working, it would be also a good doc entry to add to https://github.com/auth0/docs :wink:

[2015-06-01 10:16] kpgarrod commented on #54
@jfromaniello: so any solution for this issue? I have been loading from cdn but the performance is sometimes very slow from where I am. That is making it difficult for me to work.

[2015-06-01 11:44] jfromaniello commented on #54
@kpgarrod can you try like this:

[code]

[2015-06-01 12:02] jfromaniello commented on #54
@kpgarrod btw, regarding this:

where are you from? (country)

[2015-06-01 12:02] kpgarrod commented on #54
South Africa

[2015-06-01 12:43] kpgarrod commented on #54
I tried installing from that url. I certainly do get the build directory that way, however it still doesn't work for me.

Webpack gives me this warning:

WARNING in ./~/auth0-lock/build/auth0-lock.js
[code]

[2015-06-01 14:26] djwait commented on #95
@cristiandouce I haven't had time to really dive into this yet. On our real app I actually changed the config of the login screen to turn off gravatar, sso, and rememberLastLogin. That's the config we'll be running with and with that arrangement everything works fine using the standard 7.5.4 package.

I may look at this if I run into spare time but don't count on it. I'll leave it up to you as to

[2015-06-01 14:27] cristiandouce commented on #95
@djwait we are already checking on it. We will keep you posted! Thanks!

[2015-06-02 02:07] cristiandouce commented on #95
@djwait we finally ended up implementing the fix @rtucker88 proposed a time ago.

Could you check that it's working now with the latest `auth0-lock@7.5.5`?

auth0/lock#175

[2015-06-02 06:43] kpgarrod commented on #54
@jfromaniello I made pull requests for auth0-jwt, auth0-storage and auth0-angular to include an export statement like this:

  exports) {
  module.exports = 'auth0-lock';
}

That seems to be how other libraries deal with this issue.

My pull requests haven't been accepted, but I am successfully using my branch in my app. I think the same thing is needed here.

I wasn't sure where to add the statem

[2015-06-02 11:23] djwait commented on #95
@cristiandouce I'll check it out as soon as I can. Have a minor deadline today but should be able to get to it in the next couple of days worst case.

[2015-06-02 12:51] jfromaniello commented on #54
@kpgarrod I'll look into that.

In addition to that, I want to point out that we made a successful change to our cdn and we added a node to South Africa.

We will love to know the response time now from your place to cdn.auth0.com now.

If you dig/nslookup cdn.auth0.com this is the ip it should be resolving: 41.185.31.164.

Thanks a lot for your troubleshooting

[2015-06-02 15:19] hzalaz opened #176 "Xcode signing error for ionic apps"
When submitting an ionic app for AppStore review, the validation process fails due to the presence of the `bin` directory and its contents which are expected to be signed by the Apple Developer.
This is clearly an Xcode bug, but until its solved by Apple we should at least rename that folder to avoid this annoyance.

[2015-06-02 21:06] mitya commented on #71
+1 — the popup is not closed on the latest Chrome for iOS.

[2015-06-03 08:24] kpgarrod commented on #54
@jfromaniello the cdn does resolve correctly and ping time is about 12ms, thanks!

[2015-06-03 15:01] cristiandouce commented on #176
@hzalaz would it work the ignore of the directory from bower and npm?

[2015-06-03 15:04] #176 closed

[2015-06-03 15:05] hzalaz commented on #176
@pose already fixed this in 8baa4a5022a512c138b779875f08803162e26859

[2015-06-03 15:13] cristiandouce commented on #54
@kpgarrod @cancan101 @nelix @rayvace @carnevalle we have now an example using webpack in this repository.

Unless it doesn't work for you, I'm closing this issue for now.

You can follow the instructions here: https://github.com/auth0/lock/tree/master/examples/webpack#running-the-example

[2015-06-03 15:13] #54 closed

[2015-06-03 15:15] cristiandouce commented on #95
Hey @djwait I'm closing this for now. Feel free to ping back if it doesn't work for you. We have also made it work in a [webpack example](https://github.com/auth0/lock/tree/master/examples/webpack).

Thanks!

[2015-06-03 15:15] #95 closed

[2015-06-04 15:18] rolodato opened #179 "Support 'reset submit' event"
Analogous to `signin submit` and `signup submit`.

[2015-06-04 15:19] #179 closed

[2015-06-05 12:03] kpgarrod commented on #54
@cristiandouce Unfortunately this is still not working for me.
If I require Lock as in your example, I get `Auth0Widget is not defined` from auth0-angular.

I can get my app to build and basically run by requiring lock like this: `var Auth0Lock = require('auth0-lock/build/auth0-lock');`, but I get warnings from webpack:

when I try to signin with Lock, I get an error message about `md5` being unav

[2015-06-05 12:24] cristiandouce commented on #54
We dont have auth0-angular in the example...

Doesthe example with webpack under thr rxamples folder work for you?

If it does then we can scale the issue to debug auth0-angluar instead of lock.

[2015-06-05 12:39] kpgarrod commented on #54
@cristiandouce yes, the example works correctly for me.

[2015-06-05 14:10] cristiandouce commented on #54
@kpgarrod cool then. Would you mind open an issue there then, with more detail on your configuration for using webpack with auth0-angular?

Also, if you have a seed project that reproduces the bug it would help to debug.

[2015-06-07 17:16] dberringer commented on #111
Thanks @rcrupp!  I had the same issue.  I followed this(https://auth0.com/docs/quickstart/spa/angular/no-api) order but got the standalone.js error after running grunt build.    Your ordering seems to have fixed the issue.  :)

[2015-06-22 05:40] eigilsagafos commented on #85
+1

[2015-06-22 15:48] cristiandouce commented on #85
The fact that a sign in fails right after a signup is rare, since you already signed up with the same credentials and therefore you should be able to sign-in.

Unless the case where you have a rule and you validate some other external credentials to let users access your application.

So, yes... after an unsuccessful sign in from a successful signup, you should be displayed the `login` view with y

[2015-06-22 15:49] cristiandouce commented on #85
OFC, if the error is a `User already exists` or something related to the signup, you should still see the signup view.

[2015-06-23 10:02] sandrinodimattia opened #183 "SSO UX is wrong in the Sign Up and Reset Password views"
For Enterprise Connections like ADFS, Azure AD, ... the Lock supports HRD based on the Email Address of the user.

As a result, the Sign In view will show the SSO login button when the email address matches one configured on one of the connections:

![image](https://cloud.githubusercontent.com/assets/655409/8303598/426db7d0-199f-11e5-8ca2-b27eda8bd970.png)

While this is working great for sign in,

[2015-06-24 00:19] heskew opened #184 "loginAfterSignup === true can fail silently"
This happens pretty consistently in a Chrome Incognito window. The sign up process seems to go well but the auto-login fails with the popup closed check indefinitely stuck checking.

![auto-login](https://cloud.githubusercontent.com/assets/132403/8320146/fc5de620-19cb-11e5-84c8-d2c067649b66.png)

[2015-06-24 11:27] sandrinodimattia opened #185 "In popup mode the popup does not close in IE11"
When using the Lock with Popup mode in IE11 the popup does not close when it reaches /login/callback (the end of the login flow). This is caused by IE11 protected mode.

[2015-06-24 11:28] sandrinodimattia commented on #185
We've made a few improvements on the server side (add a P3P header) to improve IE support when running in protected mode (default behaviour).

Even with this change you might still see some issues when:

 - Running an application on localhost
 - Not using HTTPS

So this means that local development might be broken, while actual production deployments will be working fine.

To improve the local dev

[2015-06-24 11:28] #185 closed

[2015-06-24 14:10] pose commented on #185
@sandrinodimattia do you think we can add a note with this information in docs.auth0.com ? Thanks in advance

[2015-06-24 14:12] sandrinodimattia commented on #185
Yes. Where do you think we can put it?

[2015-06-24 14:18] cristiandouce commented on #185
@sandrinodimattia We need something like Lock FAQ or SOS or Troubleshoot. What do you think?

[2015-06-24 14:42] sandrinodimattia commented on #185
Yes @pose @cristiandouce a Troubleshooting section makes sense

[2015-06-24 14:44] cristiandouce commented on #185
:heart:

[2015-06-24 17:20] rolodato opened #186 ""Wrong email or password" message when attempting login to a connection that only uses usernames"
For example, AD uses only usernames (as prompted by the "Username" field) but the message shows "Wrong email or password". It should show "Wrong **username** or password":

![screen shot 2015-06-24 at 2 15 21 pm](https://cloud.githubusercontent.com/assets/829698/8336587/f535860e-1a7b-11e5-8042-f441ae455408.png)

[2015-06-24 18:19] sandrinodimattia commented on #186
Same thing should happen when a database connection has been enabled for usernames.

[2015-06-24 18:21] rolodato commented on #186
Yes, in that case the error message should correspond to whether the user entered a username or an email. "Wrong email/username or password" doesn't look too good :smile:

[2015-06-24 20:22] rolodato opened #187 "Missing labels in IE9 when embedding inside div"
To reproduce, visit https://manage.auth0.com/login (Lock is embedded in the `root` div):

![screen shot 2015-06-24 at 5 20 58 pm](https://cloud.githubusercontent.com/assets/829698/8340516/6a7368fa-1a95-11e5-841f-0e394979d01c.png)

When showing Lock in a modal, the labels are shown above the textboxes as expected (not sure if it's possible to show them inside in IE9):

![screen shot 2015-06-24 at 5

[2015-06-27 23:58] Zoltu opened #188 "Callback not called on widget close."
[code]
If I click the x in the top right corner of the popup then "called" is not logged.

I'm using the GitHub release 7.5.4.

[2015-06-28 00:13] Zoltu commented on #188
https://github.com/auth0/lock/blob/master/index.js#L1272
https://github.com/auth0/lock/blob/master/index.js#L490
On those lines, `hide` is called with no parameter.

https://github.com/auth0/lock/blob/master/index.js#L490
On that line we can see that `hide` expects a `callback` parameter.

https://github.com/auth0/lock/blob/master/index.js#L505
Without the callback passed into `hide`, this functio

[2015-06-28 04:11] cristiandouce commented on #188
The callback parameter is not expected, it's just optional as you well noted below in here: https://github.com/auth0/lock/blob/master/index.js#L505.

Right below that we emit a `hidden` event which is emitted right after we invoke the optional callback.

If you want to get notified when the Lock is hidden, just do this:

[code]

The `show` callback is used to invoke on an authentication success/er

[2015-06-28 07:13] Zoltu commented on #188
From an API design standpoint, I believe it would be better if the callback passed to `show...()` was always called when Auth0 was done.

When I show the pop-up dialog, my application is effectively passing control to Auth0 and blocking while it waits for authentication to complete.  I need a reliable mechanism for knowing when Auth0 is done so I can proceed with my business logic (branching on wh

[2015-06-28 14:18] cristiandouce commented on #188
We don't call the callback when the lock is open. From a consistency point of view we don't call it either when it's close.

The Lock `done` way of thinking all the Lock's process was never part of the API design.

The callback provided as I already mentioned is for authentication events only. Also internally it prevents an oauth redirect (using a popup/xhr request) avoiding leaving the page por S

[2015-06-28 14:32] cristiandouce commented on #188
By the way:

[code]

Callback is always called before:
https://github.com/auth0/lock/blob/master/index.js#L1200

If it's not then it's a bug on our side.

[2015-06-28 16:18] cristiandouce commented on #102
@mgonto I plan to make something like this:

[code]

Another approach of the last could be be:

[code]

[2015-06-28 16:19] cristiandouce commented on #135
Closing in favor of auth0/lock#102

[2015-06-28 16:19] #135 closed

[2015-06-28 16:25] cristiandouce commented on #6
Done: https://auth0.com/docs/libraries/lock/types-of-applications

[2015-06-28 16:25] #6 closed

[2015-06-28 17:05] felixinx commented on #135
Ok, Thanks

[2015-06-28 20:33] jfromaniello commented on #102
Maybe overwrite (because you are not extending but overwriting a property)?

[code]

another approach:

[code]

[2015-07-01 00:42] cristiandouce commented on #148
We need to bind the event `keypress` to the `body.a0-lock-open` and unbind it on each `lock.hide()`.

And also use another variable named `escapable` just like `component/dialog`: https://github.com/component/dialog#dialogescapable

[2015-07-01 00:45] #187 closed

[2015-07-02 16:34] jculverwell commented on #86
I created this question on the same topic https://ask.auth0.com/t/force-email-verification-error-message/1145

It's been a while since this was first raised.  Is this something that Auth0 plan to implement?  Without  it - it seems to negate the the use of rules as a way of introducing additional authentication logic.

Thanks

Jim

[2015-07-02 16:37] rolodato commented on #86
Yes, this is coming soon. Authentication logic from rules is still usable because custom errors can be parsed by your application (not yet by Lock). Stay tuned!

[2015-07-07 15:37] cristiandouce opened #193 "Add tests for SSO/HRD on signup/reset views"
Related to auth0/lock/pull/191

[2015-07-08 17:12] nareshbhatia commented on #111
Even after using the ordering suggested by @rcrupp, my app still breaks in the concatenated version. Reading this thread, it is not clear if anyone has found the underlying issue.

To be precise, this is what my bower.json ordering looks like (for Auth0 components):

    "auth0-lock": "~7.6.2",
    "auth0.js": "~6.4.2",
    "auth0-angular": "~4.0.5",
    "a0-angular-storage": "~0.0.11",
    "angul

[2015-07-15 14:54] Zertz commented on #111
I have stumbled upon exactly the same issue. Turns out there is something wrong with `angular-storage.js`. The following "fix" worked for me:

[code]

Basically, use the minified `angular-storage.min.js`

[2015-07-15 18:51] nareshbhatia commented on #111
Using a minified file and having it re-minified by my build process can cause other issues. I have been burnt by that in the past. I would rather have Auth0 find the root cause of this issue and provide a solution.

[2015-07-15 19:10] Zertz commented on #111
Of course, I agree with you! However, for those who need a solution right now, this is the next best thing.

Also, for what it's worth, I ran it through concat and uglify and everything works fine.

[2015-07-15 19:12] nareshbhatia commented on #111
Thanks. Good to know.

[2015-07-15 19:13] Zertz commented on #111
@pose The issue is with your angular-storage module. Care to take another look at it? :)

[2015-07-17 14:28] barneycarroll opened #195 "Custom error message documentation"
This wiki page:

 https://github.com/auth0/lock/wiki/Customizing-error-messages

…says the content has moved, but the link it provides is a 404:

https://auth0.com/docs/libraries/lock/customizating-error-messages

[2015-07-17 14:29] barneycarroll commented on #195
Fixed in https://github.com/auth0/lock/wiki/Customizing-error-messages/e3b3cae2667bbbc1ffdf9e34bce5b2b228af2088

[2015-07-17 14:29] #195 closed

[2015-07-23 15:27] #82 closed

[2015-07-23 15:30] cristiandouce commented on #82
@mikerkeating I'd love your feedback on this once it's released the latest version!

Thanks!

[2015-07-23 16:00] #188 closed

[2015-07-31 15:47] rolodato opened #198 "Emails in the format foo@foo are not allowed by Lock, but allowed in /dbconnections/signup"
![image](https://cloud.githubusercontent.com/assets/829698/9011149/c5eac274-3781-11e5-8c5f-22ca1a59f704.png)

This is a manual request to `/dbconnections/signup`:

[code]

And this is the response:

[code]

[2015-08-10 17:22] rolodato opened #200 "connections parameter should override all other defaults"
Otherwise it's impossible to log in with an enterprise connection that doesn't have any email domains. For example:

[code]

If `some-saml-idp` has no email domains associated, trying to log in with a `@gmail.com` email address will try to log in with `google-oauth2` instead, which contradicts the `connection` parameter.

[2015-08-10 19:31] cristiandouce commented on #200
@rolodato the `connection` property only exists in the scope of auth0.js.

In lock it would ve like:

[code]

that `lock.signin` is not even part of the Lock API...

[2015-08-11 10:09] goloroden opened #201 "Lock window does not hide after login"
I'm using Lock [as described in the docs](https://auth0.com/docs/libraries/lock/types-of-applications#2), using popup mode with a SPA:

[code]

However, the login windows does not close after logging in. Instead I need to add a manual call to `lock.hide` in the callback:

[code]

Is this by design, or am I missing something?

[2015-08-11 10:13] goloroden opened #202 "Callback does not get executed after signup"
When using Lock [as described in the docs](https://auth0.com/docs/libraries/lock/types-of-applications#2), using popup mode with an SPA, the callback does not get executed when a new user signs up:

[code]

The only thing that helps moving things forward is manually reloading the entire website.

Any idea what I'm missing?

[2015-08-18 16:45] ntotten opened #204 "Update Microsoft Account logo and color"
The current logo in lock does not reflect Microsoft's current branding. Microsoft is unifying all logos on their side to be the Microsoft logo rather than the Windows flag. Additionally, they are using a consistent light blue color. We should do the same in lock. Also, any text should be "Microsoft" or "Microsoft Account" rather than "Live ID"

https://auth0.slack.com/archives/design/p143991610500

[2015-08-18 23:23] joearasin opened #205 "Webpack causes call stack overflow?"
To replicate -- clone this repo, cd to webpack example, npm install, npm start.

Open the resulting page in Chrome or Safari --
Uncaught RangeError: Maximum call stack size exceeded

[2015-08-19 16:14] braker1nine commented on #205
We've seen this as well. Tracked it down to this line when inserting css https://github.com/auth0/lock/blob/master/lib/insert-css/index.js#L22

`css` is a big `Buffer` and it's `toString` method seems to be creating the maximum call stack size exceeded error.

[2015-08-21 23:12] #102 closed

[2015-08-26 12:52] lapanoid opened #208 "webpack build: Error: Cannot resolve module 'package.version'"
I tried to build my project with webpack which import auth0-lock.
I get this error.

[code]

How actually require('package.version') work?
I guess this is
[code]
more straightforward way.

[2015-08-26 12:58] jfromaniello commented on #208
Not sure how webpack works, but I think your solution will add more junk to the bundle.

However, this has been requested in other issues so I think we should find a solution.

My intention with this module is that you either use it with npm and browserify , or you use the bundled version that we ship.

[2015-08-26 13:36] lapanoid commented on #208
Just found out the solution https://github.com/auth0/lock/tree/master/examples/webpack#running-the-example. This is duplicate of https://github.com/auth0/lock/issues/54 so closing.
I just think you should wrote something in readme for webpack users. I mean like you did with browserify, I just skipped examples section https://github.com/auth0/lock#examples, did not expect to find solution here.

[2015-08-26 13:36] #208 closed

[2015-08-26 16:18] rdsmallwood928 opened #210 "Pop-up mode browser occasionally hangs (android cordova)"
Hi, our team has noticed that occasionally the pop-up window will occasionally hang when signing up for a new account when using Lock on an android app with cordova.  If there is any more information I can provide you with please let me know.  Thanks!

[2015-08-28 23:14] yvonnewilson commented on #200
This issue was filed in conjunction with this ticket.  Update the ticket once this is fixed.
https://auth0.zendesk.com/agent/tickets/1870

[2015-08-29 00:44] cristiandouce commented on #86
@jculverwell @dhiva This was implemented in the latest [auth0/lock@v7.8.0](/auth0/lock/releases/tag/v7.8.0)

[2015-08-29 00:44] #86 closed

[2015-08-29 00:47] cristiandouce commented on #169
You can now override it by setting:

[code]

[2015-08-29 00:47] #169 closed

[2015-09-02 23:43] cristiandouce commented on #201
@goloroden I apologize for the late response. Do you still experiment this issue?
Do you happen to see any errors on your browser's Debug Tools console?

It should hide. If it doesn't then it's a bug.

Could you provide with a reproducible sample/repository were we could quickly check that odd behavior?

thanks!

[2015-09-02 23:44] cristiandouce commented on #202
This seems to be a bug. It's not the expected behavior.

Could you try with the latest release of the lock and check if still occurs?

Thanks!

[2015-09-02 23:50] cristiandouce commented on #204
@ntotten just to be clear, you say the logo should be the flat one, right?

![image](https://cloud.githubusercontent.com/assets/367429/9647520/3f361024-51b4-11e5-8199-0629961aa284.png)

What is with the color?

[2015-09-02 23:51] cristiandouce commented on #204
BTW, it already says Microsoft Account

[2015-09-03 16:39] brad-decker opened #212 "On Hover tooltip shows (Auth0)"
<img width="538" alt="onhover" src="https://cloud.githubusercontent.com/assets/4448075/9664572/63a623b4-5230-11e5-8dcd-3cbfaf729eb0.png">

Believe we should have a way to customize this or remove through settings.

[2015-09-04 11:33] goloroden commented on #201
Thanks for your reply, and no problems that it took you a little while :-)

After updating from 7.7.1 to 7.8.1 I can not reproduce it anymore, so apparently it seems to be gone.

Hence I'm going to close this issue.

[2015-09-04 11:33] #201 closed

[2015-09-04 11:36] goloroden commented on #202
Okay… I updated to 7.8.1, and the issue is still there.

It's due to a blocked pop-up in Chrome. If you allow the website to open pop-ups, everything works as expected.

Hence, I'm going to close this one.

[2015-09-04 11:36] #202 closed

[2015-09-04 14:18] cristiandouce commented on #202
Yes, It's a know issue I'm attempting to solve at auth0/lock/pulls/213

[2015-09-04 16:12] goloroden commented on #202
Great :-))

Von meinem iPhone gesendet

Am 04.09.2015 um 16:18 schrieb Cristian Douce <notifications@github.com<mailto:notifications@github.com>>:

Yes, It's a know issue I'm attempting to solve at auth0/lock/pulls/213

-
Reply to this email directly or view it on GitHub<https://github.com/auth0/lock/issues/202#issuecomment-137748517>.

[2015-09-04 19:23] carnevalle opened #214 "Critical bug trying to sign up using pop-up mode in Chrome Browser in iOS 8"
I am experiencing a critical bug on iOS (8) using the newest Chrome Browser.

When trying to sign up it opens a new window, but nothing happens after this. If I close the window the Lock Dialog just stays in busy mode - no errors or anything. So users can't sign up using Lock.

I am also experiencing a problem with login, as mentioned here #71, where the popup windows doesn't close automatically,

[2015-09-07 17:53] pose opened #215 "No way to scroll down if window size is smaller that whole content"
![scroll-issue](https://cloud.githubusercontent.com/assets/419703/9721391/161d88f6-5570-11e5-8a9e-c7bfcee3ee3a.gif)

[2015-09-16 13:54] rolodato opened #216 ""Invalid" email warning blocks entered email"
![image](https://cloud.githubusercontent.com/assets/829698/9906586/3b9a05bc-5c61-11e5-9bbd-0ba49f052447.png)

[2015-09-19 22:50] dvc94ch opened #219 "Lock leaks environment dependencies"
If git is required it should be an explicit dependency https://github.com/nodegit/nodegit
Here is a description of why I believe it's a good practice http://12factor.net/dependencies
[code]

[2015-09-20 17:00] cristiandouce commented on #219
It's kind of a requiremente for npm actually. Not lock.
That is npm failing trying to install a git defined dependency.

[2015-09-20 17:00] #219 closed

[2015-09-21 11:21] benjipott commented on #113
wouch !

[2015-09-21 11:38] benjipott commented on #113
610 ko for login widget in production , wouch !!!

[2015-09-21 18:35] #216 closed

[2015-09-22 15:54] solepano opened #220 "Weird "last time you sign in with" account with linked accounts"
I have my google account linked to a username&password root account (sole@sole.com). I logged-in to my app using the google account and then logout. When I was about to login again I got this message on lock:

<img width="280" alt="lock-issue" src="https://cloud.githubusercontent.com/assets/1350396/10023480/39a180f0-6107-11e5-90f0-683ca0a48386.png">

So, it is saying I logged in with the G+ provid

[2015-09-22 17:38] cwilgenhoff commented on #215
Below I propose a potential fix to this problem but stills need more tuning.

1 - Wrap **a0-oneste** step div with an outer div.
2 - Apply the following styles to it:

[code]
3 - When clicked into Login button hide body's overflow.
4 - Enjoy.

![image](https://cloud.githubusercontent.com/assets/1410978/10026256/073e4b4a-6137-11e5-866f-855585c4071a.png)

**Issues with this approach**

The vertical

[2015-09-23 23:12] rolodato opened #221 ""The domain null has not been set up" with usernameStyle: 'username'"
Steps to reproduce:

1. Create an enterprise connection with no configured email domains
2. Set `usernameStyle: 'username'`
3. Try to log in with any username

Result:

![image](https://cloud.githubusercontent.com/assets/829698/10061456/5427343c-622f-11e5-9146-c41dc6061f8b.png)

Example playground code:

[code]

[2015-09-25 20:05] rolodato opened #223 "Emails with trailing spaces are considered invalid only in IE"
Steps to reproduce:

1. Using IE11, enter an email with a trailing space, such as `foo@example.com `
2. Enter any password, try to log in

Result:

![image](https://cloud.githubusercontent.com/assets/829698/10111052/81a745d6-63a7-11e5-9559-32d1a9a40f82.png)

In Chrome, Firefox and Safari this works as expected.

[2015-09-27 23:16] Zoltu opened #224 "Android popup results in page reload after redirect completion."
When using the Auth0 lock widget popup on Android in Chrome, the popup will cause the originating page to refresh after completion.  On a desktop browser once the pop-up is complete the page will not refresh.

This is causing problems for me because I do not store authentication information in local storage.  When the originating page refreshes (after authenticating), authentication information is

[2015-09-29 21:04] adrianhall opened #225 "Unable to build with browserify (nodejs 4.1, npm@3)"
Utilizing gulp + browserify, I get an error when building my app that includes auth0-lock

nodejs 4.1.1, npm 3.3.3, browserify 11.2.0, babelify 6.3.0, auth0-lock 7.9.5, brfs 1.4.1, ejsify 1.0.0, packageify 0.2.2

Build process is in gulp:

[code]

The code compiles cleanly when I don't `require('auth0-lock');`.  As soon as I include auth0-lock, I get a compile error:

[code]

This is the same comp

[2015-10-01 18:09] solepano opened #227 "Lock "last time you signed in with" broke after Passwordless"
I login on my domain (local sample app at http://localhost:3000) using Lock-Passwordless with an email connection.

Then I tried to login to same domain using Lock, but couldn't do it. The "Last time you signed in with" message was showed but with no options. And the **show all** link was broken.

Lock should display all connection options if it doesn't recognize the strategy of the last login.

<

[2015-10-02 03:02] taion commented on #205
I am no longer seeing this issue.

[2015-10-02 03:11] taion opened #230 "Elements not centered on Chrome 47"
Running `47.0.2522.0 (Official Build) dev (64-bit)` (dev channel). On the playground (and elsewhere) I see:

![image](https://cloud.githubusercontent.com/assets/3112159/10238700/905a325c-6891-11e5-83f7-3f388e0d99c0.png)

The `text-align: center` styling is not doing anything.

This doesn't happen on Chrome 45. I don't know for sure that this isn't a Chrome bug, but I haven't noticed this sort of t

[2015-10-02 03:29] adrianhall commented on #225
I have narrowed this down to an issue with npm@3 (explicitly 3.3.3 on my system).  After getting this error, I do the following:

[code]

Then I rebuild the application.  It rebuilds without the error and works fine.

[2015-10-02 03:30] #205 closed

[2015-10-02 17:32] rolodato opened #231 "Emoji characters should not be allowed in input fields"
We should ensure that only ASCII characters can be used for username, email and password fields.

[2015-10-06 17:25] jfromaniello opened #233 "Persist the email field when switching from signin to signup mode."
I will probably use the same email I tried to use to login on a sign up.

[2015-10-06 20:19] rolodato opened #234 "Support custom error messages from custom DB scripts"
For example, `/dbconnections/signup` returns an error like this when returning `new ValidationError('invalid_user', 'error message')` from a signup script:

[code]

Currently Lock just shows "There was an error when processing the signup".

[2015-10-07 21:47] LegNeato commented on #231
Why shouldn't usernames have emoji?

[2015-10-07 22:36] rolodato commented on #231
@LegNeato Because they aren't supported at the API level, and likely won't ever be supported.

[2015-10-08 21:26] HotCustard commented on #208
![locl-error](https://cloud.githubusercontent.com/assets/3368688/10380365/58cb0062-6e0b-11e5-9831-e7d06e18c0a6.png)

I am getting the same error using the example, did i miss something?

[2015-10-10 03:35] yvonnewilson opened #238 "Enable custom error message when a rule returns UnauthorizedError"
Customer wants the ability to display a custom error message in Lock in the case where a rule returns UnauthorizedError.

Customer has a purchased SAML app (Zendesk) integrated with Auth0 as IDP.
Customers wants a rule that checks if a user's email has been verified and returns UnauthorizedError if not.
In this case, the authentication succeeded, the rule set UnauthorizedError, so the SAML respons

[2015-10-10 03:38] yvonnewilson opened #239 "Enable custom error message when a rule returns UnauthorizedError"
Customer wants the ability to display a custom error message in Lock in the case where a rule returns UnauthorizedError.

Customer has a purchased SAML app (Zendesk) integrated with Auth0 as IDP.
Customers wants a rule that checks if a user's email has been verified and returns UnauthorizedError if not.
In this case, the authentication succeeded, the rule set UnauthorizedError, so the SAML respons

[2015-10-10 03:40] yvonnewilson commented on #238
Accidentally created duplicate issue - closing one of them

[2015-10-10 03:40] #238 closed

[2015-10-10 15:32] cristiandouce commented on #239
@yvonnewilson how is this behavior different from: https://github.com/auth0/lock/issues/86
That issue is solved.

[2015-10-15 19:23] CPWeaver opened #240 ""Reset Password" button invokes signin callback incorrectly"
Hi, I'm using auth0-angular and lock together. When I call auth.signin(), the widget comes up. If a user clicks "Reset Password", it seems the success callback is transferred from the signin panel to the reset panel. The problem is that the semantics of the callback are totally different. So when the user submits the reset request, now the signin callback is invoked with reset parameters. This cau

[2015-10-19 19:11] cdroulers commented on #208
I'm experiencing the same issue, and when I checkout the examples project and run `npm install; npm start` it crashes with the following:

[code]

[2015-10-20 09:21] AlastairTaft opened #242 "React starter kit + auth0lock document is not defined"
I'm still a webpack and react newbie but I was wondering if you could help me solve this error.

I've added the loaders for webpack that you mention in the README. I had to also trial and error packages and use `npm install ejs-compiled-loader` to get passed a webpack error.

Now everything seems to compile but it trips up on

[code]

I'm using the [React starter kit](https://github.com/kriasoft/r

[2015-10-20 10:43] AlastairTaft commented on #242
I think I understand this is a client side only package, so to get around it I made sure it was only required in the React componentDidMount function (this is only run on the client, not the server). Seems to work, however I don't like not putting all my require / import statements at the top, but it'll use this for now.

e.g.
[code]

[2015-10-20 20:34] rolodato opened #243 "`usernameStyle: 'username'` disables validation of usernames"
Steps to reproduce:

1. Set up Lock for a database connection with "Require Username" enabled
2. Try to log in with an invalid username, e.g. `test.user` → fails
3. Set `username:Style: 'username'`
4. Try to log in with an invalid username, e.g. `test.user` → succeeds

[2015-10-20 20:45] gnandretta commented on #243
With `usernameStyle: "username"` the Lock uses an `<input type="text">` for the username, then [lock._ignoreEmailValidations](https://github.com/auth0/lock/blob/0a5abf1957c9bb746b0710b274d0feed9b399958/index.js#L882-L884) returns `false` and the [code that performs the validation](https://github.com/auth0/lock/blob/0a5abf1957c9bb746b0710b274d0feed9b399958/lib/mode-signin/index.js#L351-L361) is not

[2015-10-20 21:21] taion commented on #230
Still broken on `48.0.2541.0 (Official Build) dev (64-bit)`.

[2015-10-20 21:28] taion commented on #230
This is also broken on `47.0.2526.16 (Official Build) beta (64-bit)` (current beta channel) and on the current Canary channel release of Chrome as well.

[2015-10-21 15:28] taion commented on #231
@rolodato Does that mean you don't support Unicode at all for user names? Otherwise how are emoji special?

[2015-10-21 15:33] rolodato commented on #231
@taion Only alphanumeric characters and `_` are allowed for usernames at the API level, but in some cases this validation fails with Lock. See https://github.com/auth0/lock/issues/243 for example. Usernames should be used as machine-friendly identifiers, for anything else `app_metadata` or `user_metadata` should be used.

[2015-10-21 15:33] taion commented on #231
Ah, okay - that makes sense, thanks!

[2015-10-21 16:46] glena commented on #230
Hi @taion, we only provide support up to the latest stable version.

Is hard to provide compatibility with beta/canary versions since they iterate too fast and is likely to have js and rendering issues from time to time.

Anyway, there shouldn't be any issue with stables releases.

[2015-10-21 16:46] #230 closed

[2015-10-21 16:49] taion commented on #230
@glena The problem is - if this is actually a bug, and the rendering behavior on Chrome beta is representative, then every website using the current release of `auth0-lock` will show a broken login modal for their users as soon as Chrome 47 hits stable. The fix for your users here wouldn't just be to update this package, it'd be for you to update this package and for your users to update their dep

[2015-10-21 16:57] glena commented on #230
Non stable releases have this kind of problems from time to time and usually it is related to some internal issue on the rendering engine.

Since it is a very simple layout, it's a standard css, there is no crazy stuff going on that could make this kind of problems.

[2015-10-21 17:22] cristiandouce commented on #230
Besides, if this comes to be a real issue in the future, users still will have to update the `auth0-lock` version to the one containing this fix. Either they do it now (assuming the bug will be released out in Chrome), or later when Chrome 47 is out.

What doesn't make sense IMHO is to force now the update for a bug that might or might not exist.

[2015-10-21 18:00] lordakshaya opened #244 "Lock re-login process flow stuck"
After I have logged into my application once, when I open the app again - I get stuck on this page:

![image](https://cloud.githubusercontent.com/assets/1169337/10645470/119e9e04-7858-11e5-89b0-e8791a0e323d.png)

[2015-10-21 18:01] rolodato commented on #244
Any JS errors or failed requests in dev tools? A sample project to reproduce the problem would also help.

[2015-10-21 18:07] lordakshaya commented on #244
@rolodato:
Console Error - none

Response JSON structure:

[code]

Clicking on Show all, doesnt trigger anything.

[2015-10-21 20:04] rolodato opened #245 ""Too many requests" error should prompt users to check their email"

[2015-10-21 21:56] gnandretta commented on #244
@lordakshaya @rolodato We've released v7.10.2 which should fix the issue.

[2015-10-21 21:56] #244 closed

[2015-10-21 22:11] rolodato commented on #244
@lordakshaya Just to give some context, this was being caused because Lock fetches the Auth0 SSO cookie to determine which connection was used by the user. Lock was not recognising `sms` as a valid connection, so it failed to display the dialog. 7.10.2 was updated to ignore unknown connections instead of failing.

[2015-10-22 19:09] jfromaniello opened #247 "I can't select an error message in Lock"
When I get an error message I can't select it and copy

[2015-10-22 19:10] jfromaniello opened #248 "Email get lost when changing from sign in to sign up mode"
It is very likely that I will sign up to a service with the same email I tried to sign in.. Just copy it.

[2015-10-22 19:12] jfromaniello opened #249 "Password field lost focus on error"
I authenticate as follows:

1. write my email
2. press tab
3. write my password
4. press intro

If I get an error "username or password is invalid", it is very likely that my password is wrong so please keep the focus on the password field.

[2015-10-23 19:49] romainbessugesmeusy commented on #113
Any news here ? Auth0 lock represents 50% of my front-end JS :-(

[2015-10-27 19:55] kiga01 commented on #142
any news whit this topic? i want to add just one extra field to the signup but i don't have any idea about how to do it

[2015-11-11 01:22] yvonnewilson opened #254 "Add option to display a "busy" symbol or title during loading"
Add the option to Lock to display a "busy" symbol or title during loading, which is then removed or replaced when Lock has finished loading.

[2015-11-11 06:25] ewelaryba commented on #71
+1 - I've been seeing this same issue for months.

[2015-11-11 21:05] slyedoc commented on #111
The odering provided by rcrupp worked.

[2015-11-14 17:34] FredyC opened #255 "Update debug module to 2.2.0"
There is small vulnerability in `ms` package. See https://nodesecurity.io/advisories/46

[2015-11-16 16:17] rolodato opened #256 "Support customizing "user is blocked" message"
The full response from Auth0 is:

[code]

[2015-11-17 00:33] baer opened #257 "Bug: Form doesn't reset to login after failed autoLogin after signup"
If `loginAfterSignup` is `true` (the default behavior) and a user's login fails after signup the form values don't reset and the form stays in "signup" mode. In order to clear it you have to click the "cancel" button.

[2015-11-17 18:20] gnandretta commented on #257
I can confirm this is happening.

After a successful signup, [Auth0Lock._signinWithAuth0](https://github.com/auth0/lock/blob/d7dbd1d1738dd1f5ffa8ff18476fe445ba4fd767/lib/mode-signup/index.js#L308) is called with an instance of `SignupPanel` from which it queries the user name and password to log the user in. That same instance is also rendered when the login fails.

We'll need to schedule some tim

[2015-11-17 18:38] baer commented on #257
Thanks for the quick response! I'm looking forward to having a working Auth0 pipeline in my app.

[2015-11-17 18:40] baer commented on #256
The reason you can't customize this now is that the error message just comes from the server rule that prevents login when a user is blocked.

However, you should be able to replace the built in rule with your own and send a new message already.

[2015-11-17 18:41] baer commented on #248
+1 on this!

[2015-11-18 04:14] mablack commented on #225
I'm seeing a similar issue with grunt + browserify, it's not working on node v5.0.0 & npm v3.3.6.
Downgrading to node v4.2.2 & npm v2.14.7 fixes it.

[2015-11-18 13:53] osmanpontes commented on #225
@mablack It was the same to me. I guess there's a issue about the way npm3 stores modules in node_modules folder. http://www.infoq.com/news/2015/06/npm. "Dependencies will now be installed *maximally flat*. Insofar as is possible, all of your dependencies, and their dependencies, and THEIR dependencies will be installed in your project's node_modules folder with *no nesting*. You'll only see modul

[2015-11-18 14:17] #247 closed

[2015-11-18 14:17] #249 closed

[2015-11-18 14:17] #256 closed

[2015-11-18 14:18] #248 closed

[2015-11-20 20:43] schwer commented on #240
I'm also seeing this problem. When integrating with auth0-angular- it means the profile promise is rejected prematurely.

[2015-11-21 00:27] baer commented on #257
@gnandretta - Any updates on this? I can't roll out Auth0 until this is fixed :/

Workarounds:
* I could turn off autoLogin but your dashboard doesn't index users until they have attempted to sign in so this will result in our admin trying to manage a bunch of users that appear to not exist.
* I could show and hide Lock to reset it but then I lose all of the nice validation messages you provide wh

[2015-11-23 14:01] gnandretta commented on #257
@baer when do you plan to launch? I'll fix it tomorrow

[2015-11-24 00:46] baer commented on #257
I will launch when I get all of my auth stuff straightened out and it is now looking like I have a bit of backend work to do in order to expire a token. Whenever you get to it would be great but I won't launch until late this week or early next week it looks like.

[2015-11-24 09:20] Silve2611 opened #260 "Lock not working with nwjs (former node-webkit) version 0.12.3"
Auth0-Lock cannot be used with nwjs anymore. You can load version 7.1.5 but then it is not able to connect to the server.

With version 7.3 and 7.4 i am getting the screen but after login i get the error : invalid origin file://
I have already added file://* to valid origins.

Any version above results in an error 'Auth0-Lock' not loaded.

Here is the code for calling the lock

        <script src

[2015-11-24 19:14] #257 closed

[2015-11-24 19:25] gnandretta commented on #257
@baer should be fixed in _7.12.2_.

[2015-11-24 19:29] gnandretta commented on #260
@Silve2611 We ensure browser compatibility in Chrome, Safari, Firefox and IE >= 9. Can you provide a minimal example project with the issue you describe?

[2015-11-24 20:08] Silve2611 commented on #260
Hi,

I created a public repositroy: https://bitbucket.org/timeBroMislav/authsample.git <https://bitbucket.org/timeBroMislav/authsample.git>

In the index.html which is inside the nwjs.app/Contents/Ressources/app.nw the client id and the auth domain have to be added.
Let me know if something is unclear.

I think supporting nwjs (aka node-webkit) will be very interesting for auth0. A lot of people a

[2015-11-24 21:22] gnandretta commented on #260
@Silve2611 Thanks! When running the example I see a "not allowed to load local resource" error in the console when the redirect to the `file://` url is made. This is a NW.js protection.

You can avoid the redirect by passing a callback to `show`:

[code]

[2015-11-25 11:04] Silve2611 commented on #260
Hi,

Thank you for your help. But actually the login ist not working in the first place. If i open the app on the first time i click on login and it redirects me somewhere. It is opening a popup that is redirecting me to https://timebro.eu.auth0.com/login?client=3UNDSdp3oZFMZncNib1QBxmLFZ9t2gVx&protocol=oauth2&scope=openid&response_type=token&connection=Username-Password-Authentication&sso=true&lo

[2015-11-25 11:11] Silve2611 commented on #260
Hi,

I now understand what you did there it is working for a simple login. The problem is if i reload the app i am getting the following screen.

If i click on the login the it opens a popup redirecting me to https://timebro.eu.auth0.com/login?client=3UNDSdp3oZFMZncNib1QBxmLFZ9t2gVx&protocol=oauth2&scope=openid&response_type=token&connection=Username-Password-Authentication&sso=true&login_hint=&ow

[2015-11-25 11:55] Silve2611 commented on #260
Hi,

I have come a step closer. I have set 'rememberLastLogin: false,‘
I would save the token in a database and perform the check if its still valid myself before calling the lock. But I am running into another error now.

What can be the reason for that?

Best,
Mislav Boras

[2015-11-25 20:20] gnandretta commented on #260
@Silve2611 the redirect is happening in the popup? can you share the new code you are using to open the Lock?

[2015-11-25 20:25] Silve2611 commented on #260
Hi,

I added an update on  https://bitbucket.org/timeBroMislav/authsample.git <https://bitbucket.org/timeBroMislav/authsample.git>

Best,
Mislav

[2015-11-25 22:16] Silve2611 commented on #260
There is also another problem. The JS for lock causes the following error

Which makes debugging for an app very hard.

Best,
Mislav

[2015-11-26 21:03] gnandretta commented on #260
@Silve2611 Hi, we don’t have the bandwidth to investigate this right now, but we will definitively take care of it (we are currently working on a new version of Lock).

In the meantime, have you considered building your own widget with [auth0.js](https://github.com/auth0/auth0.js) ?

[2015-11-26 22:02] Silve2611 commented on #260
Hi,

I know it takes some time to easy out all errors. You are already doing great work. I will consider your idea of building my own widget. Another solution would be to use our Authentication API. Thank you for your support! I will keep trying.

Best,
Mislav

[2015-11-27 19:17] moravcik commented on #113
is it possible to modularize the lock into lock core + bunch of optional modules? with bundled-all module as well
as for me, for some projects I don't need social identity providers at all

[2015-11-28 20:34] cancan101 commented on #142
Perhaps file it at: http://feedback.auth0.com/

[2015-11-30 14:18] gnandretta commented on #142
Hi, we are currently working on a new version of Lock that will allow you to add extra fields on the signup screen. Until it gets released you can code your own signup screen and use the Lock to sign in and reset password as @cristiandouce [suggested](https://github.com/auth0/lock/issues/142#issuecomment-78416177).  Thanks for the feedback and suggestions!

[2015-11-30 14:18] #142 closed

[2015-11-30 14:53] gnandretta commented on #113
We are working on the modularization @moravcik suggests. You'll be able to bundle the Lock without the support for the connections you don't need (social, enterprise, etc.) and also without the CSS.

Having that said, the Lock is intended to be a drop in solution for our customers. It has a lot of features that you may not need and supports extensive customization. For that reason, we recommend us

[2015-12-03 21:45] gavinharriss commented on #230
This same issue has now manifested again with the newly released 47.0.2526.73 version of Chrome.

[2015-12-03 21:48] glena commented on #230
and it is fixed with 7.12.3

[2015-12-03 22:08] gavinharriss commented on #230
Thanks, I didn't realise I was requesting a specific version of the lock widget. Confirmed that everything works with the latest version.

[2015-12-07 14:59] feesjah commented on #242
I'm having the same problem. I feel like the auth0-lock is a bit outdated, it should have all the features to work in isomorphic settings

[2015-12-08 03:07] #255 closed

[2015-12-08 12:05] will-hancock commented on #214
Is this bug still open? We are experiencing it on a high traffic site and is generating a large quality of Customer Support tickets.

Any info would be greatly appreciated.

[2015-12-08 12:06] will-hancock commented on #71
Is this bug still open? We are experiencing it on a high traffic site and is generating a large quality of Customer Support tickets.

Any info would be greatly appreciated.

[2015-12-18 12:50] caalberts opened #270 "Callback is not called after authenticating with third party oauth2"
I have set up a custom connection to a third party oauth2 provider and I would like the user to be redirected back to the single page app and have the token saved into local storage via a callback passed to the auth0 lock. However the callback is not executed after a successful authentication. Instead the token is passed to the browser as query string.

[code]

[2015-12-18 14:36] gnandretta commented on #270
@caalberts if a redirect happens when loggin in with Strava the callback won't have the chance to run, and a token is provided in the url instead. Lock provides a method called `parseHash` to make it easy to obtain the token (see our [docs](https://auth0.com/docs/libraries/lock/types-of-applications#redirect-mode)).

[2015-12-18 15:20] jmls commented on #111
just been bitten by this as well :(

[2015-12-18 15:24] cristiandouce commented on #111
@jmls version you are using? this is resolved in latest versions.

[2015-12-18 15:27] jmls commented on #111
interesting. I'll check - adding in the ordering above has fixed it though

[2015-12-18 15:28] #254 closed

[2015-12-18 16:15] caalberts commented on #270
@gnandretta Thanks so much! Adding `popup: true` to the `options` solved it.

[2015-12-18 16:15] #270 closed

[2015-12-18 22:44] yvonnewilson opened #273 ""Invalid" string makes it hard to correct invalid email"
In Lock, If the user types an invalid email address and presses the "Access" button, the "INVALID" message appears over the email and makes it hard to correct the invalid email.
As an example, I used an email like firstlastname@xyz1234  - e.g. no dot in the email domain name and the entire email address is long enough to fill most of the box.
Then I pressed the ACCESS button.  The "INVALID" covers

[2015-12-19 01:03] cristiandouce commented on #273
@gnandretta I figure we could hide the word when the user hovers the input area... that would also allow them to click the input (cursor) and type.

[2015-12-20 14:19] caalberts opened #274 "`auth0Client` in authorization request parameter"
I'm attempting to request authorization to Dropbox API endpoint `https://www.dropbox.com/1/oauth2/authorize`. Dropbox is returning error 400 with reason `unknown field "auth0Client"`. The query string to the authorization URL sent by Auth0  is `https://www.dropbox.com/1/oauth2/authorize?state=###&auth0Client=###&response_type=code&redirect_uri=###&client_id=###` (details masked).

How can I exclud

[2015-12-21 12:51] gnandretta commented on #274
@caalberts thanks for reporting the issue. What version of Lock are you using? Can you provide the code that initializes and shows the Lock?

[2015-12-21 14:00] caalberts commented on #274
@gnandretta, it's lock v8.
[code]

[code]

[2015-12-21 17:58] siacomuzzi commented on #274
Hi @caalberts,

It should be fixed now. Please try again.

[2015-12-21 18:58] gnandretta commented on #274
@siacomuzzi Thanks!

@caalberts I'm closing this, but feel free to reopen it if the issue persists.

[2015-12-21 18:58] #274 closed

[2015-12-26 06:55] neverfox opened #276 "Lastpass Chrome extension interferes with form"
![](https://dl.dropboxusercontent.com/u/32153964/Screen%20Shot%202015-12-26%20at%201.33.45%20AM.png)

This is with the form loaded via npm/webpack. This doesn't happen with the global CDN version (which is an entirely different looking form. Why?)

[2015-12-26 19:19] neverfox commented on #276
I'm closing this, as it turned out to be the result of CSS override related to background images (which are used by Lastpass), and not an issue with lock.

[2015-12-26 19:19] #276 closed

[2015-12-26 19:41] neverfox opened #277 "Problems with CSS starting with 8.0"
I'm submitting this both to reopen #276, and add that the style for the submit button has an inline color specification that cannot be overridden as in 7.x (there may be more things like this but I haven't studied it fully). The reason that I'm reopening the issue from #276 is that it wasn't a problem in 7.x either, which suggests that something about the way 8.0 changed the injection of styles no

[2015-12-27 00:43] DominikDitoIvosevic opened #278 "delete"
My bad. Did not read carefully

[2015-12-27 00:50] #278 closed

[2016-01-02 20:39] Zoltu commented on #113
I just ran into this.  Auth0 is 50% of my front-end app right now as well.  :/

Suggestion: Load as much as possible lazily rather than up-front.  Most web applications that are going to use the drop-in widget won't be popping it up to the user immediately, though some JavaScript on the page may require the API be available during startup.  By only pulling in the basic JS up front and lazily downl

[2016-01-04 15:56] PierreReliquet commented on #111
I just encountered the same issue with the version 7.12.5 of `auth0-lock`. I do not use any other auth0 dependency.

[2016-01-04 16:16] gnandretta commented on #111
@PierreReliquet did you encounter the issue when building the bundle for your application? can you provide a minimal example that reproduces the issue?

[2016-01-07 19:46] jmls commented on #111
I've hit this again. My bower.json has these entries:

    "auth0-lock": "~8.1.1",
    "auth0-angular": "auth0/auth0-angular#~4.1.0",
    "a0-angular-storage": "~0.0.13",
    "angular-jwt": "~0.0.9"

it's fine when running with "gulp serve" (no minification) but after a build , which does a minify, this problem pops up

[2016-01-07 20:04] gnandretta commented on #111
@jmls can you provide a minimal example that reproduces the issue?

[2016-01-07 20:05] jmls commented on #111
yikes. I can but try ;)

[2016-01-07 20:07] jmls commented on #111
hmm, just for the record ...

[code]
I added auth0.js, rebuilt, and the error has now gone ...

[2016-01-10 00:51] aguerere opened #284 "Repo License needs an update"
Also the footer of the Readme.md is missing author and license info.

[2016-01-11 14:46] #284 closed

[2016-01-11 14:58] rhinoceraptor commented on #225
I have the same issue using Grunt + Browserify, this is how I'm bundling:

[code]

I'm using node 5.4.0 and npm 3.3.12.

It appears to be failing in the ```bundle()``` step.

[2016-01-13 06:45] EricCat commented on #260
@Silve2611 Did you solved this? I also have a same issue. cannot display auth0 login window in nwjs. while works fine in Chrome browser.

[2016-01-13 09:50] Silve2611 commented on #260
@EricCat I could not use the lock.js so i wrote my own. It is basically a modal window that pops up and cannot be closed unless you login. The Login is a Rest-Call to the server.

[2016-01-13 16:51] yuanzhou opened #288 "Auth0Lock doesn't work with both options and callback function"
According to the documentation: https://auth0.com/docs/libraries/lock

I should be able to use Auth0Lock this way in Javascript:

[code]

I tried several times and it just doesn't work. I could do

[code]
or
[code]

But just can't get it work with both options and callback function.

[2016-01-13 16:52] rolodato commented on #288
What do you mean it doesn't work? Can you be more specific?

[2016-01-13 16:53] rolodato commented on #288
Also, see here for an example usage of options and callback at the same time: https://auth0.github.io/playground/

[2016-01-13 17:01] yuanzhou commented on #288
Not sure if it has anything to do with the SAML connection, that's what I'm using now. When I just pass a callback function:

[code]

I could see the profile and token from Chrome console.

But when I passed some options:

[code]

I couldn't see the console messages, and the Auth0Lock kept saying logging in ... and also popped up a new window.

![capture](https://cloud.githubusercontent.com/assets

[2016-01-13 17:16] yuanzhou commented on #288
I think I figured this out by commenting: responseType: 'code'

At the very beginning I tried to use this `code` responseType, then send an ajax call to `/oauth/token` according to the documentation at: https://auth0.com/docs/protocols#3-getting-the-access-token
But that kept telling me 500 error. So I thought maybe I can just get the user profile data and token using this callback function. And i

[2016-01-13 17:16] #288 closed

[2016-01-15 08:19] EricCat commented on #260
@Silve2611 Thanks a lot!

[2016-01-18 10:50] azazi-sa commented on #225
I have similar issue with my build task using gulp + browserify.
npm -version
3.3.12

events.js:141
      throw er; // Unhandled 'error' event

SyntaxError: Unexpected token (1:0) while parsing file: <repo_path>/node_modules/auth0-lock/lib/html/main.ejs
    at Parser.pp.raise (<repo_path>/node_modules/acorn/dist/acorn.js:1745:13)

[2016-01-18 12:37] jfromaniello commented on #225
I had the same issue today:

[code]

it works when installing the dependencies with npm@2

[2016-01-18 20:23] rolodato opened #292 "Gravatar loading flicker when using a custom icon"
* Use this code in playground:

[code]

* Type in any email, with a gravatar associated or not
* There is a slight flicker when the `icon` disappears and the gravatar fades into view

[2016-01-18 21:39] anthonyettinger commented on #225
I have same issue. Is there a fix for this? I am unable to downgrade to npm2

[2016-01-18 22:16] sethsamuel commented on #225
Having the same issue and it's blocking our ability to upgrade to npm@3 for other issues.

[2016-01-19 01:44] EricCat commented on #260
After look into lock.js (7.x), I found must using global.Auth0Lock(client, domain);  but this not working on 8.x, due to nwjs cannot handle document to window.document somehow. but it works on 7.x

[2016-01-19 16:11] sethsamuel commented on #225
After doing some digging, it looks like this is a result of https://github.com/substack/node-browserify/issues/1409 which will hopefully be fixed by https://github.com/npm/npm/pull/10185

[2016-01-19 16:21] rhinoceraptor commented on #225
If that's the case, would it be possible to replace the browserify config in Auth0's ```package.json``` with an NPM run script that uses CLI browserify?

[2016-01-20 15:47] gnandretta commented on #225
@sethsamuel thanks for finding the root cause for this.

We are configuring transforms in _package.json_ so browserify can
automatically apply them only the _auth0-lock_ module.

[code]

However, when installing the package with npm 3, the transforms are sorted
alphabetically:

[code]

Which is a problem because transforms are applied in the order they
appear.  _brfs_ is applied before _ejsify_ an

[2016-01-20 19:19] smerchek opened #294 "Primary button uses inline style that cannot be overridden with theme css"
In v8 of Lock, specifically at this [line](https://github.com/auth0/lock/blob/9fd0897bce40671a4705972c3ff8375979f84b6c/lib/mode-signin/signin.ejs#L77), the `a0-primary` button uses an inline style that cannot be overridden.

Related to #277 but that issue seems to be about more than just this specific inline style.

However, it seems that this change was intentional, but not documented.

To workar

[2016-01-20 19:54] gnandretta commented on #294
@smerchek You're right, the `primaryColor` option was added on v8 to allow to quickly customize the lock appearance without using CSS, and the documentation wasn't updated. I'll fix that, thanks for reporting it.

[2016-01-20 20:04] anthonyettinger commented on #225
There is a pending fix for NPM: https://github.com/npm/npm/pull/10185

[2016-01-20 20:26] vctrfrnndz commented on #204
This has already been fixed, right @gnandretta? closing.

[2016-01-20 20:26] #204 closed

[2016-01-21 13:42] gnandretta commented on #204
@vctrfrnndz yes, thanks!

[2016-01-21 18:47] #14 closed

[2016-01-21 18:47] #292 closed

[2016-01-22 10:43] damirmehmedbasic opened #298 "Login page not updated"
Login page in my application does not reflect customization I made, I get the default version (without the sign up button), and this one works without problems (I can log in with users credentials, and reset password). My customized login page url is OK, showing the customized version, however it is not being implemented in the application itself.

[2016-01-22 14:47] rolodato commented on #298
@damirmehmedbasic I believe you're confusing the Lock displayed on the login page hosted by Auth0 (e.g. `example.auth0.com/...`) and the Lock displayed in your application. They are not related or synchronized in any way.

If you want to redirect users to the hosted login page you'll need to redirect them to the `/authorize` endpoint: https://auth0.com/docs/auth-api#!#get--authorize_social. If a `

[2016-01-22 14:47] #298 closed

[2016-01-24 14:14] hiroshi commented on #208
@cdroulers Same here.

I'm not sure, but `npm install --save fs` seems to save us.

[2016-01-25 20:18] maoueh opened #301 "8.2.0 webpack not working due to unresolve 'fs' module"
The version `8.2.0` does not work with webpack anymore. The example will fail with error message:

[code]

To replicate, simply edit `examples/webpack/package.json` and change `"auth0-lock": "^7.5.5",` to `"auth0-lock": "^8.0.0",` and then issue the command to test the example (`npm install && npm start`). You will get the error mentionned above.

If you fix the version to `8.1.5` (via `examples/w

[2016-01-25 21:12] ericclemmons opened #302 "[Webpack] Cannot resolve module 'package.version'"
I'm using the code from #300 and even tried the README on `master`, but having major issues:

[code]

I even tried:

[code]

and

[code]

I think I might have to just publish the compiled version at <https://cdn.auth0.com/js/lock-8.2.min.js> to NPM under another name so that way it's actually `npm install`able :(

[2016-01-25 23:30] ericclemmons opened #303 "Container should accept a DOM Node"
The code in question:

[code]

Using React, it's best to pass a reference:

[code]

The logic could be something like this to check for an element:

[code]

[2016-01-25 23:30] ericclemmons commented on #303
Let me know if a PR would be acceptable.

[2016-01-26 19:10] gnandretta commented on #301
@maoueh sorry for the inconvenience, could you try with version `8.2.1`? it should be fixed

[2016-01-26 19:14] gnandretta commented on #302
@ericclemmons what version of npm are you using?

[2016-01-26 19:30] ericclemmons commented on #302
@gnandretta

[code]

Managed via my `.nvmrc` file.

(I ended up getting the project working with React by creating a custom component for it, but that doesn't fix the underlying problem.)

Let me know if you need anything else.

[2016-01-26 19:34] maoueh commented on #301
@gnandretta Yep, just tested `8.2.1`, works like a charm.

[2016-01-26 19:34] #301 closed

[2016-01-26 19:39] maoueh commented on #302
Hi @ericclemmons

PR #300 would work only with `<= 8.1.5` and `>= 8.2.1` (broken in `8.2.0`). Can you share the exact steps you have used to test the example. I'm wondering about the line:

[code]

Which seems to indicate missing dependencies. What is present in the `node_modules` folder (`ls -l node_modules` from the root directory of the example?

[2016-01-26 19:40] maoueh commented on #302
In fact, sorry for the noise, I just saw that they changed the actual way to load `auth0` with webpack. Will need to revisit my PR #300 I think.

[2016-01-26 19:41] ericclemmons commented on #302
Oh, I had `8.2.0`!  And apparently `8.2.1` just landed :D

Let me setup a small example with the test-case & either close or ping you guys.

(P.S. `json-loader` exists & is correctly parsing `package.json` & other `.json` files within my project)

[2016-01-26 19:42] maoueh commented on #302
@gnandretta I had tested using the old examples, will test with the new way of doing things. At least the old way works :)

[2016-01-26 19:52] maoueh commented on #302
@gnandretta Using my PR #300 and version `8.2.1`, the examples work. But using the examples straight from the `master` branch (currently 4742f4c), the example fails with:

[code]

[2016-01-26 20:16] gnandretta commented on #302
@ericclemmons there's a known issue with npm 3, see [this comment](https://github.com/auth0/lock/issues/225#issuecomment-173244897). It looks like a fix (npm/npm#10185) is already on the way.

@maoueh I believe you're having a different issue, are you using Windows right? that would explain why the current example doesn't work but the one in your PR does. Let's continue the discussion on #300.

[2016-01-26 20:21] ericclemmons commented on #302
I'll close this until the fix lands & we'll go there...

[2016-01-26 20:21] #302 closed

[2016-01-28 00:12] maxlapides commented on #294
@gnandretta in addition to updating the documentation, could you please add a way to disable this primary color? i've built a custom theme for my login page and this primaryColor option overrides by external CSS so I've had to resort to a shameful !important. thanks!

[2016-01-28 21:47] gnandretta commented on #294
@maxlapides hi! the `primaryColor` is just the first of a couple of options that we will be adding to allow a more robust customization and should be favored over CSS. For instance, it is also used for the header's background in some situations.

I wouldn't recommend it but if you use a invalid color such as `"disabled"`as the `primaryColor` value, the browser will ignore the inline style declarat

[2016-01-28 22:41] maxlapides commented on #294
@gnandretta are you planning on continuing to support the existing theming capabilities (https://auth0.com/docs/libraries/lock/ui-customization)? i really prefer to not set styles in javascript. maybe i'm old-school, but the classic method of writing themes using CSS is definitely my preferred method. this update and the others that you have described are incompatible with the theme i've already w

[2016-01-29 13:24] gnandretta commented on #294
@maxlapides thanks for your feedback! With the current customization mechanism an HTML or CSS change is all it takes to break a customization. The `primaryColor` option was a design decision made exclusively to improve that situation. It allows us to take care of the changes needed to make it work on newer versions of Lock. And, if for some reason we need to change it for another option, we will b

[2016-01-29 16:37] sethsamuel commented on #225
This looks to be fixed with `npm@3.7`.

[2016-01-29 17:01] cristiandouce commented on #225
:boom:

[2016-01-31 17:18] jphillips05 opened #306 "lock.show seems to break angular2"
I have an issue open with the angular repo but wanted to leave this here also incase there is someone working with both.

https://github.com/angular/angular/issues/6752

[2016-02-03 02:24] joshuarh commented on #225
Unfortunately I'm still encountering this issue with `node@5.5.0` and `npm@3.7.1`, even after reinstalling all my `node_modules`. Has anyone else had success with this with the newest NPM?

[2016-02-03 02:25] rhinoceraptor commented on #225
It worked for me on ```npm@3.7.1``` and node ```5.5.0```.

[2016-02-03 02:46] joshuarh commented on #225
Interesting. OK, I was able to get it to work after installing a fresh `node` and `npm`, and reinstalling all my `node_modules` again.

[2016-02-03 06:05] mpretty-homepass opened #307 "A0WebKitViewController not calling failure block on timeout"
When a connection has a timeout the A0WebKitViewController clears out the reference to it's failure block before it actually gets called:

<img width="817" alt="screen shot 2016-02-03 at 4 56 14 pm" src="https://cloud.githubusercontent.com/assets/15862619/12774280/652c58a4-ca97-11e5-9463-bad692bb07ee.png">

The issue is because 'dismissViewControllerAnimated:' won't call it's completion block unti

[2016-02-03 13:02] hzalaz commented on #307
@mpretty-homepass I think you posted in the wrong repo since this is the web implementation of Lock. I've added the same issue in the correct repo auth0/Lock.iOS-OSX#222 so I'm closing this one

[2016-02-03 13:02] #307 closed

[2016-02-03 16:13] cancan101 opened #308 "Why pin node version"
see: https://github.com/auth0/lock/blob/b0a587953370d746a9a446bf6730c824d3958d65/package.json#L83

this yields warnings.

[2016-02-03 17:36] cristiandouce commented on #308
@cancan101 What warnings? Could you be more specific with context?

[2016-02-03 17:43] itajaja commented on #308
when I do `npm install`:

[code]

pinning to a specific node version is not a convention in other npm packages as far as I know.

Maybe you want something less constraining, like https://github.com/webpack/webpack/blob/master/package.json#L63-L65 or is there a specific reason you are targeting 4.2.3 only (it must be a good one :D)?

[2016-02-03 18:11] cristiandouce commented on #308
It was originally moved by the LTS from NodeJS. But you are right, we shouldn't be pinning that strict.

Although... changing it to `4.x` will still be throwing you that warning since you are using `node@5`...

[2016-02-03 18:12] itajaja commented on #308
so why just not do `"node": ">=4"` ?

[2016-02-03 18:15] cristiandouce commented on #308
https://github.com/auth0/lock/commit/b5b8d67f56a94ee8500cd103dacd950fbf267354
Fixed :point_up:

[2016-02-03 18:15] #308 closed

[2016-02-03 18:17] itajaja commented on #308
thanks!

[2016-02-03 18:20] cristiandouce commented on #308
:dancers: np!

[2016-02-03 20:36] viz opened #309 "pre-population of email field from options object in signup call"
Proposed Lock enhancement:

When opening Lock for a new signup, I have an email address provided by an upstream form which I'd like to be able to populate into the Lock email field so that the user doesn't have to type the email address in again.

Preferably, I'd just add email to the options object which could be used to populate the email field.

[2016-02-05 20:38] nicosabena opened #311 "Corporate credentials message at signin can't be translated"
The signin panel shows this message: "Please enter your corporate credentials at [domain]", and the message can't be customized to other language, it's hard-coded in https://github.com/auth0/lock/blob/master/lib/mode-signin/signin.ejs.

[2016-02-08 08:40] motin opened #313 "Sign-in incorrectly switches to redirect mode after concatenating and uglifying "auth0-lock.js" (mangle: false) - resulting in broken sign-in process"
Before concatenating and using uglify (mangle: false), sign-in with username+password works fine, no redirects, proper handling of sign-in events and token/profile are set properly in local storage.

After concatenating and using uglify (mangle: false), auth0 incorrectly uses redirect mode after entering username+password resulting in a broken login flow, where the user is redirected to a blank pa

[2016-02-08 13:46] caalberts opened #314 "Mocha testing with Auth0Lock"
I'm testing an ES6 React application with Auth0Lock bundled through webpack based on this [example](https://github.com/auth0/lock/tree/master/examples/webpack#running-the-example).

Running mocha with `babel-register` gives me `Syntax Error: Unexpected Token <`
[code]

I added ejsify compiler and now I get `Error: Cannot find module 'package.version'`
[code]

Any help will be much appreciated.

[2016-02-08 21:29] seawatts commented on #240
Also seeing this when integrating with ember.js

[2016-02-09 01:50] mohislm commented on #128
I'm also getting serious issue because of this. It's dumping all those urls in the JS file:
/home/ubuntu/.strider/data/auth0-lock-56b3b5696bc94eaa63cbfca7/standalone.js

FYI: I'm using gulp, bower, browser-sync build system. When I run my angular app locally it reference from individual file (using <script> tags). But when I concatenate all JS files and create a single vendor.js, then the issue oc

[2016-02-10 13:22] gnandretta commented on #313
Hi, if the concatenation in your build process keeps the order of dependencies try specifying them as follows:
[code]

If the previous doesn't work could you please provide us with a minimal sample project where the error is happening to make it easier to debug?

[2016-02-10 13:24] gnandretta commented on #314
Hi, it looks like you are missing the [packageify transform](https://github.com/auth0/lock/blob/59dd50523d780430ce430e753d91443b101ecea6/examples/webpack/webpack.config.js#L16).

[2016-02-10 13:26] gnandretta commented on #128
@mohislm hi, what issue are you having?

[2016-02-10 14:00] caalberts commented on #314
How can I include packageify transform when running mocha? I'm using ES6 Babel transpiler too, so the current mocha script is `mocha --compilers js:babel-register,ejs:ejsify`.

[2016-02-10 14:34] gnandretta commented on #314
I don't know if you can. It looks like you'll need to create the bundle with webpack before running the tests, see webpack [docs](https://webpack.github.io/docs/testing.html#compile-and-test).

[2016-02-10 14:34] #314 closed

[2016-02-11 01:44] mohislm commented on #128
First of all, for God's sake please **OPEN** this issue. It still says: "Closed"!!!

The issue is most likely because you're using browserify for `auth0-lock` and `auth0-angular`. So when in my dev environment (localhost) I'm loading all the dependencies (i.e. these two modules) with separate script tags, everything is cool. However, when I concatenate these two with other modules/files (i.e. angu

[2016-02-11 04:37] bryanvaz commented on #86
Hi we could use this as well. We are currently using a custom rule to block blacklisted domains (see below), however we want the lock widget to display our error message instead of redirecting the user to an error page (this behavior is causing attrition on our site).

Rule Code:
[code]

Cheers,

[2016-02-11 20:24] gnandretta commented on #86
@bryanvaz Hi! could you please provide more details so we can track this down
- How are you constructing and showing the Auth0Lock instance?
- What is the connection's strategy that causes the issue?

I've tried with several connection and I was not able to replicate the issue.
Thank you for your help.

[2016-02-17 18:30] llops commented on #208
Hi @cdroulers @hiroshi I had the exact same error on windows, and this code #300 solve it

[2016-02-19 16:24] yvonnewilson commented on #273
Was just going through open issues - any update on this that I could share with customer?

[2016-02-20 00:31] gnandretta commented on #273
@yvonnewilson a new look was introduced in version 8.0.0 and we no longer show the "invalid" message. Would it be possible for the customer to upgrade to the latest version?

<img width="373" alt="screen shot 2016-02-19 at 9 25 49 pm" src="https://cloud.githubusercontent.com/assets/120195/13192925/d7d04554-d74f-11e5-96ce-a71bb52a31fd.png">

[2016-02-20 00:34] yvonnewilson commented on #273
Thx, I will just tell them that is the way to get the fix to give them incentive! ;-)

[2016-02-20 00:39] #273 closed

[2016-02-20 00:39] cristiandouce commented on #273
:dancers:

[2016-02-23 15:08] RobbertWolfs commented on #314
I have the same problem.. Any solutions yet?

[2016-02-23 21:43] viz opened #320 "Feature request: ability to specify flash message when opening lock"
I'd like to be able to specify a flash message through the options when opening lock.

Use Case:
When being redirected to the signup page on our application, we include an email address as a query parameter which we verify against our API before opening lock for signup. If the email address is taken, we display a flash message and then redirect to our login page which then displays lock in signin

[2016-02-24 09:45] RobbertWolfs commented on #314
I tried bundling my files with webpack but It still failed on the package.version like above..

[2016-02-25 17:22] seiyria opened #322 "https-certs breaks build process for android"
Today my gradle process for ionic builds updated and now I get this error on fresh builds:

[code]

Can this be ignored by bower so it doesn't automatically install? [Ignoring files and folders is pretty simple](http://stackoverflow.com/questions/18245394/ignore-in-bowers-bower-json). This problem is also present on auth0.js, too.

[2016-02-25 17:40] seiyria commented on #322
@gnandretta did you want me to open an issue on auth0/auth0.js too?

[2016-02-25 17:45] gnandretta commented on #322
@seiyria there's no need for that, thanks!

[2016-02-25 17:46] seiyria commented on #322
thank you for getting this taken care of so quickly!

[2016-02-25 17:46] #322 closed

[2016-02-29 19:03] dev101 opened #324 "$auth0.decodeJwt doesn't handle non-ascii payload properly"
I wish `Auth0Lock.$auth0.decodeJwt` could [properly decode UTF8](https://developer.mozilla.org/en-US/docs/Web/API/WindowBase64/Base64_encoding_and_decoding#The_Unicode_Problem) payload, like [jwt.io does](http://jwt.io/?value=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwidXRmIjoi0JHQm9CQLdCR0JvQkCJ9.M3Wi7AiLHbAlUOdWq1rI2-2KSoXSUMb3VHdHHPe24eI).

`Base64.decode` should decode/esc

[2016-03-01 12:42] dev101 opened #325 "signin:userClosedPopup and signin:userConsentFailed never displayed"
Condition to display [signin:userConsentFailed](https://github.com/auth0/lock/blob/master/index.js#L1309) and [signin:userClosedPopup](https://github.com/auth0/lock/blob/master/index.js#L1306) should be changed to inspect `err.details.error_description` instead of `err.message`, e.g.

from
`if (err.message === 'access_denied') {`
to
`if ('unauthorized' === err.code && err.details && err.details.er

[2016-03-02 20:32] rolodato opened #327 "too_many_attempts response is not i18nable"
* Try to log in with invalid credentials to a DB connection 10 times
* Receive this error message with `"code": "too_many_attempts"`

There is no dict key to customize this text as of today.

[2016-03-04 18:56] swarajban commented on #188
@cristiandouce Would be great if your last solution was documented. I agree with the decision to keep `show`'s callback exclusively for authentication events, but I think you should communicate that the callback isn't called when the lock is hidden. When reading the [docs](https://auth0.com/docs/libraries/lock), there is no indication that people even need the [events](https://auth0.com/docs/libra

[2016-03-04 19:02] swarajban commented on #188
Also @cristiandouce, looks like there is no `lock.off`. There is only `removeAllListeners` and `removeListener`

[2016-03-08 21:50] yvonnewilson opened #332 "Customizations to Lock don't show in change password screen"
https://auth0.zendesk.com/agent/tickets/6150

Customer made style changes (color etc) to Login screen in Auth0 dashboard (Login page tab) and these changes show up in Lock for login mode but not for change password mode.
Customer needs the customizations to show up in change password mode also.

Changing something like dict: 'es' works for both, but style changes do not, so behavior is inconsisten

[2016-03-09 17:18] jmls commented on #111
and I've hit it again. this is getting silly

[2016-03-09 22:47] gnandretta commented on #332
@yvonnewilson I've tried setting the `primaryColor` option to change the color of the submit button and the header and it works on every screen. Is the customer using that option? how is changing the styles? is using CSS?

[2016-03-10 06:08] arcseldon commented on #332
@gnandretta - primaryColor does not work for me :(

Here is code snippet:

[code]

Then login / reset password looks like this:

![login1](https://cloud.githubusercontent.com/assets/2599332/13660898/79bec3a0-e6d1-11e5-8ce2-1ab2e052a127.jpg)

and the password reset screen (after clicking link in email to change password) looks like this:

![changepassword1](https://cloud.githubusercontent.com/asset

[2016-03-10 13:20] gnandretta commented on #332
@arcseldon customization don't show up in the widget on the second screenshot becasue is not lock

[2016-03-10 13:30] arcseldon commented on #332
@gnandretta - appreciate your reply, and I realise this.. but am getting a lot of tickets where users are basically saying this destroys the user experience to the extent that they cannot support our change password flow due to the inconsistencies in styling etc.  There is a valid point to be made that this is at odds with the rest of the Lock experience.... from an end-user perspective.

[2016-03-10 13:32] gnandretta commented on #332
@arcseldon yes you're right, I've already let the design team know about this

[2016-03-10 15:51] benjick opened #333 "Error: 0:"
Getting this not so helpful error "sometimes".

[code]

How can I debug this?

[2016-03-11 09:12] arcseldon opened #334 "Inconsistency between browsers & hovering over forgotten password text"
The links on the default login page for forgotten password or "not my account" do not look to uses like they are clickable in Firefox. the cursor does not even change when hovering over the text. This is different than in Chrome, is it known and will it be addressed?

I am using Firefox 44.0.2 and this is a sample of the screen I am talking about with my cursor over the clickable text.

When I use

[2016-03-13 10:54] arcseldon commented on #334
Images show below:

![image001](https://cloud.githubusercontent.com/assets/2599332/13728272/60222c1c-e955-11e5-82f7-c895edfceeb5.png)

![image002](https://cloud.githubusercontent.com/assets/2599332/13728274/66bfb6fc-e955-11e5-9dfa-0fcf6ee1ccc5.png)

[2016-03-16 17:29] rickyrauch commented on #334
@arcseldon thanks for reporting this, we are working to fix it.

[2016-03-22 18:07] michaek opened #339 "Submitting login form via return in mobile safari causes infinite spinner"
This is happening at least in Lock 9.0.0 and 9.0.1, and can be reproduced in the [Playground](http://auth0.github.com/playground). I was not able to reproduce this issue with the iOS simulator, but I am reliably on a real device.

[2016-03-22 20:13] acacia314 commented on #320
Use Case:

We have some features that are only available to logged in users. When someone who is not logged in tries to use such features, the login window shows. It would be nice to display a message like "Sign up to access premium features"

[2016-03-23 11:03] raoabishay commented on #215
+1

[2016-03-23 11:08] raoabishay commented on #339
+1

[2016-03-25 19:06] mattnull commented on #339
+1

[2016-03-27 04:45] aug2uag commented on #111
I'm dealing with this issue in Meteor at the moment; works locally as-is, and not with deployed build

[2016-03-31 00:39] dharness opened #340 "Additional Signup Fields do not render"
When adding additional fields with:

    additionalSignUpFields: [{
      name: "address",
      icon: "https://example.com/assests/address_icon.png",
      placeholder: "enter your address",
      validator: function(address) {
        return address.length > 10;
      }
    }]

as per the example, nothing is shown.

[2016-03-31 12:46] gnandretta commented on #340
Hi @dharness, the options are provided to the constructor in the new version:

[code]

We also renamed some options you are using (hoping to make their meaning clearer):
- `allowSignUpAction` was renamed `allowSignUp`.
- `socialBigButtons` was replaced by `socialButtonStyle` which takes either `"big"` or `"small"`.

[2016-03-31 14:38] doapp-ryanp opened #341 "using 'last time sign-in' after period of time in pop-up mode, switches to re-direct"
Steps to reproduce:
1. Put lock widget into pop-up mode, use Auth0 database connection.
2. login
3. Logout from web app (but not Auth0)
4. Go back to login page, modal shows "Last time you signed in using..."
5. Do no login, leave page with modal open for a while (I left it over night, but my guess is the bug happens if you are in modal when token expires)
6. After token expires, click on the "Las

[2016-03-31 16:59] dharness commented on #340
@gnandretta tremendous help! Thank you!

[2016-03-31 16:59] #340 closed

[2016-03-31 21:54] dharness opened #343 "Callback function is run immediately in v10"
Using the new configuration method, placing the callback in the constructor:

    var lock = new Auth0Lock(clientId, domain, {}, function(err, result){
        alert('breakast is important')
    });

runs right away. Is this the desired behaviour? Why does this happen? How can I prevent it?
http://puu.sh/o1et5/9004584b7c.png

The function does not appear to run on login either. Is there something

[2016-04-06 18:47] arg20 commented on #111
hit by this too, why is this closed??

[2016-04-06 19:22] gnandretta commented on #111
@arg20 can you provide a sample that reproduces the issue so I can debug it?

[2016-04-09 00:48] eugeniop opened #348 "password requirements tooltip covers the password field instead of appearing above it on IE9"
I've gotten a report from one of our users that when attempting to reset their password, the password requirements tooltip covers the password field instead of appearing above it. I've confirmed that this only appears to happen on IE9.

We are currently using v7 of Lock. I attempted to check if this issue persists on a newer version of Lock, but the playground page does not work for IE9 (or when e

[2016-04-12 13:32] gnandretta commented on #343
Hi @dharness, Lock now works on redirect mode by default and the callback is run every time you instantiate the widget so you don't have to worry anymore about stuff like parsing the hash and getting the user profile.

I've updated the [docs](https://auth0.com/docs/libraries/lock/v10) with more details about the changes. Hope that helps.

[2016-04-12 13:32] #343 closed

[2016-04-13 13:10] donjerick commented on #339
+1

[2016-04-14 00:48] bbar opened #353 "[Version 10] Invariant Violation with React and Webpack"
My application is targeting react v15.0.1 and auth0-lock v10. Everything's being bundled together by Webpack.

[code]

`lock.show()` throws the following:

Uncaught Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: h

[2016-04-18 13:35] gnandretta opened #355 "Popup freezes when Yandex permissions are not granted"
##### Steps
1. Enable a Yandex connection.
2. Show Lock in popup mode.
3. Attempt to login with Yandex, enter user and pass but in the next screen forbid permissions.

[2016-04-18 18:45] matiishyn commented on #111
OMG, I was getting this error, I didn't even realised it was about Auth0 :(

[2016-04-18 18:51] matiishyn commented on #111
what a silly issue. I spent so much time to find out at least what was happening

[2016-04-18 20:09] gnandretta commented on #111
Hi @matiishyn.

We have seen that people having this issue always use auth0-angular and their bundle includes auth0-angular before auth0.js or lock. In order for auth0-angular to work it must come last, as stated in the [README](https://github.com/auth0/auth0-angular#dependencies). If that doesn't fix you problem, please open a new issue in the [tracker](https://github.com/auth0/auth0-angular/issu

[2016-04-18 20:15] matiishyn commented on #111
Yes, it works now. Thank you for support

[2016-04-19 19:41] am17torres opened #356 "Uncaught TypeError: Cannot read property 'connections' of undefined"
I have a lock widget that only has an ADFS connection enabled as a parameter to locks `show` method:

[code]

When a user types in `email@gmail.com` I get the following error:
Uncaught TypeError: Cannot read property 'connections' of undefined index.js:1225 which I traced back [this line](https://github.com/auth0/lock/blob/5e8f910e3b12375bb9ddd5aa723fbd0d03c7eb30/lib/options-manager/index.js#L520)

[2016-04-19 20:28] colllin opened #357 "Call callback with error if user closes auth dialog"
What do you think about this feature?

Is there some other way to detect that the user abandoned the lock dialog?

The idea is that when I call `lock.show(...)`, I want the callback to be called when the lock flow ends, regardless of the outcome.  Right now, there's no way to know that the user abandoned the login, so if I wanted to redirect somewhere if the user abandons the flow, there's no way

[2016-04-25 18:20] Harendra108 opened #360 "uncaught error: cannot find module 'undefined' --> using gulp, react and flux"
I didn't get any compilation error
But when I am running gulp, the browser opens and nothing comes up except for the above error in the bundle.js file
Did anyone face the similar issue ever using gulp, react and flux?
If yes, please let me know how to resolve it

[2016-04-25 22:48] Brightergy-SamarAcharya opened #362 "Privacy badger blocks lock.js"
I just discovered that auth0 integration is not working on firefox when I've [Privacy Badger](https://www.eff.org/privacybadger) installed. On firebug, I can see that the http://cdn.auth0.com/js/lock-9.0.min.js is not loaded when privacy badger is enabled. I've not gone into more details on why privacy badger is preventing loading of this javascript but its weird to me. Any idea?

[2016-04-26 18:53] NiXXeD commented on #113
We just ran into this as well, however the CDN minified version is ~155k. Using browserify with a `require('auth0-lock')` gets me the 556kb version. We're sticking with the CDN for now.

[2016-04-26 18:57] jzaefferer commented on #113
Any idea how the CDN version is built?

[2016-04-26 19:38] protege527 commented on #340
I'm having the same problem. I can't get the custom signup fields to show. Here is the code I am using:

        var options = {
            'theme': {
                'logo': 'img/Icons-big.png'
            },
            'container': 'auth0_form',
            'auth': {
                'redirectUrl': '<omitted>'
            },
            'additionalSignupFields': [{
                name: "addres

[2016-04-26 19:43] gnandretta commented on #340
Hi @protege527,

Option names are case sensitive, try with `additionalSignUpFields` (capital U)

[2016-04-26 19:53] protege527 commented on #340
That was it. It's works great. The property was added to the user metadata as expected. Thanks!

[2016-04-26 20:01] gnandretta commented on #113
Hi @NiXXeD and @jzaefferer,

The script in the CDN is built with the grunt task that is published in this repo. It uses browserify to make the bundle and uglify to minify it. The script is bigger than the ~155k that are actually transferred because is compressed with gzip. You can configure your web server to do the same.

[2016-04-28 11:00] jzaefferer commented on #113
Turns out the non-gzipped size (which is a lot easier to compare here) is 729kb. So the CDN build is even worse.

[2016-04-28 12:28] jfromaniello commented on #113
**some ideas**

I think it will help to know where is the size going, like having a graph.. for instance which dependency is bigger. I just tried to remove underscore and I think the result doesn't worth the hassle:

- `auth0-lock.min.js`: `692K`
- `auth0-lock.min.js.gz`: `148K`

what can we do to figure where is the space going?

The inlined css does takes a big chunk of this:

- `lib/css/main.mi

[2016-04-28 12:33] woloski commented on #113
I would put focus on Lock10 at this point

[2016-04-28 13:03] jzaefferer commented on #113
Is there any way to track that? I found a v10 label, but its not in use, and there are no milestones.

[2016-04-28 17:09] brentshields opened #366 "[v10] lock.getProfile throws TypeError if passed a token without a . character"
I realize that this is not a valid token, but I think the callback should be called with the error instead of throwing here. It already checks for a falsy token or a token that is not a string and in those cases it invokes the callback with an error. But if you pass a string without a `.` it throws:

`Uncaught TypeError: Cannot read property 'length' of undefined`

This is because `Auth0.decodeJwt

[2016-05-05 10:38] ziluvatar opened #373 "Signup. Username is sent even when it is not required"
On signup, Lock shouldn't send the username to the server when the username is not required/needed by the connection.

So that instead of [Lock copying the email value if username is not required](https://github.com/auth0/lock/blob/dc63665752eec8d90c884b8282f9a112f988d98b/lib/mode-signup/index.js#L283) it should not send the username at all.

[2016-05-05 15:08] hzalaz opened #374 "Show error message when username is invalid"
During SignUp if the username is invalid the field is only marked as invalid without any message.

![pasted image at 2016_05_05 11_59 am](https://cloud.githubusercontent.com/assets/895992/15047175/104ca27e-12ba-11e6-97d8-d227cc58a1fc.png)

[2016-05-05 19:59] dleeward opened #375 "Spaces not allowed in Username and error message missing"
When a user enters a username containing a space, Lock highlights the field but does not give an error message indicating that you cannot use a space. But WordPress allows spaces in usernames, so the widget should have some options in setup to specify what types of characters are allowed. This is a blocker for us implementing Auth0 in production. #374 discusses the error message being missing, but

[2016-05-05 20:16] hzalaz commented on #375
@dleeward we are going to fix the missing message error soon (https://github.com/auth0/lock/issues/374).
About allowing spaces in usernames, currently the Auth0 API has the following restrictions regarding usernames:

* Username can only contain alphanumeric characters and '_'.
* Username cannot have more than 15 characters.

So even if we allow spaces the server, the request to signup will fail b

[2016-05-05 20:19] dleeward commented on #375
I assume you will put that in the error message.

[2016-05-05 20:21] hzalaz commented on #375
Yes

[2016-05-05 20:30] hzalaz commented on #375
@dleeward will be closing this one in favor of #374. If you want please submit a feature request [here](http://feedback.auth0.com) so we allow this in the Auth API. We are enforcing this since this can be used to authenticate instead of the email with the API.
If you need something like a display name, you can store it inside `user_metadata` object and then use it in your site.
Currently Lock 9 do

[2016-05-05 20:30] #375 closed

[2016-05-05 21:22] dleeward commented on #375
That wold be helpful for new users if it can be integrated into WP-Auth0 but won't help with migrating current users.

[2016-05-07 17:49] lricoy opened #376 "White space on bottom when running/simulating on mobile device"
After following the quick start and solving some issues with the [angular-jwt installation](https://github.com/auth0/angular2-jwt/issues/82), the only thing left bothering me is that when I use the lock widget on the mobile device, I get a white space on the bottom of it.

I think is something related to the error messages reserved space, because when there is a error, the widget becomes "full".

[2016-05-11 21:30] schwer opened #384 "this.auth0Strategies is undefined"
I can reproduce the following error in firefox version 46.0.1 (though there is evidence this exists in other browsers).
With lock-9.1.4.min.js and angular-auth0-4.1.0.

To reproduce, restart firefox. Visit a page with the lock widget immediately after restarting. The issue goes away after a refresh.

I see
![image](https://cloud.githubusercontent.com/assets/688963/15197153/e1740eb8-179d-11e6-8a0c-

[2016-05-11 21:41] hzalaz commented on #384
@schwer do you have any sample we can use to reproduce it? (or maybe a site you are using that can be accessed by us).

Also, we you logged in to the site where you see this error?

[2016-05-12 14:05] schwer commented on #384
A little more research- I think this issue might be better suited for the auth0 angular repo. I observed a race condition when executing auth0-angular's 'auth.signin' method. The method was being invoked before the Auth0 Lock module was properly initialized.

I created a work around by listening for the 'client loaded' event on the Auth0 Lock library before executing the auth.signin method.

My pr

[2016-05-12 14:25] gnandretta commented on #384
Closing because the issue was moved to auth0/auth0-angular#260. Thanks @schwer.

[2016-05-12 14:25] #384 closed

[2016-05-17 16:32] colllin opened #393 "UX issues"
Have you guys done any user testing with the Login / Signup toggle?  We're seeing huge issues there with knowing which one is selected, even with the heading directly above.

Another issue we're seeing is not recognizing the submit button as a button.

We're planning to write custom CSS to try to fix these issues.  Would you be interested in us submitting those changes as a PR if we see success?

[2016-05-17 22:45] dleeward commented on #393
We had same issues In our initial testing. If you don't share CSS on GitHub, please share with us.

[2016-05-17 23:04] rickyrauch commented on #393
@colllin thanks for the feedback, we are going to work on new concepts for this tab component this week.

[2016-05-18 11:58] nicosabena commented on #185
Was this ever documented?

I'm finding the exact opposite behavior: the popup window is not closed (fails) when Protected Mode is **disabled**.
The "Local Intranet" zone (the one IE uses when browsing `localhost`, and possible internal sites in a corporate environment) has Protected Mode **disabled** by default. When enabling it, it works ok.

This is the default:
![Imgur](http://i.imgur.com/dL5IW

[2016-05-18 15:36] michaek commented on #71
I'm was seeing this as a current issue for Lock 9.2 in Chrome on iOS, but I updated the installed Chome to version 50, and I am no longer able to reproduce it. Are folks who were seeing this issue able to reproduce with a more recent version of Chrome?

[2016-05-18 15:38] michaek commented on #214
I was not able to reproduce this issue after upgrading to Chrome 50 (current version as of this comment). Are you still seeing the issue?

[2016-05-18 17:09] stuartleyland commented on #242
Is there any update from the Auth0 team on this issue? Are there any plans to make the Auth0 Lock component work on isomorphic apps?

[2016-05-18 17:34] gnandretta commented on #242
Hi, we are currently focusing in a new version of Lock and isomorphic support is not a priority right now. Once we complete the new version we'll review this and see what kind of support we could provide.

[2016-05-18 17:47] charlierudolph opened #395 "feature request: more flexible show"
I would like to show lock with both the login and sign up tabs, but have it start in the sign up tab.

As far as I can tell this is impossible with the current API.

[2016-05-18 18:12] gnandretta commented on #395
Hi, this is possible in v10, you need to specify the `initialScreen: "signUp"` option.

The final version has not been released yet but a beta is available. More information is available at https://auth0.com/docs/libraries/lock/v10.

[2016-05-18 18:12] #395 closed

[2016-05-18 18:16] charlierudolph commented on #395
Awesome. Thanks! Any idea when the official version of v10 will be released?

[2016-05-18 18:33] gnandretta commented on #395
Soon 😄
In a couple of weeks we will push a release candidate.

[2016-05-19 00:25] monteslu opened #396 "need _isUsernameRequired() part of locals for ejs templates"
Current npm version has error after bundling.  The template is trying to refer to _isUsernameRequired in a `with(locals)` block (ejs template output stuff).

Likely have to add this function to the OptionsManager:

![locals](https://cloud.githubusercontent.com/assets/423800/15378998/54dd55e2-1d1d-11e6-9708-8d93d9fbd15e.png)

Otherwise error is thrown when trying to bring up lock dialog:

![undefin

[2016-05-19 15:22] monteslu commented on #396
Found it.

calling ` _.extend({}, foo, bar)`  will strip any prototype functions off of `foo`.

In this case, the `OptionsManager` just becomes  a plain object and we no longer have `_isUsernameRequired()` as a member function.

So a couple of options:

### Remove that empty object in places like:
[code]
and

[code]

### Alternatively swap underscore for lodash, which I believe keeps the prototype

[2016-05-19 15:38] gnandretta commented on #396
Hi! thanks for the detailed report, i'll take at look at this as soon as I get a chance.

[2016-05-19 18:12] theopak opened #397 "Password Policy panel covers the fields above it"
![image-2016-05-19-13-12-20-203](https://cloud.githubusercontent.com/assets/693878/15404276/b4fcdf80-1dca-11e6-8043-3cdc01a4ad79.png)

Hi. Our developers have really been enjoying how easy it is to use Auth0 Lock! However, our users have been complaining about the signup experience. Above is a screenshot that someone sent me.

See how the password policy panel covers the email address that they ju

[2016-05-19 19:09] gnandretta commented on #397
Hi, thanks for the feedback. An alternative is to show the password policy popup to the right of the field, or not to use a popup, like we do for smaller screens
<img width="450" alt="screen shot 2016-05-19 at 4 07 10 pm" src="https://cloud.githubusercontent.com/assets/120195/15406232/026237be-1ddc-11e6-8b0d-c3de2e0364d4.png">

[2016-05-19 19:30] ntotten opened #398 ""The lock" instead of "Lock""
In the lock widget that's in Auth0.com https://auth0.com/ if the closable option is set to `true` and the widget is closed, then it shows a message that has a reference to "The lock" instead of lock.
![thelock](https://cloud.githubusercontent.com/assets/5016479/15194664/da411038-178d-11e6-95fd-b63989215c80.JPG)

[2016-05-19 19:33] ntotten commented on #398
Moved to https://github.com/auth0/auth0-website/issues/599

[2016-05-19 19:33] #398 closed

[2016-05-19 19:57] charlierudolph opened #399 "changelog format"
In the future, please update the changelog format to not just be a list of the commits (you can look at the commit history for that or just give a link that compares the release with its previous) and instead list the changes from a user / developer perspective.

For examples 9.2.1 could be

[code]

The changelog doesn't provide much value if the user has to figure out for themselves what actually

[2016-05-19 20:00] hzalaz commented on #399
We'll change this for the new version following the conventions of http://keepachangelog.com, probably using https://github.com/skywinder/github-changelog-generator or something similar.

[2016-05-22 17:08] okonovalenko commented on #71
+1 can reproduce on Safari iphone 6 SE, the popup does not go away.

[2016-05-23 20:44] theopak commented on #397
Perfect! Thanks for the prompt reply.

[2016-05-23 20:44] #397 closed

[2016-05-23 23:06] MrPrashantT opened #401 "In popup mode the popup does not close in IE11"
Related to closed issue: #185
@nicosabena:

I'm finding the exact opposite behavior: the popup window is not closed (fails) when Protected Mode is disabled.
The "Local Intranet" zone (the one IE uses when browsing localhost, and possible internal sites in a corporate environment) has Protected Mode disabled by default. When enabling it, it works ok.

This is the default:
![image](https://cloud.git

[2016-05-25 13:19] Aedaeum opened #404 "[Question] Custom fields for SSO (lock 10)"
I have a site that I want to set up as invite only. I want to add a mandatory field where the user must enter an invite which is sent with the signup request. This will then be validated through a webhook using an Auth0 rule request to my server. Is it possible to do this with social logins as well (google, facebook, github, etc...)?

[2016-05-25 14:51] colllin commented on #393
Did you guys come up with any new concepts?  If not, we're going to implement the design I pasted above.

Here's another issue we're finding, this time one that I can't fix with CSS:
![image](https://cloud.githubusercontent.com/assets/185923/15544145/ee065534-2254-11e6-95d0-8041e443be62.png)

It seems that when a Rule redirects to a different tab, it's not getting focus / the user isn't seeing it.

[2016-05-26 13:47] juhaelee opened #406 "Upgrade to react 15 (lock 10)"
Lock 10 has a dependency on React 0.14. Can we upgrade it to react 15 and move it to peer dependencies as well?

[2016-05-27 15:44] lilliann123 commented on #183
Centralpoint really is an extraordinarily helpful CMS compared to the other ones out there.  The single sign on piece lets me integrate right into ldap/ad to organize the sites users from the get go. I can export records from the system as word docs or pdfs right on the fly. The document management system lets me create 'portions' in the document that are dynamic, so when one person signs in they

[2016-05-27 16:07] hzalaz commented on #183
Already fixed by #191

[2016-05-27 16:07] #183 closed

[2016-05-29 18:45] psteininger opened #413 "Lock does not work with ember-cli-mirage"
When ember-cli-mirage is enabled in Ember JS app, the login process hangs, and does not succeed.
Apparently there is an issue between `pretenderjs` and `reqwest` library. https://github.com/auth0/auth0-ember-simple-auth/issues/40.

I will try to investigate further, but not sure how to detect the underlying issue

[2016-05-30 22:39] nicosabena commented on #401
I think @gnandretta got it right: the problem arises when the application site and the popup site (served from `https://{tenant}.auth0.com`) end up in security zones **with different Protected Mode settings**.

When that happens, `windows.opener` returns `undefined` and the popup can't communicate with its parent.

Usually `localhost` and sites in a corporate network belong to the **Local intranet

[2016-06-01 00:15] prabhatsharma commented on #214
I am still facing this problem on android (5.1.1) , one plus 2 on chrome 50.0.2661.89 . However, people in field can have different versions. How do we handle this. It works perfectly well when I run it in ionic view on same phone.

[2016-06-01 00:23] prabhatsharma commented on #214
Lock version 9.2.1

[2016-06-01 00:36] prabhatsharma commented on #214
Video of the issue https://youtu.be/6TMpiyzjcDY

[2016-06-01 00:41] prabhatsharma commented on #214
The video does not ask for facebook authentication again since I am already authenticated in browser once.

[2016-06-01 10:56] prabhatsharma commented on #214
ok guys. The simple solution is to avoid chrome altogether and use inbrowser app. Install it using following command:

`cordova plugin add cordova-plugin-inappbrowser`

and then your cordova app will not have any trouble closing the external chrome tab/window.

Hope this helps...

[2016-06-01 13:55] gnandretta commented on #406
Hi, we want to solve the compatibility issue before the next release. However, we are not so sure about listing React as a peer dependency.

From [npm docs](https://docs.npmjs.com/files/package.json#peerdependencies).

This will be a problem for people using Lock in an app that doesn't depend on React. Also, it doesn't look like peer dependencies are meant to be used for that (from the same doc pa

[2016-06-01 13:58] juhaelee commented on #406
@gnandretta Yes that would work for me!

[2016-06-01 15:18] beornborn opened #417 "display is not a function"
react 0.15
failed on 3rd step of quickstart
http://prntscr.com/bb1xr1

on clicking sign in I receive lock-9.1.min.js:4Uncaught TypeError: this.display is not a function

[2016-06-01 16:16] juhaelee commented on #406
@gnandretta Just created a pull request if you could take a look!

[2016-06-01 18:14] gnandretta commented on #406
@juhaelee merged, thank you.

[2016-06-01 18:14] #406 closed

[2016-06-01 18:41] juhaelee commented on #406
@gnandretta awesome, could you cut a new release? 🙏

[2016-06-01 19:12] gnandretta commented on #393
Hi @colllin, we are still ironing out some details but this is what it will look like.

<img width="305" alt="screen shot 2016-06-01 at 4 07 37 pm" src="https://cloud.githubusercontent.com/assets/120195/15722256/33dad062-2813-11e6-970e-bf539ca16cdb.png">

With regards to the second question, can you provide more detailed steps to reproduce the issue? please include how you are initializing Lock.

[2016-06-01 19:20] gnandretta commented on #406
@juhaelee we still need to finish some things that will go in the next release, can you use a git dependency to your fork in the meantime?

[2016-06-01 21:50] juhaelee commented on #406
will do, thanks @gnandretta!

[2016-06-01 22:00] colllin commented on #393
@gnandretta 😍  Looks great!  `Auth0` heading is customizable too, or is that part of the logo?

I think this will definitely solve the biggest problem – not knowing which tab is selected.  If we try additional ideas like ensuring that the submit button looks like a button and is clear about what it does, I'll let you know if it has affect on user completion.

Re: the second question.  I'm not sure

[2016-06-01 22:04] dleeward commented on #393
I still don't agree that it is unambiguous. The way that "Signup" is grayed out, it doesn't appear to be clickable. I personally like @collin 's mockup better. I also like text in addition to the > sign.

[2016-06-01 22:29] gnandretta commented on #393
@colllin the heading is customizable too.

When Lock opens the popup it shows the loading indicator and yes that it confusing, we will fix it. But I'm not sure I fully understand your problem. If you show lock with

[code]

it will use redirect mode and won't open a popup. Also the popup window normally opens in the middle of the screen, I am curious about how a user may miss that.

Can you share

[2016-06-02 15:32] colllin commented on #393
@gnandretta We're passing a callback... sorry, I shouldn't have left that part out.  Does that change the behavior?  Now that I remove the callback and set `responseType: 'code'`, I see the redirect to our registration form and back, and I think this is exactly what we want for now.  Thank you.

[2016-06-02 15:35] colllin commented on #393
This is getting off-topic, but it's not clear how to use the `?code=abc123` that comes back from this flow...

[2016-06-02 16:48] colllin commented on #393
Docs for using `?code=abc123` are [here under **Regular Webapp**](https://auth0.com/docs/libraries/lock/types-of-applications#redirect-mode).

Removing the callback from `lock.show()` but not setting `responseType: 'code'` works as expected – the response token is parsed by `lock.parseHash()`.

[2016-06-02 17:19] gnandretta commented on #393
The callback activates popup mode. If possible you should omit it and use redirect mode because it provides a better user experience.

The `code` you were receiving is intended to be used by the server. It can be exchanged for a token. Because you are handling auth in the browser you want a `responseType: "token"` (which in your case is the [default](https://auth0.com/docs/libraries/lock/customiza

[2016-06-03 03:25] Rohit-cheddr commented on #242
Would you guys happen to know of any workarounds for this? Perhaps some way to only initialize Auth0Lock once in the client?

[2016-06-07 22:53] monteslu commented on #396
any movement on this?

Kinda scary having to maintain my own fork :)

[2016-06-09 14:15] gnandretta commented on #396
@monteslu Hi! i wasn't able to reproduce this. I've also verified that underscore's `extend` copies all properties, as stated in the [docs](http://underscorejs.org/docs/underscore.html#section-103).

Can you provide a sample project with the issue?

[2016-06-09 17:11] juhaelee opened #430 "Improve validator function in additionalSignUpFields (lock 10)"
@gnandretta Currently there is no way to show an error text for invalid additional signup fields.

Perhaps the validator function can pass a callback function where if there's an error, the message can be passed through the first parameter like so:

[code]

Or maybe the validator can just be returned a string if there's an error:
[code]

What do you think?

[2016-06-09 18:42] hguillermo opened #431 "Lock doesn't work in a cluster of apps"
I have a cluster (4 boxes running the app) and the login doesn't work correctly. It is logging in correctly because I see in the Auth0 Dashboard Logs that the login was okay. However the login in windows shows up again and again.

I stopped the app in 3 boxes and left 1 running. Everything works great that way. Any ideas?

[2016-06-09 19:28] woloski commented on #431
Hi guillermo, this has nothing to do with Lock. Please open a support ticket.

[2016-06-09 19:28] #431 closed

[2016-06-10 03:39] arcseldon opened #434 "Using Lock 9 with Auth0 SAML Service Provider setup and gmail address login fails"
If you set up Auth0 as a SAML Service Provider for an application (only connection strategy is SAML), and do not associate `gmail.com` domain association, then try to login an error occurs indicating `no connections` on chrome, or `no strategy` on firefox web browsers.

The problem is here:

[code]

This section:

[code]

Despite being a SAML strategoy, and the conn object has an attribute `social

[2016-06-15 14:22] rvetere commented on #242
woaa... such bad news.. extremely disappointing!!!

well a work-around i'm already thinking of -> webpack's require.ensure

the require.ensure will pack away the inner code into a separate module - if you somehow can ask in your code for a "_CLIENT_" or "_SERVER"_ - just to know where you ware.. you can leave it completely out on the server but still lazy load/include it on the client..

it's what

[2016-06-15 14:24] mattkrick opened #437 "promisify lock.show"
Not a huge deal as we can always use a 3rd party promisifying library, but it'd be great to have this built in so we can `const {profile, authToken} = await lock.show()`.

[2016-06-16 06:34] MajidD4t1qbit commented on #242
This is a pretty important issue. I hope you guys prioritize this soon. I used @rvetere 's workaround and made sure I'm only initializing the `Auth0Lock` when my component is being rendered in the browser:

[code]

There might be better workarounds but this worked for me!

[2016-06-16 06:36] Rohit-cheddr commented on #242
I basically did the same thing. Not much other choice.

On Wed, Jun 15, 2016, 11:34 PM Majid Dadashi <notifications@github.com>
wrote:

[2016-06-16 19:18] lobo commented on #339
+1 from a customer as well.

[2016-06-17 07:04] chapati23 opened #444 "[Security Vulnerability] Dependency on qs needs to be updated"
There are 2 known security vulnerabilities in `qs < 1.0.0`:
* https://snyk.io/vuln/npm:qs:20140806
* https://snyk.io/vuln/npm:qs:20140806-1

any reason these shouldn't be updated to 1.0.0?

btw, i'd suggest adding snyk as a git pre-push hook (not affiliated). Been using it in our projects for some months now and it already caught a bunch of critical vulnerabilities in our dependencies that we'd ne

[2016-06-17 10:38] kadikraman opened #445 "[v10] Callback not called after successful login"
When migrating from v9 to v10, callbacks for successful login stopped working. This is our code:

[code]

Although the lock shows up, we log in successfully and see a "Thank you" message, we never receive any log.

[2016-06-17 12:54] Brightergy-BrishaPote commented on #343
@gnandretta we're facing the similar issue here.

Below is our code:
[code]

The `console.log('Called!!!'` executes immediately when the login page is loaded (which is as per your description above(`the callback is run every time you instantiate the widget`). However, when the user is successfully logged in or an error occurred, the callback is not called and we can't get information stored in loc

[2016-06-17 18:29] colllin opened #446 "Why does parseHash require a clientId & domain?"
Could we make it a top-level function instead of an instance-level function?  e.g. `Auth0Lock.parseHash` instead of `Auth0Lock.prototype.parseHash`?  This would allow us to parse the hash immediately on page load, instead of waiting for our environment config to load from our API.

[2016-06-17 19:14] michaek commented on #339
@gnandretta Are you aware that this issue means that Lock is broken in iOS*?

* Unless a user is aware of this issue, and takes the extraordinary step of closing the keyboard and tapping the submit button. I expect almost every user will attempt to submit via the keyboard, thus encountering this issue.

[2016-06-17 19:22] hzalaz commented on #339
@michaek Can you provide more details on how you are configuring lock so we can try to reproduce this? (a link besides the playground will be helpful)

[2016-06-17 19:31] michaek commented on #339
Hi, @hzalaz. I'm not sure why a link besides the playground would be helpful - what I mean is that there's a bug that is reproducible on the playground, and it seems that any other configuration would just introduce spurious variables.

Steps:

1. Visit the playground in Safari on an iOS device.
2. Enter credentials.
3. Submit via the keyboard (pressing return, for example).

Result:

Infinite Aut

[2016-06-17 19:48] hzalaz commented on #339
@michaek because I didn't know if the default options of the playground were enough to reproduce it, since you only said that it could be reproduced there, and I didn't want to introduce spurious variables myself.

Not onto the issue at hand, seems if the popup and sso is disabled it works as expected and also tried with lock 10 to see if we still have the issue but we don't. So a temporary workar

[2016-06-17 19:58] michaek commented on #339
Thanks, @hzalaz, I'll try either or both of those approaches.

[2016-06-20 13:24] dshorowitz opened #448 "[v10] in en.js signUpterms is spelled incorrectly"
Looking at https://github.com/auth0/lock/blob/v10/src/i18n/en.js, the signUpterms value should be signUpTerms.

[2016-06-20 16:47] colllin opened #449 "[v10] The .auth0-lock-last-login-pane button is missing a background color."
![image](https://cloud.githubusercontent.com/assets/185923/16202766/64141fac-36d4-11e6-9485-1bc9df1c6a95.png)

When I hover, I see this:

![image](https://cloud.githubusercontent.com/assets/185923/16202777/6d188c0a-36d4-11e6-9b2c-2ea8e76028ec.png)

[2016-06-20 17:04] colllin commented on #343
For others who find this, it seems this is how we're meant to use v10:

    displayAuthZeroLock: () => {
        if (this.state.lock) return;

        const lock = new Auth0Lock(this.props.env.AUTH0_CLIENT_ID, this.props.env.AUTH0_DOMAIN, {}, (error, result) => {
            console.log(error, result);

            if (result) {
                // Handle logged-in user
                return;

[2016-06-21 15:50] colllin commented on #446
Let's just close this as it's no longer relevant with the v10 API.

[2016-06-21 15:50] #446 closed

[2016-06-21 19:10] gnandretta commented on #448
@dshorowitz thanks! fixed in #452

[2016-06-21 19:10] #448 closed

[2016-06-22 17:53] dshorowitz commented on #449
Also in lock v9, the button with your email is a blue-ish color, not the grey. The blue color is much easier to read.

![untitled-1](https://cloud.githubusercontent.com/assets/11761476/16277392/ba937276-3880-11e6-8ca9-b097c50918b1.png)

[2016-06-22 17:56] dshorowitz opened #456 "[v10] Forgot password doesn't display a "success" screen"
In v10, if I click on "Forgot password" and enter a password, it shows the following screen:

![untitled-2](https://cloud.githubusercontent.com/assets/11761476/16277473/1a35bd4c-3881-11e6-8894-8ae02af6d7a7.png)

There should be a "check your email" success screen after submitting the forgot password prompt, no?

[2016-06-22 18:02] gnandretta commented on #449
@colllin Could you try `10.0.0-rc.1`? If the issue is still there, please let me know in which browsers is happening.

[2016-06-22 18:12] dshorowitz opened #457 "[v10] Uncaught TypeError (0, _blueimpMd.md5) is not a function"
I'm bundling v10 using webpack and I'm getting a bunch of React warnings and uncaught errors

![untitled-3](https://cloud.githubusercontent.com/assets/11761476/16278013/4150433c-3883-11e6-965b-1c0c45a10e73.png)

The React warnings are happening when the lock is initially shown and the errors are happening when you try to enter a password in the forgot password screen.

[2016-06-22 18:18] gnandretta commented on #456
Hi, when you submit the password to start the reset password flow you should get back to the login screen and see a success alert.

Could you please let us know,

- Which version of lock are you using?
- Do you see any errors in the console?
- In which browsers is this happening?

[2016-06-22 18:19] dshorowitz commented on #449
@gnandretta The issue of the grey color is still there in rc.1

[2016-06-22 18:23] dshorowitz commented on #456
I assume you mean "submit your email" instead of "submit the password", but just wanted to make sure.

There is no success alert that shows for me, instead it shows the image I attached in my initial post.

Which version of lock are you using? v10 rc1
Do you see any errors in the console? There is an error relating to "_blueimpMd.md5 is not a function" from gravatar_provider.js on line 43.
In whic

[2016-06-22 18:26] gnandretta commented on #457
Looks like a problem in the bundling process. Do you see those errors when using the [webpack example](https://github.com/auth0/lock/tree/v10/examples/bundling/webpack) from this repo?

[2016-06-22 18:28] gnandretta commented on #449
@dshorowitz I've already passed on your feedback to the design team. In the mean time you override the  background color with CSS.

[2016-06-22 18:31] gnandretta commented on #456
Yes, sorry, I meant "submit your email". This might be related to #457 so let fix that first.

[2016-06-22 19:27] dshorowitz commented on #457
I just downloaded the code for the webpack example you linked to, and ran it. Then I tried resetting my password and got the following errors:

![untitled-4](https://cloud.githubusercontent.com/assets/11761476/16280487/aee2eae4-388d-11e6-99cc-49d852b31bd0.png)

Notice the same error about md5?

I noticed in lib\avatar\gravatar_provider.js you have:

`var _blueimpMd = require('blueimp-md5');`

and